<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>

<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/back-end/header-back}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<!-- start帳戶管理 -->
	<aside th:replace="back-end/aside-back.html"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">

		<main class="main main-layout-seller">
			<div class="special-text-container">
				<h1>
					歡迎回來<br /> 讓我們一起
					<mark class="green">
						<span id="typewrite-text" class="d-inline-block changecontent"></span>
					</mark>
				</h1>
			</div>
		</main>


	</main>
	<!-- End Main -->

	<!-- ======= Footer, 後臺應該不需要footer ======= -->

	<!-- Vendor & Main JS Files -->
	<div th:replace="fragment-js"></div>
</body>
</html>
