<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>EDog</title>

    <script src="loadcss.js"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header class="fixed-top">
      <th:block th:insert="~{/back-end/header-back}"></th:block>
    </header>

    <!-- ======= Sidebar ======= -->
     <aside th:replace="back-end/aside-back.html"></aside>

    <!-- ======= Main ======= -->
    <main class="main main-layout-seller">
      <div class="pagetitle">
        <h1>優惠券清單</h1>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>編號</th>
                      <th>優惠券名稱</th>
                      <th>代碼</th>
                      <th
                        data-type="date"
                        data-format="YYYY/DD/MM"
                        data-sortable="true"
                      >
                        起始時間
                      </th>
                      <th
                        data-type="date"
                        data-format="YYYY/DD/MM"
                        data-sortable="true"
                      >
                        截止時間
                      </th>
                      <th>最低消費</th>
                      <th>已用數</th>
                      <th>可用人數</th>
                      <th>單人可用</th>
                      <th
                        data-type="date"
                        data-format="YYYY/DD/MM"
                        data-sortable="true"
                      >
                        新增時間
                      </th>
                      <th>是否可用</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="">101</td>
                      <td class="">滿3000折100</td>
                      <td class="">QWE123AS</td>
                      <td class="" data-format="YYYY/DD/MM">2024/03/01</td>
                      <td class="" data-format="YYYY/DD/MM">2066/02/01</td>
                      <td class="">3000</td>
                      <td class="">142</td>
                      <td class="">500</td>
                      <td class="">1</td>
                      <td class="" data-format="YYYY/DD/MM">2024/02/22</td>
                      <td>
                        <button class="btn-func">不可用</button>
                      </td>
                    </tr>

                    <tr>
                      <td class="">102</td>
                      <td class="">滿1000折100</td>
                      <td class="">23E123AS</td>
                      <td class="" data-format="YYYY/DD/MM">2024/03/01</td>
                      <td class="" data-format="YYYY/DD/MM">2025/02/01</td>
                      <td class="">1000</td>
                      <td class="">3</td>
                      <td class="">100</td>
                      <td class="">2</td>
                      <td class="" data-format="YYYY/DD/MM">2024/01/22</td>
                      <td>
                        <button class="btn-func">可用</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End Main -->

    <!-- ======= Footer, 後臺應該不需要footer ======= -->

    <!-- Vendor & Main JS Files -->
    <script src="loadjs.js"></script>

    <!-- Local JS File -->
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      type="text/javascript"
    ></script>
    <script>
      // 定義一個自定義事件，用於通知 TwCitySelector 腳本
      var loadjsCompletedEvent = new Event("loadjsCompleted");

      window.onload = function () {
        // 監聽自定義事件，當 loadjs 完成時觸發
        (function () {
          "use strict";

          /**
           * Easy selector helper function
           */
          const select = (el, all = false) => {
            el = el.trim();
            if (all) {
              return [...document.querySelectorAll(el)];
            } else {
              return document.querySelector(el);
            }
          };

          /**
           * Easy event listener function
           */
          const on = (type, el, listener, all = false) => {
            if (all) {
              select(el, all).forEach((e) =>
                e.addEventListener(type, listener)
              );
            } else {
              select(el, all).addEventListener(type, listener);
            }
          };

          /**
           * Easy on scroll event listener
           */
          const onscroll = (el, listener) => {
            el.addEventListener("scroll", listener);
          };

          /**
           * Initiate Datatables
           */
          const datatables = select(".datatable", true);
          datatables.forEach((datatable) => {
            new simpleDatatables.DataTable(datatable, {
              perPageSelect: [5, 10, 15, ["All", -1]],
              columns: [
                {
                  select: 2,
                  sortSequence: ["desc", "asc"],
                },
                {
                  select: 3,
                  sortSequence: ["desc"],
                },
                {
                  select: 4,
                  cellClass: "green",
                  headerClass: "red",
                },
              ],
            });
          });
        })();
      };
    </script>
    <!-- simpletable -->
  </body>
</html>
