<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>EDog</title>

  <script src="loadcss.js"></script>
</head>

<body>
  <!-- ======= Header ======= -->
    <header class="fixed-top">
      <th:block th:insert="~{/back-end/header-back}"></th:block>
    </header>

  <!-- ======= Sidebar ======= -->
  <!-- start帳戶管理 -->
      <aside th:replace="back-end/aside-back.html"></aside>

  <!-- ======= Main ======= -->
  <main id="main" class="main">

    <!-- for room -->
    <div class="pagetitle">
      <div style="
        /* border: solid 1px red; */
        height: 70px;
        "></div>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-11" style="padding-left: 30px;">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">審核賣家資料</h1>

              <!-- 審核賣家資料 -->
              <form>

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">賣家編號</label>
                  <div class="col-sm-2">
                    <div style="
                    ">1001</div>
                    <!-- <input type="text" class="form-control" value="1001" readonly> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">電子信箱</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" value="adc123@gmail.com" readonly>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">公司名稱</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" value="台灣積體電路製造股份有限公司" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">統一編號</label>
                  <div class="col-sm-2">
                    <input type="email" class="form-control" value="22099131" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">公司資本額</label>
                  <div class="col-sm-2">
                    <input type="email" class="form-control" value="259,320,709,920" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">聯絡人</label>
                  <div class="col-sm-2">
                    <input type="email" class="form-control" value="劉德音" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">連絡電話</label>
                  <div class="col-sm-3">
                    <input type="email" class="form-control" value="02-2912-3456" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">分機號碼</label>
                  <div class="col-sm-2">
                    <input type="email" class="form-control" value="9" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">行動電話</label>
                  <div class="col-sm-2">
                    <input type="email" class="form-control" value="0966123456" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label ">營業登記地址</label>
                  <div class="col-sm-5">
                    <input type="email" class="form-control" value="新竹市東區科園里科學園區力行六路８號
                    " readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
                  <div class="col-sm-2">
                    <input type="password" class="form-control" value="pass1234" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">銀行代碼</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" value="812" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">帳戶</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" value="000000000000" readonly>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label">帳號創立時間</label>
                  <div class="col-sm-3">
                    <input type="date" class="form-control" value= "1987-03-21" readonly>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">審核不通過原因</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" placeholder="若審核未通過，請輸入原因..." style="height: 100px"></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-outline-danger btn-notpassed" style="
                      margin-right: 20px;">不通過</button>
                    <button type="button" class="btn btn-outline-success btn-passed">審核通過</button>
                  </div>
                </div>

              </form>
              <!-- End 審核賣家資料 -->
            </div>
          </div>
        </div>

    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer, 後臺應該不需要footer ======= -->

  <!-- Vendor & Main JS Files -->
  <script src="loadjs.js"></script>

  <!-- Local JS File -->
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
  <script>
    // 定義一個自定義事件，用於通知 TwCitySelector 腳本
    var loadjsCompletedEvent = new Event("loadjsCompleted");

    window.onload = function () {
      // 監聽自定義事件，當 loadjs 完成時觸發
      (function () {
        "use strict";

        /**
         * Easy selector helper function
         */
        const select = (el, all = false) => {
          el = el.trim();
          if (all) {
            return [...document.querySelectorAll(el)];
          } else {
            return document.querySelector(el);
          }
        };

        /**
         * Easy event listener function
         */
        const on = (type, el, listener, all = false) => {
          if (all) {
            select(el, all).forEach((e) =>
              e.addEventListener(type, listener)
            );
          } else {
            select(el, all).addEventListener(type, listener);
          }
        };

        /**
         * Easy on scroll event listener
         */
        const onscroll = (el, listener) => {
          el.addEventListener("scroll", listener);
        };

        /**
         * Initiate Datatables
         */
        const datatables = select(".datatable", true);
        datatables.forEach((datatable) => {
          new simpleDatatables.DataTable(datatable, {
            perPageSelect: [5, 10, 15, ["All", -1]],
            columns: [
              {
                select: 2,
                sortSequence: ["desc", "asc"],
              },
              {
                select: 3,
                sortSequence: ["desc"],
              },
              {
                select: 4,
                cellClass: "green",
                headerClass: "red",
              },
            ],
          });
        });
      })();
    };
  </script>
  <!-- simpletable -->
</body>

</html>