
<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<nav
			class="navbar navbar-expand navbar-expand-sm navbar-light bg-seller">
			<div class="container-fluid">
				<div class="collapse navbar-collapse d-flex justify-content-between"
					id="navbarSupportedContent">
					<!-- Start NavBar  -->
					<!-- NavBar--LeftSide  -->
					<ul class="navbar-nav me-auto mb-2">
						<li class="nav-item d-flex align-items-center toggle-sidebar-btn">
							<i class="bi bi-list"></i> <a
							class="nav-link cancel-default-behavior" aria-current="page"
							href="#">選單</a>
						</li>
					</ul>

					<!-- NavBar--RightSide  -->
					<ul class="navbar-nav ms-auto mb-2">
						<li class="nav-item"><a class="nav-link" href="#">[當前登入管理者名稱]</a>
						</li>
						<!-- 不可以登出後瀏覽, 登出後強制退回豋入頁(邏輯不是這裡處理) -->
						<li class="nav-item"><a class="nav-link" href="#">登出</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End NavBar  -->
	</header>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="back-end/aside-back.html"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>編輯買家資料</h1>

			<form id="myForm" method="POST" th:action="@{updateBuyer}"
				enctype="multipart/form-data">

				<div class="col-md-12">
					<label for="inputMemberId" class="form-label">買家編號</label> <input
						type="text" class="form-control" id="inputMemberId"
						name="memberId" th:value="${buyerVO.memberId}" readonly />
				</div>

				<div class="col-md-12">
					<label for="inputThirdFrom" class="form-label">第三方登入</label> <input
						type="text" class="form-control" id="inputThirdFrom"
						name="thirdFrom" th:value="${buyerVO.thirdFrom}"
						placeholder="還不知道要不要做第三方登入,先放著" readonly />
				</div>

				<div class="col-md-12">
					<label for="inputMemberEmail" class="form-label">電子信箱</label> <input
						type="text" class="form-control" id="inputMemberEmail"
						name="memberEmail" th:value="${buyerVO.memberEmail}" readonly />
				</div>

				<div class="col-md-12">
					<label for="inputMemberPassword" class="form-label">密碼</label> <input
						type="text" class="form-control" id="inputMemberPassword"
						name="memberPassword" th:value="${buyerVO.memberPassword}" />
				</div>

				<div class="col-md-12">
					<label for="inputMemberName" class="form-label">用戶名稱</label> <input
						type="text" class="form-control" id="inputMemberName"
						name="memberName" th:value="${buyerVO.memberName}" />
				</div>

				<div class="col-md-12">
					<label for="inputMemberPhone" class="form-label">會員電話</label> <input
						type="text" class="form-control" id="inputMemberPhone"
						name="memberPhone" th:value="${buyerVO.memberPhone}" />
				</div>

				<div class="col-md-12">
					<label for="inputMemberMobile" class="form-label">手機號碼</label> <input
						type="text" class="form-control" id="inputMemberMobile"
						name="memberMobile" th:value="${buyerVO.memberMobile}" />
				</div>

				<div class="col-md-12">
					<label for="inputMemberAddress" class="form-label">地址</label> <input
						type="text" class="form-control mt-2" id="inputMemberAddress"
						name="memberAddress" th:value="${buyerVO.memberAddress}"
						placeholder="請輸入地址" />
				</div>

				<div class="col-md-3">
					<label for="inputIsMemberEmail" class="form-label">信箱是否已經審核</label>
					<select class="isMemberEmail form-select" id="inputIsMemberEmail"
						name="isMemberEmail" th:value="${buyerVO.isMemberEmail}">
						<option value="true">已審核</option>
						<option value="false">未審核</option>
					</select>
				</div>

				<div class="col-md-12">
					<label for="inputPetName" class="form-label">寵物名稱</label> <input
						type="text" class="form-control" id="inputPetName" name="petName"
						th:value="${buyerVO.petName}" />
				</div>

				<div class="upload__box">
					<label for="inputPetImg" class="btn btn-sellerdark">請選擇寵物圖片</label>
					<input type="file" data-max_length="1"
						class="form-control upload__inputfile" id="inputPetImg"
						name="petImg" onclick="previewImage()"
						onchange="hideContent('upFiles.errors');" />
					<div class="valid-feedback">Looks Good!</div>
					<div id="adImgFeedback" class="invalid-feedback">Please
						provide a valid Picture.</div>
					<div id="blob_holder">
						<img
							th:src="@{/back/buyer/DBGifReader} + '?memberId=' + ${buyerVO.memberId}"
							width="200px" height="auto" />
					</div>


					<span class="error" th:utext="${errorMessage}" id="upFiles.errors">${errorMessage}</span>
					<div class="upload__img--wrap"></div>
				</div>

				<div class="col-md-12">
					<label for="inputPetVaccName1" class="form-label">施打疫苗1</label> <input
						type="text" class="form-control" id="inputPetVaccName1"
						name="petVaccName1" th:value="${buyerVO.petVaccName1}" />
				</div>

				<div class="col-mb-3">
					<label for="inputPetVaccTime1" class="col-sm-2 col-form-label">施打時間1</label>
					<div class="col-sm-2">
						<input type="date" class="form-control" name="petVaccTime1"
							th:value="${buyerVO.petVaccTime1}">
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputPetVaccName2" class="form-label">施打疫苗2</label> <input
						type="text" class="form-control" id="inputPetVaccName2"
						name="petVaccName2" th:value="${buyerVO.petVaccName2}" />
				</div>

				<div class="col-mb-3">
					<label for="inputPetVaccTime2" class="col-sm-2 col-form-label">施打時間2</label>
					<div class="col-sm-2">
						<input type="date" class="form-control" name="petVaccTime2"
							th:value="${buyerVO.petVaccTime2}">
					</div>
				</div>

				<!-- 判斷 newsTickerVO.isDisplay 的值，設定 label 的文字內容 -->
				<div class="col-md-3">
					<label for="inputIsConfirm" class="form-label">是否顯示</label> <select
						class="form-select" name="isConfirm" id="inputIsConfirm">
						<option value="true" th:selected="${buyerVO.isConfirm}">Yes</option>
						<option value="false" th:selected="${!buyerVO.isConfirm}">No</option>
					</select>
				</div>

				<div
					class="text-center d-flex flex-row gap-5 justify-content-center">
					<button id="cancel-btn" type="button" class="btn btn-secondary">取消並離開</button>
					<button type="submit" class="btn btn-primary">提交修改</button>
				</div>
			</form>
		</div>
	</main>
	<!-- End Main -->

	<!-- ======= Footer, 後臺應該不需要footer ======= -->

	<!-- Vendor & Main JS Files -->
	<div th:replace="fragment-js"></div>

	<!-- Local JS File -->
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		type="text/javascript"></script>
	<script>
		//============ 取消按鈕的跳轉事件設定 start =============
		document.getElementById("cancel-btn").addEventListener("click",
				function() {
					window.location.href = "/back/buyer/listAllGet"; // 將網頁重定向到指定的 URL
				});

		// 定義一個自定義事件，用於通知 TwCitySelector 腳本
		var loadjsCompletedEvent = new Event("loadjsCompleted");

		window.onload = function() {
			// 監聽自定義事件，當 loadjs 完成時觸發
			document.addEventListener("loadjsCompleted", function() {
				new TwCitySelector({
					el : ".city-selector-set",
					elCounty : ".county",
					elDistrict : ".district",
					elZipcode : ".zipcode",
				});
			});

			// 手動觸發事件，告知 TwCitySelector 可以初始化了
			document.dispatchEvent(loadjsCompletedEvent);
		};

		//============ 照片上傳-預覽用 start =============
		//檢查環境可支援FileReader, 不支援則跳出彈窗提示無法使用該功能
		var filereader_support = typeof FileReader != 'undefined';
		if (!filereader_support) {
			alert("No FileReader support");
		}
		acceptedTypes = {
			'image/png' : true,
			'image/jpeg' : true,
			'image/gif' : true
		};
		//監控上傳圖片的按鈕元素, 是否有更新, 有則觸發指定顯示檔案縮圖previewfile(file)
		function previewImage() {
			var upfile1 = document.getElementById("inputPetImg");
			upfile1.addEventListener("change", function(event) {
				var files = event.target.files || event.dataTransfer.files;
				for (var i = 0; i < files.length; i++) {
					previewfile(files[i])
				}
				// 				previewfile(files[files.length-1])
			}, false);
		}
		//檢查檔案符合標準後顯示於畫面上, 先建立一個圖片檔案再將上傳的圖片套入
		function previewfile(file) {
			if (filereader_support === true
					&& acceptedTypes[file.type] === true) {
				var reader = new FileReader();
				reader.onload = function(event) {

					var image = new Image();
					image.src = event.target.result;
					// 設定圖片的寬度上限
					var maxWidth = 250;

					image.onload = function() {
						// 原始圖片的寬高比
						var aspectRatio = this.height / this.width;
						// 計算相應的高度
						var maxHeight = maxWidth * aspectRatio;
						// 確保高度不超過設定的高度上限
						if (maxHeight > 250) {
							maxHeight = 250;
							// 根據新的高度重新計算寬度
							maxWidth = maxHeight / aspectRatio;
						}
						// 設定圖片的寬度和高度
						this.width = maxWidth;
						this.height = maxHeight;

						image.border = 2;
						if (blob_holder.hasChildNodes()) {
							console.log("我執行幾次?");
							blob_holder.removeChild(blob_holder.childNodes[0]);
						}
						blob_holder.appendChild(image);
						
						// 移除多顯示的圖片
						clearChildNodesExceptLast();
					};
				};
				reader.readAsDataURL(file);
				document.getElementById('submit').disabled = false;
			} else {
				console.log("你執行幾次?");
				blob_holder.innerHTML = "<div  style='text-align: left;'>"
						+ "● filename: "
						+ file.name
						+ "<br>"
						+ "● ContentTyp: "
						+ file.type
						+ "<br>"
						+ "● size: "
						+ file.size
						+ "bytes"
						+ "<br>"
						+ "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
				document.getElementById('submit').disabled = true;
			}

			//清除<div id="blob_holder">子元素多的顯示圖片
			function clearChildNodesExceptLast() {
				var blobHolder = document.getElementById("blob_holder");
				var childNodes = blobHolder.children;
				// 從第一個子元素開始到倒數第二個子元素移除
				for (var i = childNodes.length - 2; i >= 0; i--) {
					blobHolder.removeChild(childNodes[i]);
				}
			}
		}
	</script>
	<!-- simpletable -->
</body>

</html>