<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragment-head}"></th:block>
    <th:block th:insert="~{/fragment-datatableCss}"></th:block>
  </head>

  <body>
    <header class="fixed-top">
    <th:block th:insert="~{/back-end/header-back}"></th:block>
    </header>

   <aside th:replace="@{back-end/aside-back}"></aside>

    <main class="main main-layout-seller">
      <div class="seller-container">
        <div class="pagetitle">
          <h1>訂單管理</h1>
        </div>
        <table
          id="example"
          class="table table-striped table-bordered "
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center">訂單ID</th>
              <th class="text-center">賣家ID</th>
              <th class="text-center">會員ID</th>
              <th class="text-center">訂單總金額</th>
              <th class="text-center">買家實付金額</th>
              <th class="text-center">發票號碼</th>
             <!--  <th class="text-center">優惠券ID</th>  -->
            
              <th class="text-center">訂單建立時間</th>
              <th class="text-center">訂單狀態</th>
              <th class="text-center">收貨人姓名</th>
              <th class="text-center">收貨人手機</th>
              <th class="text-center">收貨人地址</th>
              <th class="text-center">出貨狀態</th>
              <th class="text-center">出貨時間</th>
              <th class="text-center">操作</th> 
            </tr>
          </thead>
          
          
          <tbody>
            <th:block th:each="productOrderVO : ${allProductOrder}">
              <tr>
                <td class="text-center" th:text="${productOrderVO.orderId}"></td>
                <td class="text-center" th:text="${productOrderVO.sellerVO.sellerId}"></td>
                
                <td class="text-center" th:text="${productOrderVO.buyerVO.memberId}"></td>
                
                <td class="text-center" th:text="${productOrderVO.orderOrigPrice}+元"></td>
                <td class="text-center" th:text="${productOrderVO.actualPay}+元"></td>
                <td class="text-center" th:text="${productOrderVO.invoiceNumber}"></td>
               <!--  <td class="text-center" th:text="${productOrderVO.couponId}"></td> -->
                
                <td class="text-center" th:text="${#dates.format(productOrderVO.orderTime, 'yyyy-MM-dd hh:mm:ss')}"></td>
               <!--  <td class="text-center" th:text="${productOrderVO.orderStatus}"></td> -->
               <td>
                 <div>
								        <span th:switch="${productOrderVO.orderStatus}">
								            <span th:case="1">賣家待確認</span>
								            <span th:case="2">訂單不成立<br>(買家取消)</span>
								            <span th:case="3">訂單不成立<br>(賣家取消)</span>
								            <span th:case="4">訂單成立</span>
								            <span th:case="5">賣家理貨中</span>
								            <span th:case="6">商品已出貨</span>
								            <span th:case="7">訂單完成</span>
								            <span th:case="8">付款成功</span>
								            <span th:case="9">付款失敗</span>
								            <span th:case="10">退貨</span>
								            <!-- You can add more cases here if there are more statuses -->
								            <span th:case="*">未知</span> <!-- This is the default case if none of the above match -->
								        </span>
								    </div>
               </td>
               
               
               
               
               
                <td class="text-center" th:text="${productOrderVO.receiver}"></td>
                <td class="text-center" th:text="${productOrderVO.mobile}"></td>
                <td class="text-center" th:text="${productOrderVO.contactAddress}"></td>
                <td class="text-center" th:text="${productOrderVO.isDelivered}? '已出貨' : '未出貨'"></td>
             <!--    <td class="text-center" th:text="${#dates.format(productOrderVO.shippingTime, 'yyyy-MM-dd hh:mm:ss')}"></td> -->
                <td class="text-center" th:text="${productOrderVO.shippingTime != null ? #dates.format(productOrderVO.shippingTime, 'yyyy-MM-dd hh:mm:ss') : '尚未出貨'}"></td>
                <td class="text-center" >
                 
                 
                  
                  
                  
                  <!-- <a
                    class="btn"
                    th:href="@{getOne_For_Update(orderId=${productOrderVO.orderId})}"
                    >修改訂單</a
                  > -->
                  
                  <a
                    class="btn"
                    th:href="@{getOrderdetails(orderId=${productOrderVO.orderId})}"
                    >查看明細</a
                  >
                  
                   <form method="post" th:action="@{getOne_Order_For_Update}" style="margin-bottom: 0px;">
					     <input type="submit" value="修改">
					     <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}"></form> 
		              
                  
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </main>

    <!-- End Main -->

    

    <!-- ======= Footer, 後臺應該不需要footer ======= -->

    <!-- Vendor & Main JS Files -->
    <div th:replace="~{/fragment-js}"></div>
    <div th:replace="~{/fragment-datatableJs}"></div>

    <!-- Include DataTables JavaScript library -->
    <!-- Include FixedColumns JavaScript library -->

    <!-- Your custom script to initialize the DataTable with fixed columns -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 初始化 DataTables

        let table = $("#example").DataTable({
          columnDefs: [
            {
              targets: -1,
              width: 150,
            }, // 調整最後一列寬度
          ],
          fixedColumns: true,
          paging: true,
          lengthMenu: [25, 50, 75, 100],
          language: {
            lengthMenu: "顯示 _MENU_ 筆資料",
          },
          pageLength: 25,
          scrollCollapse: true,
          scrollX: true,
          scrollY: 600,
          pagingType: "full_numbers",
          drawCallback: function () {
            var api = this.api();
            var rowCount = api
              .rows({
                page: "current",
              })
              .count();

            // Loop to add empty rows if needed
            for (
              var i = 0;
              i < api.page.len() - (rowCount === 0 ? 1 : rowCount);
              i++
            ) {
              var emptyRow = $("<tr><td>&nbsp;</td></tr>").addClass("empty"); // 添加 'white-bg' 類別
              $("#example tbody").append(emptyRow);
            }
          },
        });

        // 設定 DataTables 寬度為 100%
        window.onload = function () {
          table.columns.adjust().draw();
        };

        function resetTable() {
          table.clear().draw();
        }

        $(".btn-del").on("click", function () {
          let deleteId = $(this).data("delete-id");
          console.log("deleteId in Btn: " + deleteId);
          $("#confirmDeleteBtn").attr("data-delete-id", deleteId);
        });

        // Listen to the confirmDeleteBtn click event
        $("#confirmDeleteBtn").on("click", function () {
          // Retrieve the deleteId from data-delete-id attribute
          let deleteId = $(this).data("delete-id");
          console.log("deleteId in Modal: " + deleteId);

          let myModalEl = document.getElementById("deleteModal");
          let modal = bootstrap.Modal.getInstance(myModalEl);

          let currentLoc = window.location.href;
          currentLoc = currentLoc.substring(0, currentLoc.lastIndexOf("/"));
          console.log(currentLoc);

          // Your AJAX request for deletion
          $.ajax({
            url: currentLoc + "/delete?id=" + deleteId,
            method: "DELETE",
            success: function (response) {
              if (response.success) {
                alert(response.message);
                // true 表示強制從伺服器重新加載頁面，忽略緩存
                location.reload(true);
              } else {
                // 刪除失敗
                alert(response.message);
              }
            },
            error: function () {
              alert(response.message);
            },
            complete: function () {
              // This will be called regardless of success or error
              // Close the modal after the AJAX request is completed
              // Reload the DataTable
              modal.hide();
            },
          });
        });
      });
    </script>
  </body>
</html>
