<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>EDog</title>

  <script src="loadcss.js"></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header class="fixed-top">
    <nav class="navbar navbar-expand navbar-expand-sm navbar-light bg-seller">
      <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
          <!-- Start NavBar  -->
          <!-- NavBar--LeftSide  -->
          <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item d-flex align-items-center toggle-sidebar-btn">
              <i class="bi bi-list"></i>
              <a class="nav-link cancel-default-behavior" aria-current="page" href="#">選單</a>
            </li>
          </ul>

          <!-- NavBar--RightSide  -->
          <ul class="navbar-nav ms-auto mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">[當前登入管理者名稱]</a>
            </li>
            <!-- 不可以登出後瀏覽, 登出後強制退回豋入頁(邏輯不是這裡處理) -->
            <li class="nav-item">
              <a class="nav-link" href="#">登出</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End NavBar  -->
  </header>

  <!-- ======= Sidebar ======= -->
  <!-- start帳戶管理 -->
  <aside class="sidebar sidebar-layout-seller">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#seller-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i>
          <span>使用者帳號</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="seller-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="seller-check-payment.html">
              <i class="bi bi-circle"></i><span>管理買家資料</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>管理賣家資料</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>審核新賣家資料</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>管理賣家等級資料</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End帳戶管理 -->

      <!-- Start訂單管理 -->
      <li class="nav-item">
        <a class="nav-link nav-seller-entry" href="#">
          <i class="bi bi-grid"></i>
          <span>訂單管理</span>
        </a>
      </li>
      <!-- End訂單管理 -->

      <!-- Start廣告管理 -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bag"></i>
          <span>廣告</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="product-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>廣告管理</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>廣告審核</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End廣告管理 -->

      <!-- Strat優惠券管理 -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#service-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-ticket"></i><span>優惠券</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="service-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>優惠券管理</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>優惠券新增</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End優惠券管理 -->

      <!-- Strat匯款資訊 -->
      <li class="nav-item">
        <a class="nav-link nav-seller-entry" href="#">
          <i class="bi bi-credit-card"></i>
          <span>匯款資訊</span>
        </a>
      </li>
      <!-- End匯款資訊 -->

      <!-- Start論壇管理 -->
      <li class="nav-item">
        <a class="nav-link nav-seller-entry" href="#">
          <i class="bi bi-grid"></i>
          <span>論壇管理</span>
        </a>
      </li>
      <!-- End論壇管理 -->

      <!-- Start搜尋關鍵字管理 -->
      <li class="nav-item">
        <a class="nav-link nav-seller-entry" href="#">
          <i class="bi bi-pin"></i>
          <span>搜尋關鍵字管理</span>
        </a>
      </li>
      <!-- End搜尋關鍵字管理 -->

      <!-- Start走馬燈管理 -->
      <li class="nav-item">
        <a class="nav-link nav-seller-entry" href="#">
          <i class="bi bi-lightning"></i>
          <span>走馬燈管理</span>
        </a>
      </li>
      <!-- End走馬燈管理 -->
    </ul>
  </aside>

  <!-- ======= Main ======= -->
  <main class="main main-layout-seller">
    <div class="container-fluid seller-container">
      <h1>編輯買家資料</h1>

      <!-- <nav class="mt-5 mb-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">帳號設定</li>
        </ol>
      </nav> -->

      <form class="row g-3" id="myForm" action="testrecap" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
          <label for="inputMemberId" class="form-label">買家編號</label>
          <input type="text" class="form-control" id="inputMemberId" name="memberId" value="3001" readonly />
        </div>

        <div class="col-md-12">
          <label for="inputThirdFrom" class="form-label">第三方登入</label>
          <input type="text" class="form-control" id="inputThirdFrom" name="thirdFrom" placeholder="還不知道要不要做第三方登入,先放著"
            readonly />
        </div>

        <div class="col-md-12">
          <label for="inputMemberEmail" class="form-label">電子信箱</label>
          <input type="text" class="form-control" id="inputMemberEmail" name="memberEmail" value="123zxc@gmail.com" />
        </div>

        <div class="col-md-12">
          <label for="inputMemberName" class="form-label">用戶名稱</label>
          <input type="text" class="form-control" id="inputMemberName" name="memberName" value="sakiko" />
        </div>

        <div class="col-md-12">
          <label for="inputMemberPhone" class="form-label">會員電話</label>
          <input type="text" class="form-control" id="inputMemberPhone" name="memberPhone" value="0229123456" />
        </div>

        <div class="col-md-12">
          <label for="inputMemberMobile" class="form-label">手機號碼</label>
          <input type="text" class="form-control" id="inputMemberMobile" name="memberMobile" value="0922123456" />
        </div>

        <div class="col-md-12">
          <label for="inputMemberAddress" class="form-label">地址</label>
          <div class="city-selector-set col-md-12 d-flex flex-row">
            <div class="col-md-2">
              <select class="county form-select" name="county"></select>
            </div>
            <div class="col-md-2">
              <select class="district form-select" name="district"></select>
            </div>
            <div class="col-md-2">
              <input class="zipcode form-control" type="text" size="3" readonly placeholder="郵遞區號" name="zipcode" />
            </div>
          </div>
          <input type="text" class="form-control mt-2" id="inputMemberAddress" name="memberAddress"
            placeholder="請輸入地址" />
        </div>

        <div class="col-md-3">
          <label for="inputIsMemberEmail" class="form-label">信箱是否已經審核</label>
          <select class="isMemberEmail form-select" name="isMemberEmail" id="inputIsMemberEmail">
            <option value="true">已審核</option>
            <option value="false">未審核</option>
          </select>
        </div>

        <div class="col mb-3">
          <label for="inputDate" class="col-sm-2 col-form-label">帳號創立時間</label>
          <div class="col-sm-3">
            <input type="date" class="form-control" name="memberRegistrationTime" value="1987-03-21" readonly>
          </div>
        </div>

        <div class="col-md-12">
          <label for="inputPetName" class="form-label">寵物名稱</label>
          <input type="text" class="form-control" id="inputPetName" name="petName" value="木木鴞" />
        </div>

        <!-- 假的表單imageForm，實際上是動態生成表單再送出去 -->
        <form
          class="row g-3"
          id="imageForm"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="upload__box">
            <div class="upload__btn-box">
              <label for="mainImage" class="btn btn-sellerdark"
                >更新寵物圖片</label
              >
              <input
                type="file"
                data-max_length="1"
                class="form-control upload__inputfile"
                id="mainImage"
                name="mainImage"
              />
              <div class="valid-feedback">Looks Good!</div>
              <div id="mainImageFeedback" class="invalid-feedback">
                Please provide a valid Picture.
              </div>
            </div>
            <div class="upload__img--wrap"></div>
          </div>

          <!--不需要上傳多張圖片-->
          <!-- <div class="upload__box">
            <div class="upload__btn-box">
              <label for="subImages" class="btn btn-sellerdark">
                請選擇其他圖片</label
              >
              <input
                type="file"
                multiple=""
                data-max_length="5"
                class="form-control upload__inputfile"
                id="subImages"
                name="subImages"
              />
              <div class="valid-feedback">Looks Good!</div>
              <div id="subImagesFeedback" class="invalid-feedback">
                Please provide a valid Picture.
              </div>
            </div>
            <div class="upload__img--wrap"></div>
          </div> -->
        </form>

        <div class="col-md-12">
          <label for="inputPetVaccName1" class="form-label">施打疫苗1</label>
          <input type="text" class="form-control" id="inputPetVaccName1" name="petVaccName1" value="禽流感" />
        </div>

        <div class="col-mb-3">
          <label for="inputPetVaccTime1" class="col-sm-2 col-form-label">施打時間1</label>
          <div class="col-sm-2">
            <input type="date" class="form-control" name="petVaccTime1" value="1987-03-21">
          </div>
        </div>

        <div class="col-md-12">
          <label for="inputPetVaccName2" class="form-label">施打疫苗2</label>
          <input type="text" class="form-control" id="inputPetVaccName2" name="petVaccName2" value="" />
        </div>

        <div class="col-mb-3">
          <label for="inputPetVaccTime2" class="col-sm-2 col-form-label">施打時間2</label>
          <div class="col-sm-2">
            <input type="date" class="form-control" name="petVaccTime2">
          </div>
        </div>

        <div class="col mb-3">
          <label for="inputPetImgUploadTime" class="col-sm-2 col-form-label">寵物圖片更新時間</label>
          <div class="col-sm-3">
            <input type="date" class="form-control" name="petImgUploadTime" value="2000-03-21" readonly>
          </div>
        </div>

        <!-- <nav class="custom-mt-6 mb-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">密碼設定</li>
          </ol>
        </nav> -->

        <div class="col-md-12">
          <label for="inputPassword" class="form-label">密碼</label>
          <input type="text" class="form-control" id="inputPassword" name="password" value="pass1234" />
        </div>

        <div class="col-md-3">
          <label for="inputIsConfirm" class="form-label">用戶資料是否生效</label>
          <select class="isConfirm form-select" name="isConfirm" id="inputIsConfirm">
            <option value="true">有效</option>
            <option value="false">停權</option>
          </select>
        </div>

        <div class="text-center d-flex flex-row gap-5 justify-content-center">
          <button type="button" class="btn btn-secondary">取消並離開</button>
          <button type="submit" class="btn btn-primary">提交修改</button>
        </div>
      </form>
    </div>
  </main>
  <!-- End Main -->

  <!-- ======= Footer, 後臺應該不需要footer ======= -->

  <!-- Vendor & Main JS Files -->
  <script src="loadjs.js"></script>

  <!-- Local JS File -->
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
  <script>

    // 定義一個自定義事件，用於通知 TwCitySelector 腳本
    var loadjsCompletedEvent = new Event("loadjsCompleted");

    window.onload = function () {
      // 監聽自定義事件，當 loadjs 完成時觸發
      document.addEventListener("loadjsCompleted", function () {
        new TwCitySelector({
          el: ".city-selector-set",
          elCounty: ".county",
          elDistrict: ".district",
          elZipcode: ".zipcode",
        });
      });

      // 手動觸發事件，告知 TwCitySelector 可以初始化了
      document.dispatchEvent(loadjsCompletedEvent);
    };

    // 利用JS閉包特性，把imgArray鎖定在函數createImageUploader
    // 閉包：即便父函數執行完畢，內部的子函數仍可取得父函數的變數
    function createImageUploader() {
      let imgArray = [];

      // 監測圖片上傳
      function imgUpload() {
        var uploadInputs = document.querySelectorAll(".upload__inputfile");
        uploadInputs.forEach(function (uploadInput) {
          uploadInput.addEventListener("change", function (event) {
            var imgWrap = event.target
              .closest(".upload__box")
              .querySelector(".upload__img--wrap");
            // 將 section 解析
            let section = event.target.id;

            // 將 maxLength 解析為整數
            var maxLength = parseInt(
              event.target.getAttribute("data-max_length"),
              10
            );

            var files = event.target.files;

            // 檢查是否存在 imgWrap
            if (!imgWrap) {
              console.error("找不到 imgWrap");
              return;
            }

            // 檢查 maxLength 是否不等於 1 並且超過限制
            if (
              maxLength !== 1 &&
              imgWrap.children.length + files.length > maxLength
            ) {
              console.log(
                "直接子元素的數量 + files.length:",
                imgWrap.children.length + files.length
              );
              alert("只能上傳" + maxLength + "張圖片");
              return;
            }

            // 檢查 maxLength 是否等於 1 並且 imgWrap 有第一個子元素
            if (maxLength === 1 && imgWrap.firstChild) {
              let replaceFirst = imgWrap.firstChild.querySelector(
                ".upload__img--close"
              );
              // 觸發handleImageClose
              replaceFirst.click();
            }

            let previousSuffix = -1;
            Array.from(files).forEach(function (file) {
              if (!file.type.match("image.*")) {
                alert("上傳的不是圖片");
                return;
              }
              // 取得亂數方便辨識
              let randomSuffix = Math.floor(Math.random() * 1000);
              while (previousSuffix === randomSuffix) {
                randomSuffix = Math.floor(Math.random() * 1000);
              }
              previousSuffix = randomSuffix;

              // 取得毫秒數，並取得不唯一值(前端可能被人竄改，後端生成UUID保險)
              let timestamp = new Date().getTime();
              let uniqueFileName = `image_${timestamp}_${randomSuffix}.jpg`;

              // 新增進入imgArray
              imgArray.push({
                name: uniqueFileName,
                file: file,
                section: section,
              });
              appendImageToWrap(imgWrap, file, uniqueFileName, section);

              console.log("=====imgArray======");
              console.log(event.target);
              console.log(imgArray);
              console.log("=====imgArray======");
            });

            // 瀏覽器會讀檔名，相同不能上傳，可重複上傳同一張圖片，
            this.value = "";
          });
        });
      }

      function handleImageClose(event) {
        var filename = event.target
          .closest(".upload__img--box")
          .querySelector(".img-bg").dataset.filename;

        // 針對陣列做刪除
        imgArray = imgArray.filter(function (item) {
          // console.log("===========");
          // console.log("item", item);
          // console.log("filename", filename);
          // console.log("item.name", item.name);
          // console.log("===========");
          return item.name !== filename;
        });

        event.target.closest(".upload__img--box").remove();
      }

      // 添加預覽圖片
      function appendImageToWrap(imgWrap, file, fileName, section) {
        var div = document.createElement("div");
        div.classList.add("upload__img--box");

        var reader = new FileReader();
        reader.onload = function (e) {
          div.innerHTML = `
                    <div style='background-image: url(${e.target.result})' data-filename='${fileName}'  data-section='${section}' class='img-bg'>
                      <div class='upload__img--close'></div>
                    </div>
                  `;
        };
        reader.readAsDataURL(file);

        imgWrap.appendChild(div);
      }

      // 回傳 imgUpload function handleImageClose function getImgArray function
      return { imgUpload, handleImageClose, getImgArray: () => imgArray };
    }

    // DOMContentLoaded後啟動，
    document.addEventListener("DOMContentLoaded", function () {
      const uploader = createImageUploader();
      const { imgUpload, handleImageClose, getImgArray } = uploader;

      // (1 開始偵測圖片上傳
      imgUpload();

      // (2 偵測所有畫面點擊
      document.body.addEventListener("click", function (e) {
        if (e.target.classList.contains("upload__img--close")) {
          handleImageClose(e);
        }
      });

      // (3 動態生成表單元素
      document
        .getElementById("submitButton")
        .addEventListener("click", async function (event) {
          // 防止表單預設的提交行為，不然就直接送出去了!!!
          event.preventDefault();

          // 動態生成表單元素
          var form = document.createElement("form");
          form.setAttribute("method", "POST");
          form.setAttribute("enctype", "multipart/form-data");

          let getActionPath;
          try {
            let response = await fetch("config.json");
            let config = await response.json();
            getActionPath = await config.actionPath["product-add"].form;
          } catch (err) {
            console.log(err);
          }
          getActionPath = getActionPath.replace(
            "CTXPATH",
            window.location.pathname.substring(
              1,
              window.location.pathname.indexOf("/", 1)
            )
          );
          console.log("送出路徑 : " + getActionPath);
          form.setAttribute("action", getActionPath);

          // (1.1 針對第一個表單imageForm
          // 創建一個 DataTransfer 對象，模擬用戶上傳圖片行為
          // Create an object to store DataTransfer objects for each section
          var dataTransfers = {};

          // Iterate through each image in imgArray
          getImgArray().forEach(function (item) {
            // Check if a DataTransfer object exists for the section
            if (!dataTransfers[item.section]) {
              // If not, create a new DataTransfer object
              dataTransfers[item.section] = new DataTransfer();
            }

            // Create a new File object and add it to the corresponding DataTransfer
            var file = new File([item.file], item.name, {
              type: item.file.type,
            });
            // console.log("======item.section=======");
            // console.log(item.section);
            // console.log("======item.section=======");
            dataTransfers[item.section].items.add(file);
          });

          // Iterate through the sections and create input elements
          for (var section in dataTransfers) {
            if (dataTransfers.hasOwnProperty(section)) {
              var input = document.createElement("input");
              input.setAttribute("type", "file");
              input.setAttribute("name", section); // Use the section as the input name
              input.files = dataTransfers[section].files;

              // For example, you can append it to a form or perform other actions.

              form.appendChild(input);
            }
          }

          // (2 將第二個表單的資料加入到 FormData 中
          var dataForm = document.getElementById("dataForm");
          var dataFormInputs = new FormData(dataForm);
          for (let pair of dataFormInputs.entries()) {
            form
              .appendChild(document.createElement("input"))
              .setAttribute("type", "hidden");
            form.lastChild.setAttribute("name", pair[0]);
            form.lastChild.setAttribute("value", pair[1]);
          }

          //  (2 將表單添加到 body 中
          document.body.appendChild(form);

          // (3. 測試
          console.log(form);
          var dataFormSubmitted = new FormData(form);
          for (let pair of dataFormSubmitted.entries()) {
            console.log("name>>" + pair[0]);
            if (pair[1] instanceof File) {
              // 如果是文件上传字段，pair[1] 是一个 FileList 对象
              console.log("file name>>" + pair[1].name);
              console.log("file type>>" + pair[1].type);
              console.log("file size>>" + pair[1].size);
            } else {
              // 如果不是文件上传字段，直接输出值
              console.log("value>>" + pair[1]);
            }
          }

          try {
            // (4) 後端驗證
            await checkValidity(form);
            // (4. 提交表單
            // form.submit();
          } catch (error) {
            console.error(error);
          } finally {
            // (5. 刪除動態生成的表單元素
            document.body.removeChild(form);
          }
        });

      async function checkValidity(form) {
        const submitButton = document.getElementById("submitButton");
        // 防手賤
        submitButton.setAttribute("disabled", true);

        try {
          const result = await validateForm(form);
          submitButton.removeAttribute("disabled");

          let keyErrors = Object.keys(result.desp);

          document
            .querySelectorAll("input.form-control, select.form-select")
            .forEach((element) => {
              let id = element.id;
              console.log("(element.name" + element.name);
              if (keyErrors.includes(element.name)) {
                element.classList.add("is-invalid");
                element.classList.remove("is-valid");

                const feedbackElement = document.getElementById(
                  `${id}Feedback`
                );
                feedbackElement.textContent = result.desp[element.name];

                // console.log("====feedbackElement=====");
                // console.log(`${id}Feedback`);
                // console.log(id);
                // console.log(element);
                // console.log(feedbackElement);
                // console.log("======feedbackElement===");
              } else {
                element.classList.remove("is-invalid");
                element.classList.add("is-valid");

                // console.log("==is-valid==feedbackElement=====");
                // console.log(`${id}Feedback`);
                // console.log(element);
                // console.log("==is-valid====feedbackElement===");
              }
            });

          return keyErrors.length > 0;
        } catch (error) {
          submitButton.removeAttribute("disabled");
          throw error;
        }
      }

      async function validateForm(formElement) {
        const formData = new FormData(formElement);

        // FormData 中添加的 "action" 參數是與 HTML 中的 <form> 標籤的 action 屬性不同
        formData.append("action", "check");
        // for (const entry of formData.entries()) {
        //   const [key, value] = entry;
        //   console.log(`Key: ${key}, Value: ${value}`);
        // }

        // console.log("action" + formElement.getAttribute("action"));
        const response = await fetch(formElement.getAttribute("action"), {
          method: "POST",
          body: formData,
        });

        if (!response.ok) {
          throw new Error("Server response not okay");
        }

        const result = await response.json();
        if (!result) {
          throw new Error("Empty response");
        }

        return result;
      }
    });
  </script>
  <!-- simpletable -->
</body>

</html>