<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>EDog</title>

    <script src="loadcss.js"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header class="fixed-top">
      <nav class="navbar navbar-expand navbar-expand-sm navbar-light bg-seller">
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse d-flex justify-content-between"
            id="navbarSupportedContent"
          >
            <!-- Start NavBar  -->
            <!-- NavBar--LeftSide  -->
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item d-flex align-items-center toggle-sidebar-btn">
                <i class="bi bi-list"></i>
                <a
                  class="nav-link cancel-default-behavior"
                  aria-current="page"
                  href="#"
                  >選單</a
                >
              </li>
            </ul>

            <!-- NavBar--RightSide  -->
            <ul class="navbar-nav ms-auto mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">[當前登入管理者名稱]</a>
              </li>
              <!-- 不可以登出後瀏覽, 登出後強制退回豋入頁(邏輯不是這裡處理) -->
              <li class="nav-item">
                <a class="nav-link" href="#">登出</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End NavBar  -->
    </header>

    <!-- ======= Sidebar ======= -->
    <!-- start帳戶管理 -->
    <aside class="sidebar sidebar-layout-seller">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#seller-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-person"></i>
            <span>使用者帳號</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="seller-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="seller-check-payment.html">
                <i class="bi bi-circle"></i><span>管理買家資料</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>管理賣家資料</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>審核新賣家資料</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>管理賣家等級資料</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End帳戶管理 -->

        <!-- Start訂單管理 -->
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="#">
            <i class="bi bi-grid"></i>
            <span>訂單管理</span>
          </a>
        </li>
        <!-- End訂單管理 -->

        <!-- Start廣告管理 -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#product-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bag"></i>
            <span>廣告</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="product-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>廣告管理</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>廣告審核</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End廣告管理 -->

        <!-- Strat優惠券管理 -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#service-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-ticket"></i><span>優惠券</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="service-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>優惠券管理</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>優惠券新增</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End優惠券管理 -->

        <!-- Strat匯款資訊 -->
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="#">
            <i class="bi bi-credit-card"></i>
            <span>匯款資訊</span>
          </a>
        </li>
        <!-- End匯款資訊 -->

        <!-- Start論壇管理 -->
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="#">
            <i class="bi bi-grid"></i>
            <span>論壇管理</span>
          </a>
        </li>
        <!-- End論壇管理 -->

        <!-- Start搜尋關鍵字管理 -->
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="#">
            <i class="bi bi-pin"></i>
            <span>搜尋關鍵字管理</span>
          </a>
        </li>
        <!-- End搜尋關鍵字管理 -->

        <!-- Start走馬燈管理 -->
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="#">
            <i class="bi bi-lightning"></i>
            <span>走馬燈管理</span>
          </a>
        </li>
        <!-- End走馬燈管理 -->
      </ul>
    </aside>

    <!-- ======= Main ======= -->
    <main class="main main-layout-seller">
      <div class="container-fluid seller-container">
        <h1>編輯賣家資料</h1>

        <!-- <nav class="mt-5 mb-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">帳號設定</li>
        </ol>
      </nav> -->

        <form
          class="row g-3"
          id="myForm"
          action="testrecap"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="col-md-12">
            <label for="inputCompanyName" class="form-label">賣家編號</label>
            <input
              type="text"
              class="form-control"
              id="inputSellerId"
              name="sellerId"
              value="1001"
              readonly
            />
          </div>

          <div class="col-md-12">
            <label for="inputSellerLvId" class="form-label">賣家等級</label>
            <div class="col-md-2">
              <select
                class="sellerLv form-select"
                name="sellerLvId"
                id="sellerLvId"
              >
                <option value="1">等級1</option>
                <option value="2">等級2</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputCompanyName" class="form-label">公司名稱</label>
            <input
              type="text"
              class="form-control"
              id="inputCompanyName"
              name="companyName"
              value="台灣積體電路製造股份有限公司"
            />
          </div>

          <div class="col-md-12">
            <label for="inputCompanyLeader" class="form-label"
              >公司負責人</label
            >
            <input
              type="text"
              class="form-control"
              id="inputCompanyLeader"
              name="companyLeader"
              value="劉德音"
            />
          </div>

          <div class="col-md-12">
            <label for="inputEmail" class="form-label">電子郵件</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              value="123@gmail.com"
            />
          </div>

          <div class="col-md-12">
            <label for="inputUnifiedNumber" class="form-label">統一編號</label>
            <input
              type="text"
              class="form-control"
              id="inputUnifiedNumber"
              name="unifiedNumber"
              value="22099131"
            />
          </div>

          <div class="col-md-12">
            <label for="inputCapital" class="form-label">資本額</label>
            <input
              type="text"
              class="form-control"
              id="inputCapital"
              name="capital"
              value="1234567890"
            />
          </div>

          <div class="col-md-12">
            <label for="inputCompanyPhone" class="form-label">公司電話</label>
            <input
              type="text"
              class="form-control"
              id="inputCompanyPhone"
              name="companyPhone"
              value="03-5636688"
            />
          </div>

          <div class="col-md-12">
            <label for="inputExtension" class="form-label">公司分機</label>
            <input
              type="text"
              class="form-control"
              id="inputExtension"
              name="extension"
              value=""
            />
          </div>

          <div class="col-md-12">
            <label for="inputMobile" class="form-label">手機號碼</label>
            <input
              type="text"
              class="form-control"
              id="inputMobile"
              name="mobile"
              value="0922123456"
            />
          </div>

          <!-- <div class="col-md-12">
          <label for="inputAddress" class="form-label">地址</label>
          <div class="city-selector-set col-md-12 d-flex flex-row">
            <div class="col-md-2">
              <select class="county form-select" name="county">
                <option value="臺北市">臺北市</option>
                <option value="新北市">新北市</option>
                <option value="桃園市">桃園市</option>
                <option value="臺中市">臺中市</option>
                <option value="臺南市">臺南市</option>
                <option value="高雄市">高雄市</option>
                <option value="新竹縣">新竹縣</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="彰化縣">彰化縣</option>
                <option value="南投縣">南投縣</option>
                <option value="雲林縣">雲林縣</option>
                <option value="嘉義縣">嘉義縣</option>
                <option value="屏東縣">屏東縣</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="臺東縣">臺東縣</option>
                <option value="澎湖縣">澎湖縣</option>
                <option value="金門縣">金門縣</option>
                <option value="連江縣">連江縣</option>
                <option value="基隆市">基隆市</option>
                <option value="新竹市">新竹市</option>
                <option value="嘉義市">嘉義市</option>
              </select>
            </div>
            <div class="col-md-2">
              <select class="county form-select" name="county"></select>
            </div>
            <div class="col-md-2">
              <select class="district form-select" name="district"></select>
            </div>
            <div class="col-md-2">
              <input class="zipcode form-control" type="text" size="3" value="300" name="zipcode" readonly/>
            </div>
          </div>
          <input type="text" class="form-control mt-2" id="inputAddress" name="address" value="新竹科學園區新竹市力行六路8號" />
        </div> -->

          <!-- 載入測試對照組 往下 -->
          <div class="col-md-12">
            <label for="inputAddress" class="form-label">地址</label>
            <div class="city-selector-set col-md-12 d-flex flex-row">
              <div class="col-md-2">
                <select class="county form-select" name="county"></select>
              </div>
              <div class="col-md-2">
                <select class="district form-select" name="district"></select>
              </div>
              <div class="col-md-2">
                <input
                  class="zipcode form-control"
                  type="text"
                  size="3"
                  readonly
                  placeholder="郵遞區號"
                  name="zipcode"
                />
              </div>
            </div>
            <input
              type="text"
              class="form-control mt-2"
              id="inputAddress"
              name="address"
              placeholder="請輸入地址"
            />
          </div>
          <!-- 載入測試對照組 往上 -->

          <div class="col-md-3">
            <label for="inputBankNumber" class="form-label">銀行帳號名稱</label>
            <input
              type="text"
              class="form-control"
              id="inputBankNumber"
              name="bankNumber"
              value="劉德音"
            />
          </div>

          <div class="col-md-2">
            <label for="inputBankAccount" class="form-label">銀行代碼 </label>
            <input
              type="text"
              class="form-control"
              id="inputBankAccount"
              name="bankAccount"
              placeholder="812"
            />
          </div>

          <div class="col-md-7">
            <label for="inputBankCode" class="form-label">銀行帳戶</label>
            <input
              type="text"
              class="form-control"
              id="inputBankCode"
              name="bankCode"
              placeholder="123456789012"
            />
          </div>

          <!-- <nav class="custom-mt-6 mb-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">密碼設定</li>
          </ol>
        </nav> -->

          <div class="col-md-12">
            <label for="inputPassword" class="form-label">密碼</label>
            <input
              type="text"
              class="form-control"
              id="inputPassword"
              name="password"
              value="pass1234"
            />
          </div>

          <div class="col mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label"
              >帳號創立時間</label
            >
            <div class="col-sm-3">
              <input
                type="date"
                class="form-control"
                name="sellerCreateTime"
                value="1987-03-21"
                readonly
              />
            </div>
          </div>

          <div class="col-md-2">
            <label for="inputIsConfirm" class="form-label"
              >帳號是否審核過</label
            >
            <select
              class="isConfirm form-select"
              name="isConfirm"
              id="inputIsConfirm"
            >
              <option value="true">通過</option>
              <option value="false">未通過</option>
            </select>
          </div>

          <div class="text-center d-flex flex-row gap-5 justify-content-center">
            <button type="button" class="btn btn-secondary">取消並離開</button>
            <button type="submit" class="btn btn-primary">提交修改</button>
          </div>
        </form>
      </div>
    </main>
    <!-- End Main -->

    <!-- ======= Footer, 後臺應該不需要footer ======= -->

    <!-- Vendor & Main JS Files -->
    <script src="loadjs.js"></script>

    <!-- Local JS File -->
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      type="text/javascript"
    ></script>
    <script>
      // 定義一個自定義事件，用於通知 TwCitySelector 腳本
      var loadjsCompletedEvent = new Event("loadjsCompleted");

      window.onload = function () {
        // 監聽自定義事件，當 loadjs 完成時觸發
        document.addEventListener("loadjsCompleted", function () {
          new TwCitySelector({
            el: ".city-selector-set",
            elCounty: ".county",
            elDistrict: ".district",
            elZipcode: ".zipcode",
          });
        });

        // 手動觸發事件，告知 TwCitySelector 可以初始化了
        document.dispatchEvent(loadjsCompletedEvent);
      };
    </script>
    <!-- simpletable -->
  </body>
</html>
