
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>

<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/front-end/seller/header-seller}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<!-- start帳戶管理 -->

	<aside th:replace="front-end/seller/aside-seller.html"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>編輯賣家資料</h1>

			<form class="row g-3" id="myForm"
				th:action="@{/front/seller/seller/update}" th:object="${sellerVO}"
				method="post" enctype="multipart/form-data"
				onsubmit="return updateHiddenFields();">
				<div class="col-md-12" style="display: none">
					<label for="inputSellerId" class="form-label">賣家ID</label> <input
						type="text" class="form-control" id="inputSellerId"
						name="sellerId" th:field="*{sellerId}"
						aria-describedby="sellerIdFeedback"
						th:classappend="${#fields.hasErrors('sellerId')} ? 'is-invalid' : ''"
						readonly />
					<div id="sellerIdFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerId')}"
							th:errors="*{sellerId}">欄位有誤</p>
					</div>
				</div>
				<div class="col-md-12">
					<label for="sellerLvId" class="form-label">賣家等級</label>
					<div class="col-md-2">
						<select class="form-select" name="sellerLvId" id="sellerLvId"
							th:value="${sellerVO.sellerLvId != null ? sellerVO.sellerLvId.getSellerLvId() : ''}">
							<option 
								th:each="sellerLv : ${sellerLvListData}"
								th:value="${sellerLv.getSellerLvId()}"
								th:text="${sellerLv.getLvName()}"
								th:selected="${sellerLv.getSellerLvId() == sellerVO.sellerLvId.getSellerLvId()}"></option>
						</select>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputSellerId" class="form-label">公司名稱</label> <input
						type="text" class="form-control" id="inputSellerCompany"
						name="sellerCompany" th:field="*{sellerCompany}"
						aria-describedby="sellerCompanyFeedback"
						th:classappend="${#fields.hasErrors('sellerCompany')} ? 'is-invalid' : ''" />
					<div id="sellerCompanyFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerCompany')}"
							th:errors="*{sellerCompany}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerContact" class="form-label">公司負責人</label>
					<input type="text" class="form-control" id="inputsellerContact"
						name="sellerContact" th:value="${sellerVO.sellerContact}"
						aria-describedby="sellerContactFeedback"
						th:classappend="${#fields.hasErrors('sellerContact')} ? 'is-invalid' : ''" />

					<div id="sellerContactFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerContact')}"
							th:errors="*{sellerContact}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerEmail" class="form-label">電子郵件</label> <input
						type="email" class="form-control" id="inputsellerEmail"
						name="sellerEmail" th:value="${sellerVO.sellerEmail}"
						aria-describedby="sellerEmailFeedback"
						th:classappend="${#fields.hasErrors('sellerEmail')} ? 'is-invalid' : ''" />

					<div id="sellerEmailFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerEmail')}"
							th:errors="*{sellerEmail}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerTaxId" class="form-label">統一編號</label> <input
						type="text" class="form-control" id="inputsellerTaxId"
						name="sellerTaxId" th:value="${sellerVO.sellerTaxId}"
						aria-describedby="sellerTaxIdFeedback"
						th:classappend="${#fields.hasErrors('sellerTaxId')} ? 'is-invalid' : ''" />

					<div id="sellerTaxIdFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerTaxId')}"
							th:errors="*{sellerTaxId}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerCapital" class="form-label">資本額</label> <input
						type="text" class="form-control" id="inputsellerCapital"
						name="sellerCapital" th:value="${sellerVO.sellerCapital}"
						aria-describedby="sellerCapitalFeedback"
						th:classappend="${#fields.hasErrors('sellerCapital')} ? 'is-invalid' : ''" />

					<div id="sellerCapitalFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerCapital')}"
							th:errors="*{sellerCapital}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerCompanyPhone" class="form-label">公司電話</label>
					<input type="text" class="form-control"
						id="inputsellerCompanyPhone" name="sellerCompanyPhone"
						th:value="${sellerVO.sellerCompanyPhone}"
						aria-describedby="sellerCompanyPhoneFeedback"
						th:classappend="${#fields.hasErrors('sellerCompanyPhone')} ? 'is-invalid' : ''" />

					<div id="sellerCompanyPhoneFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerCompanyPhone')}"
							th:errors="*{sellerCompanyPhone}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerCompanyExtension" class="form-label">公司分機</label>
					<input type="text" class="form-control"
						id="inputsellerCompanyExtension" name="sellerCompanyExtension"
						th:value="${sellerVO.sellerCompanyExtension}"
						aria-describedby="sellerCompanyExtensionFeedback"
						th:classappend="${#fields.hasErrors('sellerCompanyExtension')} ? 'is-invalid' : ''" />

					<div id="sellerCompanyExtensionFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerCompanyExtension')}"
							th:errors="*{sellerCompanyExtension}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputsellerMobile" class="form-label">手機號碼</label> <input
						type="text" class="form-control" id="inputsellerMobile"
						name="sellerMobile" th:value="${sellerVO.sellerMobile}"
						aria-describedby="sellerMobileFeedback"
						th:classappend="${#fields.hasErrors('sellerMobile')} ? 'is-invalid' : ''" />

					<div id="sellerMobileFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerMobile')}"
							th:errors="*{sellerMobile}">欄位有誤</p>
					</div>
				</div>

				<input type="hidden" id="sellerCountyValue" name="sellerCounty"
					th:value="${sellerVO.sellerCounty ?: ''}"
					aria-describedby="sellerCountyFeedback" /> <input
					type="hidden" id="sellerDistrictValue" name="sellerDistrict"
					th:value="${sellerVO.sellerDistrict ?: ''}"
					aria-describedby="sellerDistrictFeedback" />

				<div class="col-md-12">
					<label for="inputAddress" class="form-label">地址</label>
					<div class="city-selector-set col-md-12 d-flex flex-row">
						<div class="col-md-2">
							<select class="county form-select"
								th:value="${sellerVO.sellerCounty ?: ''}"
								th:classappend="${#fields.hasErrors('sellerCounty')} ? 'is-invalid' : ''"></select>
						</div>
						<div class="col-md-2">
							<select class="district form-select"
								th:value="${sellerVO.sellerDistrict ?: ''}"
								th:classappend="${#fields.hasErrors('sellerDistrict')} ? 'is-invalid' : ''"></select>
						</div>
						<div class="col-md-2">
							<input class="zipcode form-control" type="text" size="3" readonly
								placeholder="郵遞區號" name="zipcode" />
						</div>
					</div>
					<input type="text" class="form-control mt-2" id="inputAddress"
						name="sellerAddress"
						th:value="${sellerVO.sellerAddress ?: 'XX路A巷54號'}"
						th:classappend="${#fields.hasErrors('sellerAddress')} ? 'is-invalid' : ''"
						aria-describedby="sellerAddressFeedback" />
					<div id="sellerCountyFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerCounty')}"
							th:errors="*{sellerCounty}">欄位有誤</p>
					</div>

					<div id="sellerDistrictFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerDistrict')}"
							th:errors="*{sellerDistrict}">欄位有誤</p>
					</div>

					<div id="sellerAddressFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerAddress')}"
							th:errors="*{sellerAddress}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-3">
					<label for="inputsellerBankAccount" class="form-label">銀行帳號名稱</label>
					<input type="text" class="form-control" id="inputsellerBankAccount"
						name="sellerBankAccount" th:value="${sellerVO.sellerBankAccount}"
						aria-describedby="sellerBankAccountFeedback"
						th:classappend="${#fields.hasErrors('sellerBankAccount')} ? 'is-invalid' : ''" />

					<div id="sellerBankAccountFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerBankAccount')}"
							th:errors="*{sellerBankAccount}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-2">
					<label for="inputsellerBankCode" class="form-label">銀行代碼
					</label> <input type="text" class="form-control" id="inputsellerBankCode"
						name="sellerBankCode" th:value="${sellerVO.sellerBankCode}"
						aria-describedby="sellerBankCodeFeedback"
						th:classappend="${#fields.hasErrors('sellerBankCode')} ? 'is-invalid' : ''" />

					<div id="sellerBankCodeFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerBankCode')}"
							th:errors="*{sellerBankCode}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-7">
					<label for="inputsellerBankAccountNumber" class="form-label">銀行帳戶</label>
					<input type="text" class="form-control"
						id="inputsellerBankAccountNumber" name="sellerBankAccountNumber"
						th:value="${sellerVO.sellerBankAccountNumber}"
						aria-describedby="sellerBankAccountNumberFeedback"
						th:classappend="${#fields.hasErrors('sellerBankAccountNumber')} ? 'is-invalid' : ''" />

					<div id="sellerBankAccountNumberFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerBankAccountNumber')}"
							th:errors="*{sellerBankAccountNumber}">欄位有誤</p>
					</div>
				</div>

				<div class="col-md-12">
					<label for="inputPassword" class="form-label">密碼</label> <input
						type="text" class="form-control" id="inputPassword"
						name="sellerPassword" th:value="${sellerVO.sellerPassword}"
						aria-describedby="sellerPasswordFeedback"
						th:classappend="${#fields.hasErrors('sellerPassword')} ? 'is-invalid' : ''" />

					<div id="sellerPasswordFeedback" class="invalid-feedback">
						<p th:if="${#fields.hasErrors('sellerPassword')}"
							th:errors="*{sellerPassword}">欄位有誤</p>
					</div>
				</div>

				<div
					class="text-center d-flex flex-row gap-5 justify-content-center">
					<button type="button" class="btn btn-secondary"
						onclick="window.history.back()">取消並離開</button>
					<button type="submit" class="btn btn-primary">提交修改</button>
				</div>
			</form>
		</div>
	</main>

	<div th:if="${updateSuccess}">
		<!-- 這裡放置你的 Modal 代碼 -->
		<div class="modal fade" id="updateSuccessModal" tabindex="-1"
			role="dialog" aria-labelledby="updateSuccessModalLabel"
			aria-hidden="true">

			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="updateSuccessModalLabel">更新成功</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- 這裡可以放置更新成功的提示信息 -->
						賣家資料已成功更新！
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">確定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Main -->
	<div th:replace="fragment-js"></div>

	<script>
      document.addEventListener("DOMContentLoaded", function () {
        var countyValue = document
          .querySelector(".county")
          .getAttribute("data-countyValue");
        console.log(countyValue); // 將印出 "台北市"
      });

      window.onload = function () {
        // 監聽自定義事件，當 loadjs 完成時觸發

        new TwCitySelector({
          el: ".city-selector-set",
          elCounty: ".county",
          elDistrict: ".district",
          elZipcode: ".zipcode",
          countyValue: document.querySelector("#sellerCountyValue").value,
          districtValue: document.querySelector("#sellerDistrictValue").value,
        });
      };

      function updateHiddenFields() {
        // 取得選擇的縣市和區域的值
        var selectedCounty = document.querySelector(".county").value;
        var selectedDistrict = document.querySelector(".district").value;

        // 更新隱藏欄位的值
        document.getElementById("sellerCountyValue").value = selectedCounty;
        document.getElementById("sellerDistrictValue").value = selectedDistrict;

        // 返回 true 允許表單繼續提交，或者返回 false 阻止表單提交
        return checkFormBeforeSubmit();
      }

      function checkFormBeforeSubmit() {
        // 取得表單元素
        var form = document.getElementById("myForm");

        // 檢視表單內容
        var formData = new FormData(form);
        var formContent = "";

        for (var pair of formData.entries()) {
          formContent += pair[0] + ": " + pair[1] + "\n";
        }

        // 顯示表單內容，這裡使用 alert 作為示例，你可以根據需求進行更複雜的處理
        alert("表單內容：\n" + formContent);

        // 返回 true 允許表單繼續提交，或者返回 false 阻止表單提交
        return true;
      }
    </script>

	<!-- simpletable -->
</body>
</html>
