<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragment-head}"></th:block>
  </head>
  <body>
  
    <!-- ======= Header ======= -->
   <header class="fixed-top">
      <th:block th:insert="~{/front-end/seller/header-seller}"></th:block>
    </header>
  
    <!-- ======= Sidebar ======= -->
     <aside th:replace="@{front-end/seller/aside-seller}"></aside>
   
   
    <!-- ======= Main ======= -->

    <main class="main main-layout-seller">
      <div class="container-fluid seller-container">
        <h1>訂單管理</h1>
        <div class="card card-order-custom">
          <div class="card-body">
            <!-- Bordered Tabs -->
            <ul
              class="nav nav-tabs nav-tabs-bordered"
              id="borderedTab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link seller-nav-link active"
                  id="all-orders-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#bordered-all-orders"
                  type="button"
                  role="tab"
                  aria-controls="all-orders"
                  aria-selected="true"
                >
                  所有訂單
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link seller-nav-link"
                  id="pending-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#bordered-pending"
                  type="button"
                  role="tab"
                  aria-controls="pending"
                  aria-selected="false"
                >
                  未處理
                </button>
              </li>
			<li class="nav-item" role="presentation">
                <button
                  class="nav-link seller-nav-link"
                  id="shipped-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#bordered-shipped"
                  type="button"
                  role="tab"
                  aria-controls="shipped"
                  aria-selected="false"
                >
                  處理中
                </button>
             </li>
             
             <li class="nav-item" role="presentation">
                <button
                  class="nav-link seller-nav-link"
                  id="completed-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#bordered-completed"
                  type="button"
                  role="tab"
                  aria-controls="completed"
                  aria-selected="false"
                >
                  已完成
                </button>
              </li>
              
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link seller-nav-link"
                  id="cancel-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#bordered-cancel"
                  type="button"
                  role="tab"
                  aria-controls="cancel"
                  aria-selected="false"
                >
                  已取消
                </button>
              </li>
              
              
            </ul>
            
    <!-- 假資料 -->
                 <!--  <div class="row item-row-custom">
                    <div class="col-2">123456</div>
                    <div class="col-3">2024-02-18</div>
                    <div class="col-2">50</div>
                    <div class="col-3">不成立<br />買家不接受</div>
                    <div class="col-2 d-flex flex-column align-items-center">
                      <button class="product align-self-start btn-func">
                        查看詳情
                      </button>
                    </div>
                  </div>
                </div> -->
            
            

     
     
           <div class="tab-content pt-2" id="borderedTabContent">
            
           
           
     <!-- 所有訂單 -->
           
		     		  <div
		                class="tab-pane show active"
		                id="bordered-all-orders"
		                role="tabpanel"
		                aria-labelledby="all-orders-tab">
		              
		              
		                <div class="container mt-3 container-list-custom">
		                 <div class="row header-row-custom">
		                    <div class="col-2">訂單編號</div>
		                    <div class="col-2">訂單日期</div>
		                    <div class="col-3">訂單金額</div>
		                    <div class="col-3">狀態</div>
		                    <div class="col-2">操作</div>
		                  </div>
		                  
		                  
		
		                  
		                  <div class="row item-row-custom" th:each="productOrderVO : ${sellerProductOrderList}">
		                    <div class="col-2" th:text="${productOrderVO.orderId}"></div>
		                    <div class="col-2 " th:text="${ #dates.format(productOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
		                    <div class="col-3 " th:text="${productOrderVO.actualPay}+元"></div>
		                   <!--  <div class="col-2" th:text="${productOrderVO.orderStatus}"></div> -->
										                   <div class="col-2">
								        <span th:switch="${productOrderVO.orderStatus}">
								            <span th:case="1">賣家待確認</span>
								            <span th:case="2">訂單不成立（買家取消）</span>
								            <span th:case="3">訂單不成立（賣家取消）</span>
								            <span th:case="4">訂單成立</span>
								            <span th:case="5">賣家理貨中</span>
								            <span th:case="6">商品已出貨</span>
								            <span th:case="7">訂單完成</span>
								            <span th:case="8">付款成功</span>
								            <span th:case="9">付款失敗</span>
								            <span th:case="10">退貨</span>
								            <!-- You can add more cases here if there are more statuses -->
								            <span th:case="*">未知</span> <!-- This is the default case if none of the above match -->
								        </span>
								    </div>
		                    <div class="col-3 d-flex flex-column align-items-center"> 
		                   
		                  		  <form method="post" th:action="@{/front/seller/productorder/confirm}" th:if="${productOrderVO.orderStatus == 1}">
		                    			  <button type="submit" class="product align-self-start btn-func">
		                      				 接受訂單
		                      			  </button>
		                      			 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
								  </form> 
		                      		
		                      		
		               		      <form method="post" th:action="@{/front/seller/productorder/cancel}" th:if="${productOrderVO.orderStatus == 1}">
		                    			  <button class="product align-self-start btn-func">
		                    			  取消訂單
		                    		 	</button>
		                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
		                  		  </form>
		                  		  
		               		       <form method="post" th:action="@{/front/seller/productorder/shipping}" th:if="${productOrderVO.orderStatus == 5}">
                    			  <button type="submit" class="product align-self-start btn-func">
                      				 出貨
                      			  </button>
                      			 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
						  </form> 
		                  		  
		                      
		                     	 <form method="get" th:action="@{/front/seller/productorder/getOrderdetails}">
		                    			  <button class="product align-self-start btn-func">
		                    			  查看詳情
		                    		 	</button>
		                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
		                  		  </form>
		                      	 
		                      	 </div>
		                    </div>
		                  </div> 
		         </div>




                 			
                
    <!-- 未處理 -->
              <div
                class="tab-pane"
                id="bordered-pending"
                role="tabpanel"
                aria-labelledby="pending-tab"
              >
              
             <div class="container mt-3 container-list-custom">
                 <div class="row header-row-custom">
                   		                    <div class="col-2">訂單編號</div>
		                    <div class="col-2">訂單日期</div>
		                    <div class="col-3">訂單金額</div>
		                    <div class="col-3">狀態</div>
		                    <div class="col-2">操作</div>
		                  </div>


             	<div class="row item-row-custom" th:each="productOrderVO : ${sellerProductOrderPendingConfirm}">

                    <div class="col-2" th:text="${productOrderVO.orderId}"></div>
                    <div class="col-2 " th:text="${#dates.format(productOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    <div class="col-3 " th:text="${productOrderVO.actualPay}+元"></div>
                    <!-- <div class="col-2" th:text="${productOrderVO.orderStatus}"></div> -->
                     <div class="col-2">
								        <span th:switch="${productOrderVO.orderStatus}">
								            <span th:case="1">賣家待確認</span>
								            <span th:case="2">訂單不成立（買家取消）</span>
								            <span th:case="3">訂單不成立（賣家取消）</span>
								            <span th:case="4">訂單成立</span>
								            <span th:case="5">賣家理貨中</span>
								            <span th:case="6">商品已出貨</span>
								            <span th:case="7">訂單完成</span>
								            <span th:case="8">付款成功</span>
								            <span th:case="9">付款失敗</span>
								            <span th:case="10">退貨</span>
								            <!-- You can add more cases here if there are more statuses -->
								            <span th:case="*">未知</span> <!-- This is the default case if none of the above match -->
								        </span>
								    </div>
                    
                    
                    
                    <div class="col-3 d-flex flex-column align-items-center"> 
                   
                  		  <form method="post" th:action="@{/front/seller/productorder/confirm}" th:if="${productOrderVO.orderStatus == 1}">
                    			  <button type="submit" class="product align-self-start btn-func">
                      				 接受訂單
                      			  </button>
                      			 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
						  </form> 
                      		
                      		
               		      <form method="post" th:action="@{/front/seller/productorder/cancel}" th:if="${productOrderVO.orderStatus == 1}">
                    			  <button class="product align-self-start btn-func">
                    			  取消訂單
                    		 	</button>
                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
                  		  </form>
                      

                     	 <form method="get" th:action="@{/front/seller/productorder/getOrderdetails}">
                    			  <button class="product align-self-start btn-func">
                    			  查看詳情
                    		 	</button>
                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
                  		  </form>
                      	 
                      	 </div>
                    </div>
                  
                </div>
              </div>
              
              
    <!-- 處理中 -->
              <div
                class="tab-pane"
                id="bordered-shipped"
                role="tabpanel"
                aria-labelledby="shipped-tab"
              >
              <div class="container mt-3 container-list-custom">
                  <div class="row header-row-custom">
                  		                    <div class="col-2">訂單編號</div>
		                    <div class="col-2">訂單日期</div>
		                    <div class="col-3">訂單金額</div>
		                    <div class="col-3">狀態</div>
		                    <div class="col-2">操作</div>
		                  </div>

                  <!-- Item 1 -->
                  <div class="row item-row-custom" th:each="productOrderVO : ${sellerProductOrderSellerProcessing}">

                    <div class="col-2" th:text="${productOrderVO.orderId}"></div>
                    <div class="col-2 " th:text="${#dates.format(productOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    <div class="col-3 " th:text="${productOrderVO.actualPay}+元"></div>
                  <!--   <div class="col-2" th:text="${productOrderVO.orderStatus}"></div> -->
                  <div class="col-2">
								        <span th:switch="${productOrderVO.orderStatus}">
								            <span th:case="1">賣家待確認</span>
								            <span th:case="2">訂單不成立（買家取消）</span>
								            <span th:case="3">訂單不成立（賣家取消）</span>
								            <span th:case="4">訂單成立</span>
								            <span th:case="5">賣家理貨中</span>
								            <span th:case="6">商品已出貨</span>
								            <span th:case="7">訂單完成</span>
								            <span th:case="8">付款成功</span>
								            <span th:case="9">付款失敗</span>
								            <span th:case="10">退貨</span>
								            <!-- You can add more cases here if there are more statuses -->
								            <span th:case="*">未知</span> <!-- This is the default case if none of the above match -->
								        </span>
								    </div>
                  
                  
                  
                  
                  
                    <div class="col-3 d-flex flex-column align-items-center"> 
                   
                  		  <form method="post" th:action="@{/front/seller/productorder/shipping}" th:if="${productOrderVO.orderStatus == 5}">
                    			  <button type="submit" class="product align-self-start btn-func">
                      				 出貨
                      			  </button>
                      			 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
						  </form> 
                      		
               		     
                      
                     	 <form method="get" th:action="@{/front/seller/productorder/getOrderdetails}">

                    			  <button class="product align-self-start btn-func">
                    			  查看詳情
                    		 	</button>
                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
                  		  </form>
                      	 
                      	 </div>
                    </div>

                  
                </div>
              </div>
              
       
     <!-- 已完成 -->
              <div
                class="tab-pane"
                id="bordered-completed"
                role="tabpanel"
                aria-labelledby="completed-tab"
              >
              
              <div class="container mt-3 container-list-custom">
                  <div class="row header-row-custom">
                  		                    <div class="col-2">訂單編號</div>
		                    <div class="col-2">訂單日期</div>
		                    <div class="col-3">訂單金額</div>
		                    <div class="col-3">狀態</div>
		                    <div class="col-2">操作</div>
		                  </div>
                 <div class="row item-row-custom" th:each="productOrderVO : ${sellerProductOrderCompleted}">

                    <div class="col-2" th:text="${productOrderVO.orderId}"></div>
                    <div class="col-2 " th:text="${#dates.format(productOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    <div class="col-3 " th:text="${productOrderVO.actualPay}+元"></div>
                    <!-- <div class="col-2" th:text="${productOrderVO.orderStatus}"></div> -->
                    
                    <div class="col-2">
								        <span th:switch="${productOrderVO.orderStatus}">
								            <span th:case="1">賣家待確認</span>
								            <span th:case="2">訂單不成立（買家取消）</span>
								            <span th:case="3">訂單不成立（賣家取消）</span>
								            <span th:case="4">訂單成立</span>
								            <span th:case="5">賣家理貨中</span>
								            <span th:case="6">商品已出貨</span>
								            <span th:case="7">訂單完成</span>
								            <span th:case="8">付款成功</span>
								            <span th:case="9">付款失敗</span>
								            <span th:case="10">退貨</span>
								            <!-- You can add more cases here if there are more statuses -->
								            <span th:case="*">未知</span> <!-- This is the default case if none of the above match -->
								        </span>
								    </div>
                    
                    
                    
                    
                    <div class="col-3 d-flex flex-column align-items-center"> 
                   
                      		
                      

                     	 <form method="get" th:action="@{/front/seller/productorder/getOrderdetails}">

                    			  <button class="product align-self-start btn-func">
                    			  查看詳情
                    		 	</button>
                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
                  		  </form>
                      	 
                      	 </div>
                    </div>
                
                
                
                
                </div>
              </div>
       
       
              
   <!-- 已取消 -->
                
                
              <div
                class="tab-pane"
                id="bordered-cancel"
                role="tabpanel"
                aria-labelledby="cancel-tab"
              >
              
              <div class="container mt-3 container-list-custom">
                  <div class="row header-row-custom">
                  		                    <div class="col-2">訂單編號</div>
		                    <div class="col-2">訂單日期</div>
		                    <div class="col-3">訂單金額</div>
		                    <div class="col-3">狀態</div>
		                    <div class="col-2">操作</div>
		                  </div>

                  <!-- Item 1 -->

                 <div class="row item-row-custom" th:each="productOrderVO : ${sellerProductOrderCanceled}">

                    <div class="col-2" th:text="${productOrderVO.orderId}"></div>
                    <div class="col-2 " th:text="${#dates.format(productOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    <div class="col-3 " th:text="${productOrderVO.actualPay}+元"></div>
                 <!--    <div class="col-2" th:text="${productOrderVO.orderStatus}"></div> -->
                 
                 <div class="col-2">
								        <span th:switch="${productOrderVO.orderStatus}">
								            <span th:case="1">賣家待確認</span>
								            <span th:case="2">訂單不成立（買家取消）</span>
								            <span th:case="3">訂單不成立（賣家取消）</span>
								            <span th:case="4">訂單成立</span>
								            <span th:case="5">賣家理貨中</span>
								            <span th:case="6">商品已出貨</span>
								            <span th:case="7">訂單完成</span>
								            <span th:case="8">付款成功</span>
								            <span th:case="9">付款失敗</span>
								            <span th:case="10">退貨</span>
								            <!-- You can add more cases here if there are more statuses -->
								            <span th:case="*">未知</span> <!-- This is the default case if none of the above match -->
								        </span>
								    </div>
                 
                 
                 
                 
                    <div class="col-3 d-flex flex-column align-items-center"> 
                   
                      		
                      

                     	 <form method="get" th:action="@{/front/seller/productorder/getOrderdetails}">

                    			  <button class="product align-self-start btn-func">
                    			  查看詳情
                    		 	</button>
                    		 	 <input type="hidden" name="orderId" th:value="${productOrderVO.orderId}">
                  		  </form>
                      	 
                      	 </div>
                    </div>

                  <!-- Item 2 -->
                 
                </div>
              </div>
              
            </div>
            
            
            
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </main>

    <!-- End #main -->

    <!-- End Main -->

    <!-- ======= Footer ======= -->
   <div th:replace="~{/fragment-footer}"></div>
    <!-- End Footer -->

    <!-- Vendor & Main JS Files -->
<div th:replace="fragment-js"></div>
    <!-- Local JS File -->
    
   
    
    
  </body>
</html>
