<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragment-head}"></th:block>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header class="fixed-top">
      <nav class="navbar navbar-expand navbar-expand-sm navbar-light bg-seller">
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse d-flex justify-content-between"
            id="navbarSupportedContent"
          >
            <!-- Start NavBar  -->
            <!-- NavBar--LeftSide  -->
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item d-flex align-items-center toggle-sidebar-btn">
                <i class="bi bi-list"></i>
                <a
                  class="nav-link cancel-default-behavior"
                  aria-current="page"
                  href="#"
                  >選單</a
                >
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link active" aria-current="page" href="#"
                  >電子商城</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="seller-login.html">賣家中心</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">論壇</a>
              </li>
            </ul>

            <!-- NavBar--RightSide  -->
            <ul class="navbar-nav ms-auto mb-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">註冊</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">登入</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End NavBar  -->
    </header>
    <!-- ======= Sidebar ======= -->
    <aside class="sidebar sidebar-layout-seller off">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="index.html">
            <i class="bi bi-grid"></i>
            <span>賣家中心</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#seller-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-person"></i>
            <span>賣家帳戶</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="seller-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="seller-level.html">
                <i class="bi bi-circle"></i><span>賣家等級</span>
              </a>
            </li>
            <li>
              <a href="seller-edit.html">
                <i class="bi bi-circle"></i><span>修改賣家資料</span>
              </a>
            </li>
            <li>
              <a href="seller-check-payment.html">
                <i class="bi bi-circle"></i><span>查看金流</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Seller Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bag"></i>
            <span>商品管理</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="product-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="product-add.html">
                <i class="bi bi-circle"></i><span>新增商品</span>
              </a>
            </li>
            <li>
              <a href="product-all.html">
                <i class="bi bi-circle"></i><span>商品列表</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End product Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#service-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-headset"></i><span>客戶服務</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="service-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="service-form.html">
                <i class="bi bi-circle"></i><span>意見表單</span>
              </a>
            </li>
            <li>
              <a href="service-reply.html">
                <i class="bi bi-circle"></i><span>查詢回覆</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Tables Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#charts-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bar-chart"></i><span>銷售報表</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="charts-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="charts-chartjs.html">
                <i class="bi bi-circle"></i><span>銷售數據</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Charts Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#order-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-stickies"></i><span>訂單管理</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="order-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="order-overall.html">
                <i class="bi bi-circle"></i><span>全部訂單</span>
              </a>
            </li>
            <li>
              <a href="order-search.html">
                <i class="bi bi-circle"></i><span>訂單查詢</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#ads-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-badge-ad"></i><span>廣告管理</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="ads-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="ads-add.html">
                <i class="bi bi-circle"></i><span>新增廣告</span>
              </a>
            </li>
            <li>
              <a href="ads-all.html">
                <i class="bi bi-circle"></i><span>查看廣告</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- End Icons Nav -->
      </ul>
    </aside>
    <!-- ======= Main ======= -->

    <main class="main main-layout-seller on">
      <div class="container">
        <section
          class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="d-flex justify-content-center py-4">
                  <img th:src="@{static/image/Medium.png}" alt="" />
                </div>
                <h1>😉賣家會員登入(Spring Security)</h1>
                <!-- End Logo -->

                <form
                  class="row needs-validation"
                  novalidate
                  th:action="@{/seller}"
                  method="post"
                >
                  <div class="col-12">
                    <label for="validationCustom01" class="form-label"
                      >帳號</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="validationCustom01"
                      placeholder="xxxx@email.com"
                      required
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">請輸入信箱</div>
                  </div>
                  <div class="col-12 mt-3">
                    <label for="validationCustom02" class="form-label"
                      >密碼</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="validationCustom02"
                      required
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">請輸入密碼</div>
                  </div>

                  <div class="col-12 mt-3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="invalidCheck"
                        required
                      />
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  <div class="row g-3 mt-5">
                    <!-- 第一个列 -->
                    <div class="col-6 d-flex justify-content-center">
                      <button class="btn btn-primary btn-lg" type="submit">
                        註&nbsp;&nbsp;&nbsp;冊
                      </button>
                    </div>

                    <!-- 第二个列 -->
                    <div class="col-6 d-flex justify-content-center">
                      <button class="btn btn-primary btn-lg" type="submit">
                        登&nbsp;&nbsp;&nbsp;入
                      </button>
                    </div>

                    <div class="col mt-5">
                      <div class="col d-flex justify-content-center">
                        <a
                          href="forgot"
                          class="forgot-password-link"
                          style="color: grey"
                          >忘記密碼</a
                        >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- End #main -->

    <!-- End Main -->

    <!-- ======= Footer ======= -->
    <footer class="footer footer-layout on">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white"
      >
        <div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

        <div class="col p-sm-2 px-5 px-sm-5 px-md-0">
          <h5 class="mb-3">關於我們</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">人才招募</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">E狗簡介</a>
            </li>
          </ul>
        </div>

        <div class="col p-sm-2 px-5 px-sm-5 px-md-0">
          <h5 class="mb-3">常見問題</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">聯絡E狗</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Q&A</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row footer-container-custom">
        <div class="col-3"></div>

        <div class="col-auto">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>
          </a>
          <p class="text-body-secondary">
            新加坡商CatTom有限公司台灣分公司 統一編號：00000000 © 2023
            CatTom.版權所有。
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <div th:replace="fragment-js"></div>

    <!-- Local JS File -->
    <script>
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              // 使用瀏覽器內建檢核機制 (含信箱,不為空值等)
              if (!form.checkValidity()) {
                // 阻止送出表單
                event.preventDefault();
                event.stopPropagation();
              }

              // 可以在這邊寫字定義邏輯
              //   if (notValid) {
              //     var invalidFeedbackElement = emailInput
              //       .closest("div")
              //       .querySelector(".invalid-feedback");

              //     invalidFeedbackElement.textContent = "AAAAA";
              //     let input = document.getElementById("validationCustom01");
              //     input.setCustomValidity("Error");

              //     event.preventDefault();
              //     event.stopPropagation();
              //   }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
