<!DOCTYPE html>
<html lang="en">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<nav
			class="navbar navbar-expand navbar-expand-sm navbar-light bg-seller">
			<div class="container-fluid">
				<div class="collapse navbar-collapse d-flex justify-content-between"
					id="navbarSupportedContent">
					<!-- Start NavBar  -->
					<!-- NavBar--LeftSide  -->
					<ul class="navbar-nav me-auto mb-2">
						<li class="nav-item d-flex align-items-center toggle-sidebar-btn">
							<i class="bi bi-list"></i> <a
							class="nav-link cancel-default-behavior" aria-current="page"
							href="#">選單</a>
						</li>
						<li class="nav-item d-flex align-items-center"><a
							class="nav-link active" aria-current="page" href="#">電子商城</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							href="seller-login.html">賣家中心</a></li>
						<li class="nav-item"><a class="nav-link" href="#">論壇</a></li>
					</ul>

					<!-- NavBar--RightSide  -->
					<ul class="navbar-nav ms-auto mb-2">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">註冊</a></li>
						<li class="nav-item"><a class="nav-link" href="#">登入</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End NavBar  -->
	</header>
	<!-- ======= Sidebar ======= -->
	<aside th:replace="back-end/aside-back.html"></aside>
	<!-- ======= Main ======= -->

	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>新增商品資料</h1>
			<nav class="mt-5 mb-4">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">商品設定</li>
				</ol>
			</nav>

			<!-- 假的表單imageForm，實際上是動態生成表單再送出去 -->
			<form class="row g-3" id="imageForm" method="post" th:action="@{insert}"
				enctype="multipart/form-data">
				<div class="upload__box">
					<div class="upload__btn-box">
						<label for="mainImage" class="btn btn-sellerdark">請選擇主要圖片</label>
						<input type="file" data-max_length="1"
							class="form-control upload__inputfile" id="mainImage"
							name="mainImage" onclick="previewImage()" onchange="hideContent('upFiles.errors');" />
						<div class="valid-feedback">Looks Good!</div>
						<div id="mainImageFeedback" class="invalid-feedback">Please
							provide a valid Picture.</div>
							<div id="mainImage_blob_holder"></div>
					</div>
					<div class="upload__img--wrap"></div>
				</div>

				<div class="upload__box">
					<div class="upload__btn-box">
						<label for="subImages" class="btn btn-sellerdark"> 請選擇其他圖片</label>
						<input type="file" multiple="" data-max_length="5"
							class="form-control upload__inputfile" id="subImages"
							name="subImages" onclick="previewImage1()" onchange="hideContent('upFiles.errors');"/>
						<div class="valid-feedback">Looks Good!</div>
						<div id="subImagesFeedback" class="invalid-feedback">Please
							provide a valid Picture.</div>
							<div id="subImages_blob_holder"></div>
					</div>
					<div class="upload__img--wrap"></div>
				</div>
		
				<div class="col-md-12">
					<label for="productName" class="form-label">商品名稱</label> <input
						type="text" class="form-control" id="productName"
						name="productName" />
					<div id="productNameFeedback" class="invalid-feedback">
						Please provide a valid city.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="col-md-12">
					<label for="productSort" class="form-label">商品分類</label> <select
						class="form-select" id="productSort" name="productSort">
						<option value="-1" disabled selected>請選擇商品</option>
						<option value="0">食品</option>
						<option value="1">玩具</option>
						<option value="2">寢具</option>
						<option value="3">美容清潔</option>
						<option value="4">攜帶袋</option>
						<option value="5">服飾</option>
						<option value="6">健康保健</option>
						<option value="7">配件</option>
					</select>
					<div id="productSortFeedback" class="invalid-feedback">
						Please provide a valid city.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="col-md-12">
					<label for="productPrice" class="form-label">商品價格</label> <input
						type="text" class="form-control" id="productPrice"
						name="productPrice" />
					<div id="productPriceFeedback" class="invalid-feedback">
						Please provide a valid inputProductPrice.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="col-md-12">
					<label for="productStockQuantity" class="form-label">商品庫存</label>
					<input type="text" class="form-control" id="productStockQuantity"
						name="productStockQuantity" />
					<div id="productStockQuantityFeedback" class="invalid-feedback">
						Please provide a valid inputStockQuantity.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="col-md-12">
					<label for="productDetails" class="form-label">商品描述</label> <input
						type="text" class="form-control" id="productDetails"
						name="productDetails" />
					<div id="productDetailsFeedback" class="invalid-feedback">
						Please provide a valid inputProductDetails.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div
					class="text-center d-flex flex-row gap-5 justify-content-center">
					<button type="reset" class="btn btn-secondary">重設</button>
					<button type="submit" id="submitButton" class="btn btn-primary">
						提交2張表</button>
				</div>
			</form>
		</div>
	</main>

	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout on">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
					<svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Vendor & Main JS Files -->
	<div th:replace="fragment-js"></div>

	<!-- Local JS File -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
	alert("No FileReader support");
}
acceptedTypes = {
	'image/png' : true,
	'image/jpeg' : true,
	'image/gif' : true
};
function previewImage() {
    var upfile1 = document.getElementById("mainImage");
    upfile1.addEventListener("change", function(event) {
        var files = event.target.files || event.dataTransfer.files;
        for (var i = 0; i < files.length; i++) {
            previewfile(files[i], "mainImage_blob_holder");
        }
    }, false);
}

function previewImage1() {
	   var upfile2 = document.getElementById("subImages");
	   upfile2.addEventListener("change", function (event) {
	    var files = event.target.files || event.dataTransfer.files;
	    var blob_holder = document.getElementById("subImages_blob_holder");
	    
	    while (blob_holder.firstChild) {
	     blob_holder.removeChild(blob_holder.firstChild);
	    }
	   
	    for (var i = 0; i < files.length; i++) {
	     let previewDiv = document.createElement('div');
	     let previewImg = document.createElement('img');
	     previewImg.src = URL.createObjectURL(files[i]);
	     previewImg.classList.add('preview-image');
	     previewDiv.appendChild(previewImg);
	     blob_holder.appendChild(previewDiv);
	    }
	   }, false);
	  }

function previewfile(file, blobHolderId) {
    var blob_holder = document.getElementById(blobHolderId);
    if (filereader_support === true && acceptedTypes[file.type] === true) {
        var reader = new FileReader();
        reader.onload = function(event) {
            var image = new Image();
            image.src = event.target.result;
            image.width = 200;
            image.height = 150;
            image.border = 2;
            blob_holder.appendChild(image);
        };
        reader.readAsDataURL(file);
        document.getElementById('submit').disabled = false;
    } else {
        blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
                + "<br>" + "● ContentTyp: " + file.type
                + "<br>" + "● size: " + file.size + "bytes"
                + "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
        document.getElementById('submit').disabled = true;
    }
}
</script>
</body>
</html>
