<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>
<body>
	<!-- ======= Header ======= -->

	<header class="fixed-top">
		<th:block th:insert="~{/front-end/seller/header-seller}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{/front-end/seller/aside-seller}"></aside>
	<!-- ======= Main ======= -->

	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>新增商品資料</h1>
			<nav class="mt-5 mb-4">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">商品設定</li>
				</ol>
			</nav>

			<!-- 假的表單imageForm，實際上是動態生成表單再送出去 -->
			<form class="row g-3" id="imageForm" method="post"
				th:object="${productVO}" th:action="@{insert}"
				enctype="multipart/form-data">
				<div class="upload__box">
					<div class="upload__btn-box">
						<label for="mainImage" class="btn btn-sellerdark">請選擇主要圖片</label>
						<input type="file" data-max_length="1"
							class="form-control upload__inputfile" id="mainImage"
							name="mainImage" onclick="previewImage()"
							onchange="hideContent('upFiles.errors');" />
						<div class="valid-feedback">Looks Good!</div>
						<div id="mainImageFeedback" class="invalid-feedback">Please
							provide a valid Picture.</div>
						<div id="mainImage_blob_holder"></div>
					</div>
					<div class="upload__img--wrap"></div>
				</div>

				<div class="upload__box">
					<div class="upload__btn-box">
						<label for="subImages" class="btn btn-sellerdark"> 請選擇其他圖片</label>
						<input type="file" multiple="" data-max_length="5"
							class="form-control upload__inputfile" id="subImages"
							name="subImages" onclick="previewImage1()"
							onchange="hideContent('upFiles.errors');" />
						<div class="valid-feedback">Looks Good!</div>
						<div id="subImagesFeedback" class="invalid-feedback">Please
							provide a valid Picture.</div>
						<div id="subImages_blob_holder"></div>
					</div>
					<div class="upload__img--wrap"></div>
				</div>

				<div class="col-md-12">
					<label for="productName" class="form-label">商品名稱</label> <input
						type="text" th:field="*{productName}"
						onclick="hideContent('productName.errors');" class="form-control"
						id="productName" name="productName" />
					<div style="color: red; font-size: 14px;">
						<div th:if="${#fields.hasErrors('productName')}"
							th:errors="*{productName}" class="error" id="adName.errors"></div>
					</div>
				</div>

				<div class="col-md-12">
					<label for="productSort" class="form-label">商品分類</label> <select
						class="form-select" id="productSortNo" name="productSortNo">
						<option value="-1" disabled selected>請選擇商品</option>
						<option value="0">食品</option>
						<option value="1">玩具</option>
						<option value="2">寢具</option>
						<option value="3">美容清潔</option>
						<option value="4">攜帶袋</option>
						<option value="5">服飾</option>
						<option value="6">健康保健</option>
						<option value="7">配件</option>
					</select>
					<div style="color: red; font-size: 14px;">
						<div th:if="${#fields.hasErrors('productSortVO')}"
							th:errors="*{productSortVO}" class="error"
							id="productSortVO.errors"></div>
					</div>
				</div>

				<div class="col-md-12">
					<label for="productSort" class="form-label">寵物分類</label> <select
						class="form-select" id="animalType" name="animalType">
						<option value="-1" disabled selected>請選擇寵物分類</option>
						<option value="dog">犬</option>
						<option value="cat">貓</option>
						<option value="bird">鳥</option>
					</select>
					<div style="color: red; font-size: 14px;">
						<div th:if="${#fields.hasErrors('animalType')}"
							th:errors="*{animalType}" class="error" id="animalType.errors"></div>
					</div>
				</div>



				<div class="col-md-12">
					<label for="productPrice" class="form-label">商品價格</label> <input
						type="text" th:field="*{price}"
						onclick="hideContent('price.errors');" class="form-control"
						id="productPrice" name="Price" />
					<div style="color: red; font-size: 14px;">
						<div th:if="${#fields.hasErrors('Price')}"
							th:errors="*{Price}" class="error"
							id="Price.errors"></div>
					</div>
				</div>

				<div class="col-md-12">
					<label for="productStockQuantity" class="form-label">商品庫存</label> <input
						type="text" th:field="*{productStockQuantity}"
						onclick="hideContent('productStockQuantity.errors');"
						class="form-control" id="productStockQuantity"
						name="productStockQuantity" />
					<div style="color: red; font-size: 14px;">
						<div th:if="${#fields.hasErrors('productStockQuantity')}"
							th:errors="*{productStockQuantity}" class="error"
							id="productStockQuantity.errors"></div>
					</div>
				</div>

				<div class="col-md-12">
					<label for="productDetails" class="form-label">商品描述</label> <input
						type="text" th:field="*{productDetails}"
						onclick="hideContent('productDetails.errors');"
						class="form-control" id="productDetails" name="productDetails" />
					<div style="color: red; font-size: 14px;">
						<div th:if="${#fields.hasErrors('productDetails')}"
							th:errors="*{productDetails}" class="error"
							id="productDetails.errors"></div>
					</div>
				</div>

				<div
					class="text-center d-flex flex-row gap-5 justify-content-center">
					<button type="reset" class="btn btn-secondary">重設</button>
					<button type="submit" id="submitButton" class="btn btn-primary">
						送出</button>
				</div>
			</form>
		</div>
	</main>

	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<div th:replace="~{/fragment-footer}"></div>
	<!-- End Footer -->

	<!-- Vendor & Main JS Files -->
	<div th:replace="fragment-js"></div>

	<!-- Local JS File -->
	<script type="text/javascript">
		//清除提示信息
		function hideContent(d) {
			document.getElementById(d).style.display = "none";
		}

		//照片上傳-預覽用
		var filereader_support = typeof FileReader != 'undefined';
		if (!filereader_support) {
			alert("No FileReader support");
		}
		acceptedTypes = {
			'image/png' : true,
			'image/jpeg' : true,
			'image/gif' : true
		};

		// function previewImage() {
		//     var upfile1 = document.getElementById("mainImage");
		//     upfile1.addEventListener("change", function(event) {
		//         var files = event.target.files || event.dataTransfer.files;
		// //         for (var i = 0; i < files.length; i++) {
		// //             previewfile(files[i], "mainImage_blob_holder");
		// //             console.log("生徒");
		// //         }

		//             previewfile(files[0], "mainImage_blob_holder");

		//         clearChildNodesExceptLast();
		//     }, false);
		// }

		// 上傳主圖片
		function previewImage() {
			var upfile1 = document.getElementById("mainImage");
			upfile1.addEventListener("change", function(event) {
				var files = event.target.files || event.dataTransfer.files;
				var mainImage_blob_holder = document
						.getElementById("mainImage_blob_holder");

				if (mainImage_blob_holder.firstChild) {
					mainImage_blob_holder.firstChild.src = URL
							.createObjectURL(files[0]);
				} else {
					previewfile(files[0], "mainImage_blob_holder");
				}
			}, false);
		}

		function previewImage1() {
			var upfile2 = document.getElementById("subImages");
			upfile2.addEventListener("change", function(event) {
				var files = event.target.files || event.dataTransfer.files;
				var blob_holder = document
						.getElementById("subImages_blob_holder");

				while (blob_holder.firstChild) {
					blob_holder.removeChild(blob_holder.firstChild);
				}

				for (var i = 0; i < files.length; i++) {
					let previewDiv = document.createElement('div');
					let previewImg = document.createElement('img');
					previewImg.src = URL.createObjectURL(files[i]);
					previewImg.classList.add('preview-image');
					previewDiv.appendChild(previewImg);
					blob_holder.appendChild(previewDiv);
				}
			}, false);
		}

		function previewfile(file, blobHolderId) {
			var blob_holder = document.getElementById(blobHolderId);
			if (filereader_support === true
					&& acceptedTypes[file.type] === true) {
				var reader = new FileReader();
				reader.onload = function(event) {
					var image = new Image();
					image.src = event.target.result;
					image.width = 200;
					image.height = 150;
					image.border = 2;
					blob_holder.appendChild(image);

				};
				reader.readAsDataURL(file);
				//         document.getElementById('submit').disabled = false;
			} else {
				blob_holder.innerHTML = "<div  style='text-align: left;'>"
						+ "● filename: "
						+ file.name
						+ "<br>"
						+ "● ContentTyp: "
						+ file.type
						+ "<br>"
						+ "● size: "
						+ file.size
						+ "bytes"
						+ "<br>"
						+ "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
				document.getElementById('submit').disabled = true;
				console.log("出徒的來源?");
			}
		}

		// function clearChildNodesExceptLast() {
		//     var mainImage_blob_holder = document.getElementById("mainImage_blob_holder");
		//     var childNodes = mainImage_blob_holder.children;
		//     // 從第一個子元素開始到倒數第二個子元素移除
		//     for (var nnn = childNodes.length - 2; nnn >= 0; nnn--) {
		//     	mainImage_blob_holder.removeChild(childNodes[nnn]);
		//         console.log("有進f的迴圈");
		//     }
		//     for (var xx = 0 ; xx <= 5 ; xx++){
		//     	mainImage_blob_holder.removeChild(childNodes[0]);
		//     	console.log("測試迴圈");
		//     }
		//     console.log(childNodes.length);
		//     console.log("有進f");
		// }
	</script>
</body>
</html>
