<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
    <th:block th:insert="~{/front-end/seller/header-seller.html}">
		</th:block>
	</header>
	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{front-end/seller/aside-seller.html}"></aside>

	<!-- ======= Main ======= -->

	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>新增廣告資料</h1>
			<nav class="mt-5 mb-4">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">廣告設定</li>
				</ol>
			</nav>

			<!-- 假的表單dataForm，實際上是動態生成表單再送出去 -->
			<form id="dataForm" method="POST" th:action="@{insert}"
				enctype="multipart/form-data">
				<div class="upload__box">
					<div class="upload__btn-box">
						<label for="adImg" class="btn btn-sellerdark">請選擇廣告圖片</label> <input
							type="file" data-max_length="1"
							class="form-control upload__inputfile" id="adImg" name="adImg"
							onclick="previewImage()"
							onchange="hideContent('upFiles.errors');" />
						<div class="valid-feedback">Looks Good!</div>
						<div id="adImgFeedback" class="invalid-feedback">Please
							provide a valid Picture.</div>
						<div id="blob_holder"></div>
						<span class="error" th:utext="${errorMessage}" id="upFiles.errors">${errorMessage}</span>
					</div>
					<div class="upload__img--wrap"></div>
				</div>


				<div class="col-md-12" style="margin-bottom: 20px;">
					<label for="productName" class="form-label">廣告名稱</label> <input
						type="text" class="form-control" id="adName" name="adName" />
					<div id="productNameFeedback" class="invalid-feedback">
						Please provide a valid city.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="col-md-12" style="margin-bottom: 20px;">
					<label for="productSort" class="form-label">廣告類型</label> <select
						class="form-select" id="adLv" name="adLv">
						<option value="-1" disabled selected>請選擇廣告版型</option>
						<option value="0">BaseType</option>
						<option value="1">PremiumType</option>
					</select>
					<div id="productSortFeedback" class="invalid-feedback">
						Please provide a valid city.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>


				<div class="col-md-12" style="margin-bottom: 20px;">
					<label for="productStockQuantity" class="form-label">廣告商品網址</label>
					<input type="text" class="form-control" id="adUrl" name="adUrl" />
					<div id="productStockQuantityFeedback" class="invalid-feedback">
						Please provide a valid inputStockQuantity.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="col-md-12" style="margin-bottom: 20px;">
					<label for="productDetails" class="form-label">廣告備註</label> <input
						type="text" class="form-control" id="adMemo" name="adMemo" />
					<div id="productDetailsFeedback" class="invalid-feedback">
						Please provide a valid inputProductDetails.</div>
					<div class="valid-feedback">Looks Good!</div>
				</div>

				<div class="row">
					<div class="col-md-6" style="margin-bottom: 20px;">
						<label for="f_date1" class="form-label">廣告起始日期</label> <input
							type="date" class="form-control" id="f_date1" name="adStartTime" />
					</div>

					<div class="col-md-6" style="margin-bottom: 20px;">
						<label for="end-date" class="form-label">廣告結束日期</label> <input
							type="date" class="form-control" id="f_date2" name="adEndTime" />
					</div>
				</div>



				<div
					class="text-center d-flex flex-row gap-5 justify-content-center">
					<button type="reset" class="btn btn-secondary">重設</button>
					<button type="submit" id="submitButton" class="btn btn-primary">
						提交2張表</button>
				</div>
			</form>
		</div>
	</main>
	<!-- End #main -->

	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout on">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
					<svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Vendor & Main JS Files -->
	<div th:replace="@{/fragment-js}"></div>

	<!-- Local JS File -->
	<script type="text/javascript">
		//清除提示信息
		function hideContent(d) {
			document.getElementById(d).style.display = "none";
		}

		//照片上傳-預覽用
		var filereader_support = typeof FileReader != 'undefined';
		if (!filereader_support) {
			alert("No FileReader support");
		}
		acceptedTypes = {
			'image/png' : true,
			'image/jpeg' : true,
			'image/gif' : true
		};
		function previewImage() {
			var upfile1 = document.getElementById("adImg");
			upfile1.addEventListener("change", function(event) {
				var files = event.target.files || event.dataTransfer.files;
				for (var i = 0; i < files.length; i++) {
					previewfile(files[i])
				}
			}, false);
		}
		function previewfile(file) {
			if (filereader_support === true
					&& acceptedTypes[file.type] === true) {
				var reader = new FileReader();
				reader.onload = function(event) {
					var image = new Image();
					image.src = event.target.result;
					image.width = 200;
					image.height = 150;
					image.border = 2;
					if (blob_holder.hasChildNodes()) {
						blob_holder.removeChild(blob_holder.childNodes[0]);
					}
					blob_holder.appendChild(image);
				};
				reader.readAsDataURL(file);
				document.getElementById('submit').disabled = false;
			} else {
				blob_holder.innerHTML = "<div  style='text-align: left;'>"
						+ "● filename: "
						+ file.name
						+ "<br>"
						+ "● ContentTyp: "
						+ file.type
						+ "<br>"
						+ "● size: "
						+ file.size
						+ "bytes"
						+ "<br>"
						+ "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
				document.getElementById('submit').disabled = true;
			}
		}
	</script>


</body>
</html>
