<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragment-head}"></th:block>
    <th:block th:insert="~{/fragment-datatableCss}"></th:block>
  </head>

  <body>
    <header class="fixed-top">
      <th:block th:insert="~{/back-end/header-back}"></th:block>
    </header>

    <aside th:replace="back-end/aside-back.html"></aside>
    <!-- ======= Main ======= -->

    <main class="main main-layout-seller">
      <div class="container-fluid seller-container">
        <h1>賣家等級</h1>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <!-- 免費 -->
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal table-text">免費</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  5%<small class="text-muted fw-light">/每筆</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>無廣告</li>
                  <li>不支援報表</li>
                </ul>
                <button
                  type="button"
                  class="w-100 btn btn-lg btn-sellerdark"
                  data-bs-toggle="modal"
                  data-bs-target="#freeModal"
                >
                  免費方案
                </button>
              </div>
            </div>
          </div>
          <!-- 專業 -->

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">專業</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  8%<small class="text-muted fw-light">/每筆</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>基本商品廣告</li>
                  <li>支援報表輸出</li>
                </ul>
                <button
                  type="button"
                  class="w-100 btn btn-lg btn-sellerdark btn-current"
                  disabled
                  data-bs-toggle="modal"
                  data-bs-target="#proModal"
                >
                  現在方案
                </button>
              </div>
            </div>
          </div>
          <!-- 企業 -->

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-sellerdark">
              <div
                class="card-header py-3 text-white bg-sellerdark border-sellerdark"
              >
                <h4 class="my-0 fw-normal">企業</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  12%<small class="text-muted fw-light">/每筆</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>主板廣告</li>
                  <li>支援報表輸出</li>
                </ul>
                <button
                  type="button"
                  class="w-100 btn btn-lg btn-sellerdark"
                  data-bs-toggle="modal"
                  data-bs-target="#topModal"
                >
                  升級
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid seller-container">
        <h1 class="display-6 mb-4">賣家方案</h1>

        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th class="pricing-table-text" style="width: 34%"></th>
                <th class="pricing-table-text" style="width: 22%">青銅</th>
                <th class="pricing-table-text" style="width: 22%">白銀</th>
                <th class="pricing-table-text" style="width: 22%">黃金</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start table-text">廣告允許類型</th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row" class="text-start table-text">匯出金流</th>
                <td><i class="ri-check-line"></i></td>
                <td><i class="ri-check-line"></i></td>
                <td><i class="ri-check-line"></i></td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <th scope="row" class="text-start table-text">運費減免</th>
                <td>10</td>
                <td>20</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row" class="text-start table-text">每月退貨率</th>
                <td>2</td>
                <td>3</td>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row" class="text-start table-text">顯示優先權</th>
                <td>false</td>
                <td><i class="ri-check-line"></i></td>
                <td><i class="ri-check-line"></i></td>
              </tr>
              <tr>
                <th scope="row" class="text-start table-text">貨架數量</th>
                <td>50</td>
                <td>100</td>
                <td>150</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <!-- End Main -->
    <!-- Modal 免費方案-->
    <div
      class="modal fade"
      id="freeModal"
      tabindex="-1"
      aria-labelledby="FreeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="FreeModalLabel">回去當免費仔😱</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">我就是要當免費仔😉</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確認</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Pro方案-->
    <div
      class="modal fade"
      id="proModal"
      tabindex="-1"
      aria-labelledby="ProModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ProModalLabel">回去當免費仔😱</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">您的權益會有所更動，是否確認</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">
              我就是要當免費仔😉
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal TOP方案-->
    <div
      class="modal fade"
      id="topModal"
      tabindex="-1"
      aria-labelledby="TopModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TopModalLabel">謝謝金主爸爸🎉🎉</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">確認</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確認</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <div th:replace="fragment-js"></div>

    <!-- Local JS File -->
  </body>
</html>
