.col-0-5 {
  flex: 0 0 5%;
  max-width: 5%;
}

.col-1-5 {
  flex: 0 0 15%;
  max-width: 15%;
}

.col-1-2 {
  flex: 0 0 12%;
  max-width: 12%;
}

.col-1-8 {
  flex: 0 0 18%;
  max-width: 18%;
}

.col-2-2 {
  flex: 0 0 18%;
  max-width: 18%;
}

.col-f110 {
  max-width: 110px;
}
