 <aside class="sidebar sidebar-layout">
      <ul class="sidebar-nav" id="sidebar-nav">
        <!-- End Dashboard Nav -->
        <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#seller-nav"
        data-bs-toggle="collapse"
        th:href="@{#}"
      >
        <i class="bi bi-grid"></i>
        <span>文章分類</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="seller-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a th:href="@{/article/TypeList?id=1}">
            <i class="bi bi-circle"></i><span>寵物生活</span>
          </a>
        </li>
        <li>
          <a th:href="@{/article/TypeList?id=2}">
            <i class="bi bi-circle"></i><span>寵物美容</span>
          </a>
        </li>
        <li>
          <a th:href="@{/article/TypeList?id=3}">
            <i class="bi bi-circle"></i><span>寵物訓練</span>
          </a>
        </li>
        <li>
          <a th:href="@{/article/TypeList?id=4}">
            <i class="bi bi-circle"></i><span>寵物飲食</span>
          </a>
        </li>
        <li>
          <a th:href="@{/article/TypeList?id=5}">
            <i class="bi bi-circle"></i><span>寵物保健</span>
          </a>
        </li>
        <li>
          <a th:href="@{/article/TypeList?id=6}">
            <i class="bi bi-circle"></i><span>寵物旅遊</span>
          </a>
        </li>
      </ul>
    </li>
        <!-- End 文章分類 -->

		 <li class="nav-item">
		    <a class="nav-link collapsed" th:href="@{/article/listAll}">
		        <i class="bi bi-file-text"></i>
		        <span>所有文章</span>
		    </a>
		</li>

          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/article/add}">
              <i class="bi bi-pencil-square"></i>
              <span>發表文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/article/MyArticle?id=1}">
              <i class="bi bi-person"></i>
              <span>我的文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-suit-heart"></i>
              <span>喜愛文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/msg/listAll}">
              <i class="bi bi-bell"></i>
              <span>消息通知</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/front/forum/petdraw}">
               <i class="bi bi-subtract"></i>
              <span>寵物抽卡</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-fire"></i>
              <span>熱門活動</span>
            </a>
          </li>
          <!-- End Profile Page Nav --> 
      </ul>
    </aside>