 <aside class="sidebar sidebar-layout">
      <ul class="sidebar-nav" id="sidebar-nav">
        <!-- End Dashboard Nav -->
        <li class="nav-item">
          <a class="nav-link nav-seller-entry" href="back-main.html">
            <i class="bi bi-grid"></i>
            <span>賣家中心</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#components-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-grid"></i>
            <span>文章分類</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="components-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
          <li>
            <a href="articleType1.html">
              <i class="bi bi-circle"></i><span>文章分類一</span>
            </a>
          </li>
          <li>
            <a href="articleType2.html">
              <i class="bi bi-circle"></i><span>文章分類二</span>
            </a>
          </li>
          <li>
            <a href="articleType3.html">
              <i class="bi bi-circle"></i><span>文章分類三</span>
            </a>
          </li>
          </ul>
        </li>
        <!-- End 文章分類 -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="forum-home.html">
              <i class="bi bi-file-text"></i>
              <span>所有文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="post-article.html">
              <i class="bi bi-pencil-square"></i>
              <span>發表文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>我的文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-suit-heart"></i>
              <span>喜愛文章</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-bell"></i>
              <span>消息通知</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-subtract"></i>
              <span>寵物抽卡</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-fire"></i>
              <span>熱門活動</span>
            </a>
          </li>
          <!-- End Profile Page Nav --> 
      </ul>
    </aside>