<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
<!-- <th:block th:insert="~{/fragment-datatableCss}"></th:block> -->

</head>
  <body>
    <!-- ======= Header ======= -->
        <header class="fixed-top">
	      <th:block th:insert="~{/front-end/article/header-article}"></th:block>
	    </header>
    	
    <!-- ======= Sidebar ======= -->
    <aside th:replace="front-end/article/aside-forum.html"></aside>
    <!-- ======= Main ======= -->
    <main class="main main-layout-seller">
    <div class="seller-container">
			<div class="pagetitle">
    <h1  style="margin-top: 30px;">全部</h1>
	     
	        </div> 
	        
			<table id="articleTable" 
				style="width: 100%">
				<tbody>
					<th:block th:each="articleVO : ${articleListData}">
						<tr th:if="${articleVO.isEnabled}" class="forum-article" th:onclick="'redirectToUpdatePage(\'' + @{/front/forum/article/getOne(id=${articleVO.articleId})} + '\')'">
						<td style="display: none;" th:text="${articleVO.articleId}"></td>
							<td class="avatar-category">
						        <span class="avatar-name" th:text="${articleVO.buyerVO.memberName}"></span>
						        <span class="category-name" th:text="${articleVO.articleTypeVO.articleTypeName}"></span>
						    </td>
							<td class="article-title" th:text="${articleVO.articleTitle}"></td>
							<td class="interaction-section">
						        <i class="bi bi-suit-heart"></i>
						        <span class="article-like" th:text="${articleVO.articleLike}"></span>
						        <i class="bi bi-chat-dots"></i>
						        <span class="article-comment" th:text="${articleVO.articleComment}"></span>
						    
							<span class="post-time time" th:if="${articleVO.artUpdateTime != null}" th:text="${#dates.format(articleVO.artUpdateTime, 'yyyy-MM-dd HH:mm:ss')} + ' 更新'"></span>
							<span class="post-time time" th:unless="${articleVO.artUpdateTime != null}" th:text="${#dates.format(articleVO.artCreateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
							</td>
						</tr>
					</th:block>

				</tbody>
			</table>
		</div>
	</main>
    <!-- End Main -->

    <!-- ======= Footer ======= -->
    <footer class="footer footer-layout">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white"
      >
        <div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

        <div class="col p-sm-2 px-5 px-sm-5 px-md-0">
          <h5 class="mb-3">關於我們</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">人才招募</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">E狗簡介</a>
            </li>
          </ul>
        </div>

        <div class="col p-sm-2 px-5 px-sm-5 px-md-0">
          <h5 class="mb-3">常見問題</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">聯絡E狗</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Q&A</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row footer-container-custom">
        <div class="col-3"></div>

        <div class="col-auto">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>
          </a>
          <p class="text-body-secondary">
            新加坡商CatTom有限公司台灣分公司 統一編號：00000000 © 2023
            CatTom.版權所有。
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
		<div th:replace="~{/fragment-js}"></div>
		<div th:replace="~{/fragment-datatableJs}"></div>
    <script>
    $("a.tab").on("click", function (e) {
        e.preventDefault();
        console.log("aaa");
        /* 將頁籤列表移除所有 -on，再將指定的加上 -on */
        $(this).closest("ul").find("a.tab").removeClass("-on");
        $(this).addClass("-on");

        /* 找到對應的頁籤內容，加上 -on 來顯示 */
        $("div.tab").removeClass("-on");
        $("div.tab." + $(this).attr("data-target")).addClass("-on");
      });
		function redirectToUpdatePage(url) {
	        window.location.href = url;
	    }
	</script>
  </body>
</html>
