<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<th:block th:insert="~{/fragment-head}"></th:block>
<!-- <th:block th:insert="~{/fragment-datatableCss}"></th:block> -->
<style type="text/css">
.hide {
	display: none;
}
</style>

</head>

<body>
	<!-- ======= Header ======= -->
	 <header class="fixed-top">
	      <th:block th:insert="~{/front-end/article/header-article}"></th:block>
	    </header>
	<!-- End NavBar  -->
	<!-- ======= Sidebar ======= -->
	<aside th:replace="front-end/article/aside-forum.html"></aside>
	<!-- ======= Main ======= -->
	<main class="main main-layout-seller ">
		<div class="seller-container mt-5">
			<div class="pagetitle">

				<div th:each="pairResponse : ${pairResponses}">
					<form th:action="@{/front/forum/petdraw/otherpairing/update}"
						method="post" th:object="${pairResponse}"
						enctype="multipart/form-data">

						<img
							th:src="@{/front/forum/petdraw/PetDrawReader} + '?memberpairId=' + *{memberVO.memberId}"
							width="200px" />
						<div>
							<label>配對的會員編號:</label> <span th:text="*{memberVO.memberId}"
								style="font-weight: bold;"></span><br />
						</div>

						<div>

						
							
							<label>
							
							是否喜歡: <input type="hidden" name="memberId"
								th:value="*{memberVO.memberId}" />

							</label> <label> <input type="radio" name="memberLike"
								th:value="true" /> Yes
							</label> <label> <input type="radio" name="memberLike"
								th:value="false" /> No
							</label>
							<br>
							<button type="submit"class="modern-button">確認</button>
						</div>
					</form>
				</div>

			</div>

		</div>
	</main>
	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
					<svg class="bi" width="32" height="32" fill="currentColor">
						<use xlink:href="bootstrap-icons.svg#heart-fill" />
					</svg>
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Vendor JS Files -->
	<div th:replace="~{/fragment-js}"></div>
	<div th:replace="~{/fragment-datatableJs}"></div>

	<script>
		function setPreference(preference) {
			// Update the hidden input's value
			document.getElementById('preferenceInput').value = preference;

			// Implement any additional logic to handle the preference (true or false)
			console.log('Preference set to:', preference);
			// Here you might want to send this preference to the server or handle it in some other way.
		}

		function setLike(ispairLike) {
			if (ispairLike) {
				document.getElementById("likeHiddenInput").value = "true";
				document.getElementById("dislikeHiddenInput").value = "false";
			} else {
				document.getElementById("likeHiddenInput").value = "false";
				document.getElementById("dislikeHiddenInput").value = "true";
			}
		}
		
		function fetchMessages() {
		    $.ajax({
		        url: '/front/forum/msg',
		        success: function(messages) {
		            // 更新消息通知的DOM
		        }
		    });
		}
		setInterval(fetchMessages, 5000); // 每5秒检查一次新消息
	</script>

</body>

</html>