<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<th:block th:insert="~{/fragment-head}"></th:block>
<!-- <th:block th:insert="~{/fragment-datatableCss}"></th:block> -->

<meta property="og:description"
	content="每天午夜12點快來認識新的朋友吧!在這個頁面你可以抽取一位新朋友他會秀出他可愛的寵物只要雙方同意接受邀請你們就可以開始聊天!">
</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<nav
			class="navbar navbar-expand navbar-expand-sm navbar-light bg-user">
			<div class="container-fluid">
				<div class="collapse navbar-collapse d-flex justify-content-between"
					id="navbarSupportedContent">
					<!-- Start NavBar  -->
					<!-- NavBar--LeftSide  -->
					<ul class="navbar-nav me-auto mb-2">
						<li class="nav-item d-flex align-items-center toggle-sidebar-btn">
							<i class="bi bi-list"></i> <a
							class="nav-link cancel-default-behavior" aria-current="page"
							href="#">選單</a>
						</li>
						<li class="nav-item d-flex align-items-center"><a
							class="nav-link active" aria-current="page" href="#">電子商城</a></li>
						<li class="nav-item"><a class="nav-link"
							href="seller-login.html">賣家中心</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/article/listAll}">論壇</a></li>
					</ul>

					<!-- NavBar--RightSide  -->
					<ul class="navbar-nav ms-auto mb-2">

						<!-- 測試進入後台入口 -->
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">註冊</a></li>
						<li class="nav-item"><a class="nav-link" href="#">登入</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End NavBar  -->

		<!-- Start SearchBar  -->
		<div class="container-fluid bg-user search-container-custom">
			<div class="row">
				<!-- Start SearchBar-Logo  -->
				<div
					class="col-auto d-none d-lg-block logo-container-height d-flex align-items-end">
					<img th:src="@{/image/Medium.png}" class="img-logo-custom" alt=""
						srcset="" />
				</div>
				<!-- End SearchBar-Logo  -->

				<!-- Start SearchBar-Input  -->
				<div
					class="col d-flex searchItem flex-column search-item-container-custom">
					<form class="form-inline w-100" method="post"
						th:action="@{petdraw}">
						<div class="row py-2 search-row-custom w-100 pe-2">
							<div class="col">
								<input class="form-control mr-sm-2 w-100 search-input-custom"
									type="search" placeholder="請在此進行文章搜索" aria-label="Search"
									name="searchText" />
							</div>
							<div class="col-auto">
								<button class="btn btn-user search-button-custom d-flex"
									type="submit">
									<i class="me-2 ri-search-line"></i>
									<div class="col-auto d-none d-md-block">Search</div>
								</button>
							</div>
						</div>
					</form>
					<div class="my-2 keyword-container-custom">
						<span class="badge rounded-pill keyword-item-custom">寵物床</span> <span
							class="badge rounded-pill keyword-item-custom">玩具</span>
					</div>
				</div>
				<!-- End SearchBar-Input  -->

			</div>
		</div>
	</header>
	<!-- End NavBar  -->
	<!-- ======= Sidebar ======= -->
	<aside th:replace="front-end/article/aside-forum.html"></aside>
	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="seller-container mt-5">
			<div class="pagetitle ">
				<p id="timer"></p>


				<form method="get" th:action="@{/front/forum/petdraw/checkpairing}"
					style="margin-bottom: 0px;" class="mt-5">
					<input type="hidden" name="memberId" value="2"> <input
						type="submit" class="modern-button" value="配對結果">
				</form>



				<form method="post" th:action="@{/front/forum/petdraw/startpairing}"
					style="margin-bottom: 0px;" class="mt-5">
					<input type="hidden" name="memberId" value="2"> <input
						type="submit" class="modern-button" value="開始抽卡">
				</form>


				<form method="post" th:action="@{/front/forum/petdraw/othersparing}"
					style="margin-bottom: 0px;" class="mt-5">
					<input type="hidden" name="memberId" value="2"> <input
						type="submit" class="modern-button" value="有人想跟你配對">
				</form>

			</div>

		</div>
	</main>
	<!-- End Main -->


	<div class="modal fade" id="errorMessageModal" tabindex="-1"
		aria-labelledby="updateSuccessModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="updateSuccessModalLabel">狀態消息</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="errorMessageModalBody">修改成功🎉🎉🎉🎉🎉</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
					<svg class="bi" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#heart-fill" />
                    </svg>
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Vendor JS Files -->
	<div th:replace="~{/fragment-js}"></div>
	<div th:replace="~{/fragment-datatableJs}"></div>

	<script>
	document.addEventListener('DOMContentLoaded', function () {
	    const timerDisplay = document.getElementById('timer');

	    function updateTimer() {
	        const currentTime = new Date();
	        const nextDrawTime = new Date();

	        // 將下一次抽卡時間設置為台北時間午夜0點
	        if (currentTime.getUTCHours() >= 16) {
	        	 // 如果當前UTC時間超過16:00，設置為明天
	            nextDrawTime.setUTCDate(currentTime.getUTCDate() + 1);
	        }
	        // 台北午夜0點等於UTC的16:00
	        nextDrawTime.setUTCHours(16, 0, 0, 0);

	        const countdownFunc = () => {
	            const currentTime = new Date();
	            const timeDifference = nextDrawTime - currentTime;
	            if (timeDifference <= 0) {
	                clearInterval(interval);
	                timerDisplay.textContent = '已到抽卡時間!';
	                return;
	            }

	            const hours = Math.floor((timeDifference / (1000 * 60 * 60)) % 24);
	            const minutes = Math.floor((timeDifference / (1000 * 60)) % 60);
	            const seconds = Math.floor((timeDifference / 1000) % 60);
	            timerDisplay.textContent = `午夜倒數計時: ${hours}時 ${minutes}分 ${seconds}秒`;
	        };

	        countdownFunc();
	        const interval = setInterval(countdownFunc, 1000);
	    }

	    updateTimer();
	});
    </script>
    
    
    <script>
		window.onload = function() {
			// 从 URL 中解码参数
			const urlParams = new URLSearchParams(window.location.search);
			const errorMessage = urlParams.get('error');

			if (errorMessage === "hasDrawn") {
				// 显示模态框
				document.getElementById("errorMessageModalBody").innerHTML = errorMessage;

				// 检查是否已经显示了模态框
				const modalShown = sessionStorage.getItem('modalShown');
				console.log(modalShown);
				if (!modalShown) {
					$("#errorMessageModal").modal("show");
					// 设置模态框已显示的标志
					sessionStorage.setItem('modalShown', true);
				} else {
					sessionStorage.removeItem('modalShown');
					// 清除 URL 参数以防止刷新时重复显示
					window.history.replaceState({}, document.title,
							window.location.pathname);
				}
				
			}
		};
	</script>

</body>

</html>