<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
<!-- <th:block th:insert="~{/fragment-datatableCss}"></th:block> -->
<style type="text/css">
 .hide {
		display: none;
	}
	</style>
</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<nav
			class="navbar navbar-expand navbar-expand-sm navbar-light bg-user">
			<div class="container-fluid">
				<div class="collapse navbar-collapse d-flex justify-content-between"
					id="navbarSupportedContent">
					<!-- Start NavBar  -->
					<!-- NavBar--LeftSide  -->
					<ul class="navbar-nav me-auto mb-2">
						<li class="nav-item d-flex align-items-center toggle-sidebar-btn">
							<i class="bi bi-list"></i> <a
							class="nav-link cancel-default-behavior" aria-current="page"
							href="#">選單</a>
						</li>
						<li class="nav-item d-flex align-items-center"><a
							class="nav-link active" aria-current="page" href="#">電子商城</a></li>
						<li class="nav-item"><a class="nav-link"
							href="seller-login.html">賣家中心</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/article/listAll}">論壇</a></li>
					</ul>

					<!-- NavBar--RightSide  -->
					<ul class="navbar-nav ms-auto mb-2">

						<!-- 測試進入後台入口 -->
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">註冊</a></li>
						<li class="nav-item"><a class="nav-link" href="#">登入</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End NavBar  -->

		<!-- Start SearchBar  -->
		<div class="container-fluid bg-user search-container-custom">
			<div class="row">
				<!-- Start SearchBar-Logo  -->
				<div
					class="col-auto d-none d-lg-block logo-container-height d-flex align-items-end">
					<img th:src="@{/image/Medium.png}" class="img-logo-custom" alt=""
						srcset="" />
				</div>
				<!-- End SearchBar-Logo  -->

				<!-- Start SearchBar-Input  -->
				<div
					class="col d-flex searchItem flex-column search-item-container-custom">
					<form class="form-inline w-100" method="post" th:action="@{getOne_For_Display}">
					    <div class="row py-2 search-row-custom w-100 pe-2">
					        <div class="col">
					            <input class="form-control mr-sm-2 w-100 search-input-custom"
					                type="search" placeholder="請在此進行文章搜索" aria-label="Search" name="searchText" />
					        </div>
					        <div class="col-auto">
					            <button class="btn btn-user search-button-custom d-flex"
					                type="submit">
					                <i class="me-2 ri-search-line"></i>
					                <div class="col-auto d-none d-md-block">Search</div>
					            </button>
					        </div>
					    </div>
					</form>
					<div class="my-2 keyword-container-custom">
						<span class="badge rounded-pill keyword-item-custom">寵物床</span> <span
							class="badge rounded-pill keyword-item-custom">玩具</span>
					</div>
				</div>
				<!-- End SearchBar-Input  -->

			</div>
		</div>
	</header>
	<!-- ======= Sidebar ======= -->
	<aside th:replace="front-end/article/aside-forum.html"></aside>
	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="seller-container">
			<div class="pagetitle"></div>
			<div style="margin-top: 30px;" th:fragment="listOneArticle-div">
				<!-- 				<span th:text="${articleVO.articleId}"></span><br/> -->
				<span class="avatar-name" th:text="${articleVO.buyerVO.memberName}"></span><br/>
				
				<hr>
				
				<span class="title-category"> 
					<span class="article-title" th:text="${articleVO.articleTitle}"></span> 
					<span class="category-name" th:text="${articleVO.articleTypeVO.articleTypeName}"></span>
				</span> 
				
				<span class="article-content" th:text="${articleVO.articleContent}"></span><br/>
				<span><img th:if="${articleVO.upFiles != null}"
					th:src="@{/article/DBGifReader} + '?articleId=' + ${articleVO.articleId}"
					width="100px"></span><br/>

				<div class="interaction-section">
					<i class="bi bi-suit-heart like-btn" data-article-id="articleId"></i>
					<span class="article-like" th:text="${articleVO.articleLike}"></span>
					<i class="bi bi-chat-dots"></i>
					<span class="article-comment" th:text="${articleVO.articleComment}"></span> 
					<i class="bi bi-exclamation-triangle report-article-button" th:id="${articleVO.articleId}"></i>
					<span class="post-time time" th:text="${#dates.format(articleVO.artUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
				</div>

				<table id="example" class="display" style="width: 100%">
					<tbody>
						<th:block th:each="replyVO:${replyVOList}">

							<td>
								<hr style="margin-top: 10px;"> <span class="avatar-name"
								th:text="${replyVO.buyerVO.memberName}"> </span>
							</td>
							<tr>
								<td th:text="${replyVO.replyContent}"></td>
							</tr>
							<tr>
								<td class="interaction-section">
									<span class="floor-count" th:text="${replyVOStat.count + '樓'}"></span>
									<i class="bi bi-suit-heart reply-like-btn" data-article-id="replyId"></i>
									<span class="reply-like" th:text="${replyVO.replyLike}"></span> 
									<i class="bi bi-exclamation-triangle report-reply-button" th:id="${replyVO.replyId}"></i>
									<span class="reply-time" th:text="${#dates.format(replyVO.replyTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
								</td>
							</tr>

						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- 檢舉 -->
		<div id="articleReportModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">檢舉文章-請選擇檢舉原因</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" align="center">
					<form id="article-report-form" th:action="@{insert-article-report}" method="post" th:object="${reportVO}" enctype="multipart/form-data">
						<div>
							<select class="form-select" th:field="*{buyerVO.memberId}" style="width: 300px;">
								<option th:each="buyerVO : ${buyerListData}"
									th:value="${buyerVO.memberId}" th:text="${buyerVO.memberName}" />
							</select>
						</div>
						<div class="hide">
					        <label>文章編號:</label>
					        <input type="text" id="articleIdField" readonly /><br/>
					        <input type="hidden" id="report-articleId" th:field="*{articleVO.articleId}" />
				    	</div>
				    	<div>
				    	</br>
							<select class="form-select" th:field="*{reportTypeVO.reportTypeId}" style="width: 300px;">
								<option th:each="reportTypeVO : ${reportTypeListData}"
									th:value="${reportTypeVO.reportTypeId}"
									th:text="${reportTypeVO.reportTypeSort}" />
							</select>
						</div>
					</form>
					</div>
					<div class="modal-footer" >
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">關閉</button>
						<button type="button" id="submit-article-report" class="btn btn-primary">提交檢舉</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="commentReportModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">檢舉留言-請選擇檢舉原因</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" align="center">
					<form id="reply-report-form" th:action="@{insert-reply-report}" method="post" th:object="${reportVO}" enctype="multipart/form-data">
						<div>
							<select class="form-select" th:field="*{buyerVO.memberId}" style="width: 300px;">
								<option th:each="buyerVO : ${buyerListData}"
									th:value="${buyerVO.memberId}" th:text="${buyerVO.memberName}" />
							</select>
						</div>
						<div class="hide">
					        <label>回復編號:</label>
					        <input type="text" id="commentIdField" readonly /><br/>
					        <input type="hidden" id="report-replyId" th:field="*{replyVO.replyId}" />
				    	</div>
				    	
				    	<div>
				    	</br>
							<select class="form-select" th:field="*{reportTypeVO.reportTypeId}" style="width: 300px;">
								<option th:each="reportTypeVO : ${reportTypeListData}"
									th:value="${reportTypeVO.reportTypeId}"
									th:text="${reportTypeVO.reportTypeSort}" />
							</select>
						</div>
					</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">關閉</button>
						<button type="button" id="submit-reply-report" class="btn btn-primary">提交檢舉</button>
					</div>
				</div>
			</div>
		</div>
<!-- 送出檢舉燈箱 -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">檢舉已送出</h5>

      </div>
      <div class="modal-body">
        感謝您的檢舉，我們會盡快處理。
        </br>
        頁面將自動跳轉，請稍後。
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

	</main>
	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
					<svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Vendor JS Files -->
	<div th:replace="~{/fragment-js}"></div>
	<div th:replace="~{/fragment-datatableJs}"></div>
	<script>
		$("a.tab").on("click", function(e) {
			e.preventDefault();
			console.log("aaa");
			/* 將頁籤列表移除所有 -on，再將指定的加上 -on */
			$(this).closest("ul").find("a.tab").removeClass("-on");
			$(this).addClass("-on");

			/* 找到對應的頁籤內容，加上 -on 來顯示 */
			$("div.tab").removeClass("-on");
			$("div.tab." + $(this).attr("data-target")).addClass("-on");
		});
		function redirectToUpdatePage(url) {
			window.location.href = url;
		}
		
		// 文章檢舉按鈕点击事件
	    $("i.report-article-button").on('click', function() {
	    	var id = $(this).attr('id');
	    	 $('#articleIdField').val(id);
	    	
	        $('#articleReportModal').modal('show');
	    });
	    $("#submit-article-report").on('click', function() {
	        $('#report-articleId').val($('#articleIdField').val());
	     // 关闭旧模态框
	        $('#articleReportModal').modal('hide');

	        // 打开新模态框
	        $('#reportModal').modal('show');
	        
	        // 延迟3秒后跳转页面
	        setTimeout(function() {
	            document.getElementById("article-report-form").submit();
	        }, 3000); // 3000毫秒等于3秒
	    });

	    // 留言檢舉按鈕点击事件
	    $("i.report-reply-button").on('click', function() {
	    	var id = $(this).attr('id');
	    	 $('#commentIdField').val(id);
	    	
	        $('#commentReportModal').modal('show');
	    });
	    $("#submit-reply-report").on('click', function() {
	        $('#report-replyId').val($('#commentIdField').val());
	     // 关闭旧模态框
	        $('#commentReportModal').modal('hide');

	        // 打开新模态框
	        $('#reportModal').modal('show');
	        
	        // 延迟3秒后跳转页面
	        setTimeout(function() {
	            document.getElementById("reply-report-form").submit();
	        }, 3000); // 3000毫秒等于3秒
	    });

//文章喜歡	    
$('.like-btn').click(function() {
    var likeCountElement = $(this).siblings('.article-like');
    
    // 获取当前喜欢数和喜欢状态
    var currentLikeCount = parseInt(likeCountElement.text());
    var isLiked = $(this).hasClass('liked');
    
    // 获取文章ID
    var articleId = $('.report-article-button').attr('id');
    
    if (isLiked) {
        // 如果已经喜欢，取消喜欢
        $(this).removeClass('liked');
        likeCountElement.text(currentLikeCount - 1);
        
        // 向后端发送POST请求，喜欢数减一
        $.ajax({
            url: '/edogSpringMVC_Thymeleaf/article/unlike',
            type: 'POST',
            data: { articleId: articleId }, // 包含 articleId 参数
            success: function(response) {
                // 如果请求成功，不需要执行任何操作
            },
            error: function(xhr, status, error) {
                // 处理请求错误，恢复喜欢数显示
                $(this).addClass('liked');
                likeCountElement.text(currentLikeCount);
                console.error(error);
            }
        });
    } else {
        // 如果未喜欢，增加喜欢数并标记为已喜欢
        $(this).addClass('liked');
        likeCountElement.text(currentLikeCount + 1);
        
        // 向后端发送POST请求，喜欢数加一
        $.ajax({
            url: '/edogSpringMVC_Thymeleaf/article/like',
            type: 'POST',
            data: { articleId: articleId }, // 包含 articleId 参数
            success: function(response) {
                // 如果请求成功，不需要执行任何操作
            },
            error: function(xhr, status, error) {
                // 处理请求错误，恢复喜欢数显示
                $(this).removeClass('liked');
                likeCountElement.text(currentLikeCount);
                console.error(error);
            }
        });
    }

    // 打印文章ID到控制台
    console.log('Article ID:', articleId);
});


//留言喜歡
$('.reply-like-btn').click(function() {
    var likeCountElement = $(this).siblings('.reply-like');
    
    // 获取当前喜欢数和喜欢状态
    var currentLikeCount = parseInt(likeCountElement.text());
    var isLiked = $(this).hasClass('liked');
    
    // 获取文章ID
    var replyId = $('.report-reply-button').attr('id');
    
    if (isLiked) {
        // 如果已经喜欢，取消喜欢
        $(this).removeClass('liked');
        likeCountElement.text(currentLikeCount - 1);
        
        // 向后端发送POST请求，喜欢数减一
        $.ajax({
            url: '/edogSpringMVC_Thymeleaf/reply/unlike',
            type: 'POST',
            data: { replyId: replyId }, // 包含 articleId 参数
            success: function(response) {
                // 如果请求成功，不需要执行任何操作
            },
            error: function(xhr, status, error) {
                // 处理请求错误，恢复喜欢数显示
                $(this).addClass('liked');
                likeCountElement.text(currentLikeCount);
                console.error(error);
            }
        });
    } else {
        // 如果未喜欢，增加喜欢数并标记为已喜欢
        $(this).addClass('liked');
        likeCountElement.text(currentLikeCount + 1);
        
        // 向后端发送POST请求，喜欢数加一
        $.ajax({
            url: '/edogSpringMVC_Thymeleaf/reply/like',
            type: 'POST',
            data: { replyId: replyId }, // 包含 articleId 参数
            success: function(response) {
                // 如果请求成功，不需要执行任何操作
            },
            error: function(xhr, status, error) {
                // 处理请求错误，恢复喜欢数显示
                $(this).removeClass('liked');
                likeCountElement.text(currentLikeCount);
                console.error(error);
            }
        });
    }

    // 打印文章ID到控制台
    console.log('reply ID:', replyId);
});



	</script>
</body>
</html>
