<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
<!-- <th:block th:insert="~{/fragment-datatableCss}"></th:block> -->
<style type="text/css">
 .hide {
		display: none;
	}
	</style>
</head>
  <body>
    <!-- ======= Header ======= -->
        <header class="fixed-top">
	      <th:block th:insert="~{/front-end/article/header-article}"></th:block>
	    </header>
    <!-- ======= Sidebar ======= -->
    <aside th:replace="front-end/article/aside-forum.html"></aside>
    <!-- ======= Main ======= -->
    <main class="main main-layout-seller">
    <div class="seller-container">
        <div class="pagetitle">
            <h1 style="margin-top: 30px;">消息通知</h1>
            <div class="tab_list_block">
                <ul class="tab_list">
                    <li><a href="#" data-target="tab1" class="tab -on">未讀</a></li>
                    <li><a href="#" data-target="tab2" class="tab">已讀</a></li>
                </ul>
                <hr>
            </div>
        </div>
        
        <!-- 未读消息表格 -->
        <table id="msgTableUnread" style="border-collapse:separate;width: 100%;">
		    <tbody >
		        <th:block th:each="msgVO : ${myMsgList}">
		            <!-- 添加间距 -->
		            <tr th:unless="${msgVO.isRead}" class="forum-msg msg-no-read" th:onclick="'redirectToUpdatePage(\'' + @{/msg/getOne(id=${msgVO.msgId})} + '\')'">
		                <td style="display: none;" th:text="${msgVO.msgId}"></td>
				      	<td th:if="${msgVO.msgTypeVO.msgTypeId == 1}">
                        	<i class="bi bi-hearts" style="color: #F00078;"></i>
						    有人喜歡你在<strong th:text="${msgVO.articleVO.articleTypeVO.articleTypeName}"></strong>發布的一篇文章
						</td>
		                <td th:if="${msgVO.msgTypeVO.msgTypeId == 2}">
		                	<i style="color: #6A6AFF;" class="bi bi-chat-dots-fill"></i>
						    有人回應了你在<strong th:text="${msgVO.replyVO.articleVO.articleTypeVO.articleTypeName}"></strong>發布的一篇文章
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 3}">
							<i class="bi bi-hearts" style="color: #F00078;"></i>
						    有人喜歡你的留言:「<strong th:text="${msgVO.replyVO.replyContent}"></strong>」
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 4}">
						<i style="color:#FF0000" class="bi bi-arrow-through-heart-fill"></i>
						    有人對你有興趣
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 5}">
						<i style="color:#FF8000" class="bi bi-exclamation-circle-fill"></i>
						    你在<strong th:text="${msgVO.reportVO.articleVO.articleTypeVO.articleTypeName}"></strong>發布的一篇文章已被檢舉下架
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 6}">
						<i style="color:#FF8000" class="bi bi-exclamation-circle-fill"></i>
						    你的留言:「<strong th:text="${msgVO.reportVO.replyVO.replyContent}"></strong>」已被檢舉下架
						</td>
						<td colspan="100%" style="display: flex; color: blue; margin-left: auto;">
						    ●
						</td>
						<td>
						<span class="msgId" th:text="${msgVO.msgId}" th:id="${msgVO.msgId}"></span>
						</td>
						

		            </tr>
		             <tr th:unless="${msgVO.isRead}">
		                <td class="msg-time" colspan="100%"><span th:text="${msgVO.msgTime}"></span>
		                </td>
		            </tr>
		        </th:block>
		    </tbody>
		    
		</table>


        <!-- 已读消息表格 -->
        <table id="msgTableRead" style="display: none;border-collapse:separate;">
            <tbody>
                <th:block th:each="msgVO : ${myMsgList}">
                    <tr th:if="${msgVO.isRead}" class="forum-msg" th:onclick="'redirectToUpdatePage(\'' + @{/msg/getOne(id=${msgVO.msgId})} + '\')'">
                        <td style="display: none;" th:text="${msgVO.msgId}"></td>
                        <td th:if="${msgVO.msgTypeVO.msgTypeId == 1}">
                        	<i class="bi bi-hearts" style="color: #F00078;"></i>
						    有人喜歡你在<strong th:text="${msgVO.articleVO.articleTypeVO.articleTypeName}"></strong>發布的一篇文章
						</td>
		                <td th:if="${msgVO.msgTypeVO.msgTypeId == 2}">
		                	<i style="color: #6A6AFF;" class="bi bi-chat-dots-fill"></i>
						    有人回應了你在<strong th:text="${msgVO.replyVO.articleVO.articleTypeVO.articleTypeName}"></strong>發布的一篇文章
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 3}">
							<i class="bi bi-hearts" style="color: #F00078;"></i>
						    有人喜歡你的留言:「<strong th:text="${msgVO.replyVO.replyContent}"></strong>」
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 4}">
						<i style="color:#FF0000" class="bi bi-arrow-through-heart-fill"></i>
						    有人對你有興趣
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 5}">
						<i style="color:#FF8000" class="bi bi-exclamation-circle-fill"></i>
						    你在<strong th:text="${msgVO.reportVO.articleVO.articleTypeVO.articleTypeName}"></strong>發布的一篇文章已被檢舉下架
						</td>
						<td th:if="${msgVO.msgTypeVO.msgTypeId == 6}">
						<i style="color:#FF8000" class="bi bi-exclamation-circle-fill"></i>
						    你的留言:「<strong th:text="${msgVO.replyVO.replyContent}"></strong>」已被檢舉下架
						</td>
						
                    </tr>
                    <tr th:if="${msgVO.isRead}">
		                <td class="msg-time" colspan="100%"><span th:text="${msgVO.msgTime}"></span></td>
		            </tr>
                </th:block>
            </tbody>
        </table>

    </div>
</main>

    <!-- End Main -->

    <!-- ======= Footer ======= -->
    <footer class="footer footer-layout">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white"
      >
        <div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

        <div class="col p-sm-2 px-5 px-sm-5 px-md-0">
          <h5 class="mb-3">關於我們</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">人才招募</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">E狗簡介</a>
            </li>
          </ul>
        </div>

        <div class="col p-sm-2 px-5 px-sm-5 px-md-0">
          <h5 class="mb-3">常見問題</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">聯絡E狗</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Q&A</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row footer-container-custom">
        <div class="col-3"></div>

        <div class="col-auto">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>
          </a>
          <p class="text-body-secondary">
            新加坡商CatTom有限公司台灣分公司 統一編號：00000000 © 2023
            CatTom.版權所有。
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
		<div th:replace="~{/fragment-js}"></div>
		<div th:replace="~{/fragment-datatableJs}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

        // 为未读标签添加点击事件
        $('a[data-target="tab1"]').click(function() {
            $('#msgTableUnread').show();
            $('#msgTableRead').hide();
        });

        // 为已读标签添加点击事件
        $('a[data-target="tab2"]').click(function() {
            $('#msgTableUnread').hide();
            $('#msgTableRead').show();
        });
       
    function redirectToUpdatePage(url) {
        window.location.href = url;
    }
</script>
<script>
$('.msg-no-read').click(function() {
    // 获取消息 ID
    var msgId = $(this).find('.msgId').attr('id');
    
    // 发送 AJAX 请求到后端的 update 接口
    $.ajax({
        type: "POST",
        url: "/edogSpringMVC_Thymeleaf/msg/update",
        data: {msgId: msgId},
        success: function(response) {
            // 更新成功后，将消息行的样式改变，以标识消息已读
            $(this).addClass("msg-read");
        },
        error: function(xhr, status, error) {
            // 处理错误情况
            console.error("Error updating message status:", error);
        }
    });
    console.log('msg ID:', msgId);
});
</script>
  </body>
</html>
