<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>作者</th>
            <th>文章標題</th>
            <th>點讚數</th>
            <th>平論述</th>
            <th>更新時間</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="articleVO : ${searchResults}">
            <tr>
                <td th:text="${articleVO.buyerVO.memberName}"></td>
                <td th:text="${articleVO.articleTitle}"></td>
                <td th:text="${articleVO.articleLike}"></td>
                <td th:text="${articleVO.articleComment}"></td>
                <td th:text="${#dates.format(articleVO.artUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </th:block>
    </tbody>
</table>

</body>
</html>