<!-- fragments/javascript-fragments.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>


    <!-- Include JavaScript files -->
    <script type="text/javascript" th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/chart.js/chart.umd.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/quill/quill.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/simple-datatables/simple-datatables.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/tinymce/tinymce.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/common/tw-city-selector.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/jquery/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/HSU/HSU.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/lightslider/lightslider.js}"></script>
   
    <script type="text/javascript" th:src="@{/mainjs/main.js}"></script>

    
    </body>
</html>
