
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>EDog</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/colWidth.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/productCard.css}" />

<link rel="stylesheet" th:href="@{/icons/remixicon/remixicon.css}"/>
<link rel="stylesheet" th:href="@{/icons/bootstrap-icons/bootstrap-icons.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

<link rel="stylesheet" th:href="@{/vendors/bootstrap/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/vendors/quill/quill.bubble.css}"/>
<link rel="stylesheet" th:href="@{/vendors/quill/quill.snow.css}"/>
<link rel="stylesheet" th:href="@{/vendors/simple-datatables/style.css}"/>
<link rel="stylesheet" th:href="@{/vendors/hamburger/hamburgers.css}"/>
<link rel="stylesheet" th:href="@{/vendors/HSU/HSU.css}"/>


<link rel="stylesheet" th:href="@{/vendors/lightslider/lightslider.css}" />
