  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">

    <!-- FixedColumns CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.0/css/fixedColumns.bootstrap5.min.css">

    <!-- FixedHeader CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.0/css/fixedHeader.bootstrap5.min.css">
    
    <style>
      /* Ensure that the demo table scrolls */
      th,
      td {
        white-space: nowrap;
      }

      tr.empty {
        --bs-table-accent-bg: #fff !important;
        color: #fff !important;
        border-right: 0px !important;
      }

      tr.empty > td {
        border-right: 0px !important;
      }
    </style>