<header class="fixed-top">
	<nav class="navbar navbar-expand navbar-expand-sm navbar-light bg-user">
		<div class="container-fluid">
			<div class="collapse navbar-collapse d-flex justify-content-between"
				id="navbarSupportedContent">
				<!-- Start NavBar  -->
				<!-- NavBar--LeftSide  -->
				<ul class="navbar-nav me-auto mb-2">
					<li class="nav-item d-flex align-items-center toggle-sidebar-btn">
						<i class="bi bi-list"></i> <a
						class="nav-link cancel-default-behavior" aria-current="page"
						href="#">選單</a>
					</li>

					<li class="nav-item d-flex align-items-center"><a
						class="nav-link active" aria-current="page" th:href="@{/}">電子商城</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/front/seller/main}">賣家中心</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/article/listAll}">論壇</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/front/buyer/main}">買家中心</a></li>

				</ul>

				<!-- NavBar--RightSide  -->
				<ul class="navbar-nav ms-auto mb-2">
					<li class="nav-item" th:unless="${loggedIn || loggedInJWT}"><a
						class="nav-link" href="#" data-bs-toggle="modal"
						data-bs-target="#loginSelectGroup">登入或註冊</a></li>
					<li class="nav-item d-flex gap-3 align-items-center"
						th:if="${loggedIn}"><span
						th:if="${theName != null and theName != ''}" th:text="${theName}"></span><a
						class="nav-link" th:href="@{/logout}">登出</a></li>

					<li class="nav-item d-flex gap-3 align-items-center"
						th:if="${loggedInJWT}"><span
						th:if="${theName != null and theName != ''}" th:text="${theName}"></span><a
						class="nav-link" th:href="@{/logout/jwt}">JWT登出</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End NavBar  -->


	<!-- Start SearchBar  -->
	<div class="container-fluid bg-user search-container-custom">
		<div class="row">
			<!-- Start SearchBar-Logo  -->
			<div
				class="col-auto d-none d-lg-block logo-container-height d-flex align-items-end">
				<a th:href="@{/}"> 
				<img th:src="@{/image/Medium.png}"
					class="img-logo-custom" alt="" srcset="" />
				</a>
			</div>
			<!-- End SearchBar-Logo  -->


			<!-- Start SearchBar-Input  -->
			<div
				class="col d-flex searchItem flex-column search-item-container-custom">
				<form class="form-inline w-100">
					<div class="row py-2 search-row-custom w-100 pe-2">
						<div class="col">
							<input class="form-control mr-sm-2 w-100 search-input-custom "
								type="search" placeholder="請在此進行商品檢索" aria-label="Search" />
						</div>
						<div class="col-auto">
							<button class="btn btn-user search-button-custom d-flex"
								type="submit">
								<i class="me-2 ri-search-line"></i>
								<div class="col-auto d-none d-md-block ">Search</div>
							</button>
						</div>
					</div>
				</form>
				<div class="my-2 keyword-container-custom">
					<span class="badge rounded-pill keyword-item-custom">寵物床</span> <span
						class="badge rounded-pill keyword-item-custom">玩具</span>
				</div>
			</div>
			<!-- End SearchBar-Input  -->

			<!-- Start SearchBar-Function  -->
			<div
				class="col-2 d-block col-sm-2 d-flex align-items-start justify-content-start cart-container-custom">
				<a th:href="@{/front/buyer/cart/list}"
					style="text-decoration: none; color: inherit;">
					<div
						class="baritem d-flex align-items-center justify-content-start cart-item-custom">
						<i class="ri-shopping-cart-2-line"></i>
						<div class="cart d-none d-lg-block ml-1">購物車</div>
					</div>
				</a>
			</div>
			<!-- End SearchBar-Function  -->
		</div>
	</div>
	<!-- Start Banner  -->
	<div
		class="container-fluid justify-content-between align-items-center banner-container-custom">
		<div class="row">
			<div class="col banner-content text-center banner-content-custom">
				<marquee class="mb-1 mt-1 banner-para-custom" scrollamount="6"
					id="newsTickerCoutent"> 全台最大寵物生活網 EDog 正式上線啦！ </marquee>
			</div>
			<div
				class="col-auto buttona mb-0 d-flex justify-content-end banner-close-custom">
				<i class="mb-1 mt-1 ri-close-line banner-close"></i>
			</div>
		</div>
	</div>
	<!-- End Banner  -->
</header>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		// 找到登出按鈕
		var logoutBtn = document.querySelector('.nav-link[href="/logout/jwt"]');

		// 添加點擊事件監聽器
		logoutBtn.addEventListener('click', function (event) {
			event.preventDefault();

			// 調用登出函數
			logout();
		});

		// 登出函數
		function logout() {
			let token = localStorage.getItem("access_token");
			const headers = new Headers();
			headers.append("Authorization", `Bearer ${token}`);
			// 向伺服器發送登出請求
			fetch('/logout', {
				method: 'POST',
				headers: headers,
			})
				.then(response => {
					if (response.ok) {
						// 登出成功，處理進一步的操作（如果需要）
						console.log('登出成功');
						let url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;
						window.location.href = url;

					} else {
						// 處理錯誤情況
						console.error('登出失敗');
					}
				})
				.catch(error => {
					// 處理網路錯誤
					console.error('網路錯誤:', error);
				});
		}
	});

	function getNewsTickers() {
		// 建立當前時間的 JSON 物件, 讓後端判斷要丟甚麼走馬燈資料上來
		const currentTime = new Date().toISOString();
		const data = {
			currentTime: currentTime
		};
		const jsonData = JSON.stringify(data);

		// 使用 AJAX 送出 POST 請求
		$.ajax({
			url: '/front/newsTicker/showNewsTicker', // 替換成你的目標 URL
			type: 'POST',
			contentType: 'application/json',
			data: jsonData,
			success: function (responseData) {
				console.log('走馬燈資料取得成功');
				if ('data' in responseData) {
					$('#newsTickerCoutent').text(responseData.data);
				}
			},
			error: function (xhr, status, error) {
				console.error('走馬燈資料取得失敗:', error);
				console.log('狀態:', status);
				console.log('回應內容:', xhr.responseText);
			}
		});
	}

	$(document).ready(function () {
		getNewsTickers();
	});



</script>