<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{/fragment-head}"></th:block>
</head>

<body>
	<header th:replace="~{/fragment-headerV2}"></header>
	<!-- ======= Sidebar ======= -->
	<aside th:replace="~{/front-end/buyer/aside-buyer-search}"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout">
		<!--ImageStyle_Unstable  -->
		<!-- 非常重要!!!!! 一個頁面只能用一個輪播  否則bootStrapJS會錯-->
		<div class="container mt-5">
			<div class="row flex-column flex-md-row">
				<div class="col-12 col-md-8 rounded flex-grow-1 d-flex justify-content-end">
					<!-- mainimage -->
					<div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
						<div class="carousel-inner">

							<div class="carousel-item active" th:each="adVO : ${launchPremiumAdListData}">
								<img th:src="@{/seller/ad/DBGifReader} + '?adId=' + ${adVO.adId}" width="830px"
									height="260px" class="d-block w-100 img-md-main" alt="Main Picture" />
							</div>


						</div>

						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>


				<div class="col-12 col-md-4 d-flex flex-column flex-grow-1 justify-content-between">
					<!-- subimage Carousel 1 -->
					<div id="subImageCarousel1" class="carousel slide w-100" data-bs-ride="carousel">
						<div class="carousel-inner">
							<!-- Loop through sub images -->
							<div class="carousel-item active" th:each="adVO :${launchBaseAdListData}">
								<div class="subimage-custom w-100">
									<img class="img-fluid max-width-md img-md-sub"
										th:src="@{/seller/ad/DBGifReader} + '?adId=' + ${adVO.adId}" alt=""
										style="width: 330px; height: 95px;" />
								</div>
							</div>

							<!-- Additional subimage carousel items can be added here if needed -->
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#subImageCarousel1"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#subImageCarousel1"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

					<!-- subimage Carousel 2 -->
					<div id="subImageCarousel2" class="carousel slide mt-3 w-100" data-bs-ride="carousel">
						<div class="carousel-inner">
							<!-- Loop through additional sub images -->
							<div class="carousel-item active" th:each="adVO :${adhomePageUsed}">
								<div class="subimage-custom w-100">
									<img class="img-fluid max-width-md img-md-sub"
										th:src="@{/seller/ad/DBGifReader} + '?adId=' + ${adVO.adId}" alt=""
										style="width: 330px; height: 95px;" />
								</div>
							</div>
<!-- 							<div class="carousel-item"> -->
<!-- 								<div class="subimage-custom w-100"> -->
<!-- 									<img class="img-fluid max-width-md img-md-sub" src="https://fakeimg.pl/800x230" -->
<!-- 										alt="" /> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<!-- Additional subimage carousel items can be added here if needed -->
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#subImageCarousel2"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#subImageCarousel2"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>



			</div>
		</div>

		<!-- ## ListItems -->
		<div class="container mt-4">
			<h2 class="mb-4">Product List</h2>

			<div class="row">
				<!-- Product 1 -->
				<div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4 product-card-container"
					th:each="productVO : ${allProductListData}">
					<a th:href="'/product/' + ${productVO.productId}">
						<div class="card product-card">
<!-- 							<div class="badge card-badge-custom">廣告</div> -->
<!-- 							<div class="card-status-custom">已售完</div> -->
							<img th:src="@{/seller/product/DBGifReader} + '?productId=' + ${productVO.productId}"
								class="card-img-top" alt="Product 1" style="max-width: 300px; max-height: 300px;"/>
							<div class="card-body d-flex flex-column justify-content-between">
								<h5 class="card-text" th:text="${productVO.productName}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h5>
								<p class="card-text" th:text="${productVO.productDetails}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">

								</p>
								<h5 class="price-tag">
									$ <span th:text="${productVO.price}"></span>
								</h5>
							</div>
						</div>
					</a>
				</div>



			</div>
		</div>
	</main>
	<!-- End Main -->

	<div th:replace="~{/fragment-loginBox}"></div>
	
	<div th:replace="@{fragment-footer}"></div>
	<div th:replace="@{fragment-js}"></div>
	<!-- End Footer -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// 取得提交按鈕
			var formSubmitBtn = document.querySelector(".btn-search");
			let searchBtn = document.querySelector(".search-button-custom");

			searchBtn.addEventListener("click", handleSearchEvent)
			formSubmitBtn.addEventListener("click", handleSearchEvent)

			function handleSearchEvent(e) {
				e.preventDefault();
				e.stopPropagation();

				// 防止表單預設提交行為
				event.preventDefault();
				e.stopPropagation();


				console.log(document.querySelector(".search-input-custom"));
				// 收集表單資料
				var formData = {
					animalType: [],
					productCategory: [],
					ratings: [],
					priceFrom: document.getElementById("priceFrom").value,
					priceTo: document.getElementById("priceTo").value,
					keyword: document.querySelector(".search-input-custom").value,
				};

				console.log(formData.keyword);

				// 收集動物種類
				var animalCheckboxes = document.querySelector(".animalCheckboxes");
				var checkboxes = animalCheckboxes.querySelectorAll(
					"input[type='checkbox']"
				);

				checkboxes.forEach(function (checkbox) {
					if (checkbox.checked) {
						formData.animalType.push(checkbox.value);
					}
				});


				// 收集商品分類
				// 取得商品分類的 ul 元素
				var categoryList = document.querySelector(".categoryList");
				// 取得所有的 checkbox
				var checkboxes = categoryList.querySelectorAll(
					"input[type='checkbox']"
				);

				// 建立一個空陣列來存儲選中的值
				checkboxes.forEach((checkbox) => {
					if (checkbox.checked) {
						formData.productCategory.push(checkbox.value);
					}
				});

				// 收集商品評價
				var ratingCheckbox = document.querySelector(".ratingCheckbox");

				var checkboxes = ratingCheckbox.querySelectorAll(
					"input[type='checkbox']"
				);
				checkboxes.forEach((checkbox) => {
					if (checkbox.checked) {
						formData.ratings.push(checkbox.value);
					}
				});

				const queryString = Object.keys(formData)
					.map(key => `${encodeURIComponent(key)}=${encodeURIComponent(formData[key])}`)
					.join('&');


// 				alert("商品搜尋中，請稍後");

				let url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;

				console.log(window.location.protocol);
				console.log(window.location.hostname);
				url += `/searchresult?${queryString}`;


				window.location.href = url;
			}



		});
	</script>
</body>

</html>
