<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>
<body>
	<!-- ======= Header ======= -->

	<header class="fixed-top">
		<th:block th:insert="~{/front-end/seller/header-seller}"></th:block>
	</header>

	<main class="main-nosidebar on">
		<div class="container">
			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div
							class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
							<h1>手機驗證</h1>
							<!-- End Logo -->
							<p style="color: red" th:if="${param.error}"
								th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
							<p style="color: red" th:if="${param.error}"
								th:text="${session.customErrorMessage}"></p>
							<form class="row needs-validation" novalidate
								th:action="@{/auth/phone/check}" method="post">
								<div class="col-md-12">
									<label for="sellerMobile" class="form-label">手機</label> <input
										type="text" class="form-control" id="sellerMobile"
										name="sellerMobile"
										th:value="${sellerMobile!=null} ? ${sellerMobile} :''"
										aria-describedby="sellerMobileFeedback"
										th:classappend="${#fields.hasErrors('sellerMobile')} ? 'is-invalid' : ''" />
									<div id="sellerMobileFeedback" class="invalid-feedback">
										<p th:if="${sellerMobile != null}" th:text="${sellerMobile}">
											欄位有誤</p>
									</div>
								</div>

								<div
									class="col-auto d-flex justify-content-center align-items-center">
									<button type="button" class="my-5 btn btn-primary"
										id="sendVerificationCodeBtn">發送手機驗證</button>
								</div>

								<div class="col-md-12">
									<label for="verificationCode" class="form-label">代碼</label> <input
										type="text" class="form-control" id="verificationCode"
										name="verificationCode" th:value="${verificationCode}"
										aria-describedby="verificationCodeFeedback"
										th:classappend="${verificationCode != null} ? 'is-invalid' : ''" />
									<div id="verificationCodeFeedback" class="invalid-feedback">
										<p th:if="${#fields.hasErrors('verificationCode')}"
											th:errors="{verificationCode}">欄位有誤</p>
									</div>
								</div>

								<div
									class="col-auto d-flex justify-content-center align-items-center">
									<button type="button" class="my-5 btn btn-primary">確認
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<!-- End Footer -->
	<div th:replace="~{/fragment-footer-noaside}"></div>
	<div th:replace="~{/fragment-js}"></div>

	<script>
      function sendVerificationCode() {
        // Get the seller mobile number from the input field
        var sellerMobile = document.getElementById("sellerMobile").value;
        var verificationCode =
          document.getElementById("verificationCode").value;
        console.log(sellerMobile);
        console.log(document.getElementById("sellerMobile"));

        if (!sellerMobile.trim()) {
          sellerMobile = "NODATA";
        }

        // Send a POST request to the /auth/phone/check endpoint
        fetch("/auth/phone/check", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ sellerMobile: sellerMobile }),
        })
          .then((response) => {
            return response.text(); // 将响应转换为文本
          })
          .then((data) => {
            // 检查状态码            
            console.log(data);
            console.log(JSON.parse(data));

            if (data.status === 400) {
              alert(data.msg);
            } else if (data.status === 404) {
              alert(data.msg);
            } else {
              alert("成功");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("请求失败");
          });
      }

      document.addEventListener("DOMContentLoaded", function () {
        // Add an event listener to the button click
        document
          .getElementById("sendVerificationCodeBtn")
          .addEventListener("click", function (event) {
            event.preventDefault();
            sendVerificationCode();
          });
      });
    </script>
</body>
</html>
