<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>
</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/front-end/seller/header-seller}"></th:block>
	</header>

	<main class="main-nosidebar on">
		<div class="container">
			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div
							class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
							<h1>密碼</h1>
							<form class="row needs-validation" novalidate
								th:action="@{check}" th:object="${passwordForm}" method="post">
								<div class="col-md-12 my-5">
									<label for="password" class="form-label">密碼</label> <input
										type="text" class="form-control" id="password" name="password"
										aria-describedby="passwordFeedback"
										th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" />
									<div id="passwordFeedback" class="invalid-feedback">
										<p th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}">欄位有誤</p>
									</div>
								</div>

								<div class="col-md-12">
									<label for="confirmPassword" class="form-label">再次輸入密碼</label>
									<input type="text" class="form-control" id="confirmPassword"
										name="confirmPassword"
										aria-describedby="confirmPasswordFeedback"
										th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''" />

									<div id="confirmPasswordFeedback" class="invalid-feedback">
										<p th:if="${#fields.hasErrors('confirmPassword')}"
											th:errors="*{confirmPassword}">欄位有誤</p>
									</div>
								</div>

								<div
									class="col-auto d-flex justify-content-center align-items-center"></div>

								<div
									class="col-auto d-flex justify-content-center align-items-center">
									<button type="submit" class="my-5 btn btn-primary">確認
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<!-- End Footer -->
	<div th:replace="~{/fragment-footer-noaside}"></div>
	<div th:replace="~{/fragment-js}"></div>
</body>
</html>
