<aside class="sidebar sidebar-layout-seller">
	<ul class="sidebar-nav" id="sidebar-nav">
	
	
		<li class="nav-item"><a class="nav-link nav-seller-entry"
			th:href="@{/front/buyer/main}"> <i class="bi bi-grid"></i> <span>會員中心</span>
		</a></li>


		<li class="nav-item"><a class="nav-link nav-seller-entry"
			th:href="@{/front/buyer/main}"> <i class="bi bi-grid"></i> <span>會員資訊</span>
		</a></li>
		

		<li class="nav-item"><a class="nav-link nav-seller-entry"
			th:href="@{/front/buyer/collection/list}"> <i class="bi bi-grid"></i> <span>我的收藏</span>
		</a></li>


		<li class="nav-item"><a class="nav-link nav-seller-entry"
			th:href="@{/front/buyer/cart/list}"> <i class="bi bi-grid"></i> <span>我的購物車</span>
		</a></li>


		<li class="nav-item"><a class="nav-link nav-seller-entry"
			th:href="@{/front/buyer/productorder/buyerproductorderlistall}"> <i class="bi bi-grid"></i> <span>我的訂單</span>
		</a></li>


		<li class="nav-item"><a class="nav-link collapsed"
			data-bs-target="#service-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-headset"></i><span>客戶服務</span><i
				class="bi bi-chevron-down ms-auto"></i>
		</a>
			<ul id="service-nav" class="nav-content collapse"
				data-bs-parent="#sidebar-nav">
				<li><a th:href="@{/front/seller/service/form}"> <i
						class="bi bi-circle"></i><span>意見表單</span>
				</a></li>
				<li><a th:href="@{/front/seller/service/reply}"> <i
						class="bi bi-circle"></i><span>查詢回覆</span>
				</a></li>
			</ul></li>
<!-- 臨時訂單結帳入口 -->
	<li class="nav-item"><a class="nav-link nav-seller-entry"
			th:href="@{/front/buyer/order_checkout111}"> <i class="bi bi-grid"></i> <span>結帳頁面</span>
		</a></li>

	</ul>
</aside>
