<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:insert="~{/fragment-head}"></th:block>



</head>

<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/front-end/buyer/header-buyer}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{front-end/buyer/aside-buyer}"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h2>結帳</h2>
			<!-- <div class="container mt-3 container-list-custom">
				<div class="row sec-row-custom">
					<div class="col-1">
						<input class="form-check-input cart-overall-click" type="checkbox" value=""
							aria-label="Checkbox for following text input" hidden />
					</div>
					<div class="col-3">商品圖片</div>
					<div class="col-2">商品名稱</div>
					<div class="col-2 d-flex justify-content-end">單個價格</div>
					<div class="col-2 d-flex justify-content-end">購買數量</div>
					<div class="col d-flex justify-content-center">操作</div>
				</div> -->

			<!-- 如果你購物車沒有東西, 顯示這裡 -->
			<!-- <div class="col-12" th:if="${#maps.isEmpty(cartClassfi) }">
				<a href="/">你的購物車是空的，馬上去逛逛吧~</a>
			</div> -->

			<!-- 先進行大迴圈, 從redis 取出資料 -->

			<section class="cart-seller mt-3"
				th:each="sellerCompany, sellerStat : ${cartClassfi}">

				<div class="container mt-3 container-list-custom">

					<div class="row header-row-custom">
						<div class="col-auto px-0">
							<input class="form-check-input cart-header-click" type="checkbox"
								value="" aria-label="Checkbox for following text input" hidden />
						</div>
						<div class="col">
							賣家名稱&nbsp;&nbsp;&nbsp;<span class="sellerName"> <b
								class="cart-sellerId" th:text="${sellerCompany.key}"></b>
							</span> <span> <span class="get_sellerId"
								th:text="${sellerCompany.value.iterator().next().sellerVO.sellerId}"
								hidden></span>
							</span>


						</div>
					</div>


					<div class="row sec-row-custom">
						<div class="col-1">
							<input class="form-check-input cart-overall-click"
								type="checkbox" value=""
								aria-label="Checkbox for following text input" hidden />
						</div>
						<div class="col-3">商品圖片</div>
						<div class="col-2">商品名稱</div>
						<div class="col-2 d-flex justify-content-end">單個價格</div>
						<div class="col-2 d-flex justify-content-end">購買數量</div>
						<!-- <div class="col d-flex justify-content-center">操作</div> -->
					</div>



					<!-- 後套入小迴圈的資料 -->
					<div class="row item-row-custom"
						th:each="cartVO : ${cartClassfi[ sellerCompany.key ]}">
						<div class="col-1 px-0">
							<input class="form-check-input cart-item-click" type="checkbox"
								value="" aria-label="Checkbox for following text input" hidden />
						</div>
						<div class="col-3">
							<img
								th:src="@{/front/buyer/collection/DBGifReader} + '?productId=' + ${cartVO.productVO.productId}"
								width="100px" />
						</div>
						<div class="col-2" th:text="${cartVO.productVO.productName}">商品名稱</div>
						<!--  <div class="col-2 get_sellerId" th:text="${cartVO.sellerVO.sellerId}" >獲取賣家Id</div>  -->
						<div class="col-2 d-flex justify-content-end cart-price"
							th:text="${cartVO.productVO.price}">商品金額</div>
						<div class="col-2 d-flex justify-content-end cart-qty"
							th:text="${cartVO.productNum}">商品數量</div>
						<div class="justify-content-end cart-productId"
							th:text="${cartVO.productVO.productId}" style="display: none">productId</div>
						<div
							class="col d-flex flex-column align-items-center justify-content-center">
						</div>
					</div>



					<div style="margin-top: 30px;"></div>

					<!-- <form> -->
					<!--  <div class="accordion" id="accordionExample">  -->
					<div class="accordion"
						th:id="${'accordionExample-' + sellerStat.index}">
						<!-- <div class="accordion" th:id="${'receiver-mobile-' + sellerStat.index}"> -->
						<div class="accordion-item">
							<h2 class="accordion-header">


								<!-- 		<button class="accordion-button" type="button"
										data-bs-toggle="collapse" data-bs-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne"
										style="color: #41464b; background-color: #e2e3e5; border-color: #d3d6d8;">
										收件者資訊</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse show"
									data-bs-parent="#accordionExample">
						<div class="accordion-body">
						 -->

								<button class="accordion-button" type="button"
									data-bs-toggle="collapse"
									th:data-bs-target="${'#collapseOne-' + sellerStat.index}"
									aria-expanded="true"
									th:aria-controls="${'collapseOne-' + sellerStat.index}"
									style="color: #41464b; background-color: #e2e3e5; border-color: #d3d6d8;">
									收件者資訊</button>
							</h2>
							<div th:id="${'collapseOne-' + sellerStat.index}"
								class="accordion-collapse collapse show"
								th:data-bs-parent="${'#accordionExample-' + sellerStat.index}">
								<div class="accordion-body">










									<!-- <div class="mb-3 form-check">
										<input type="checkbox" class="form-check-input"
											id="exampleCheck2"> <label class="form-check-label"
											for="exampleCheck2">同會員資訊</label>
									</div> -->
								<div class="row mb-3">
									<label th:for="${'receiver-name-' + sellerStat.index}" class="col-sm-2 col-form-label">*姓名:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control receiver-input"
											 style="width: 30%;"  placeholder="請輸入取貨人姓名，如：Peter"
											 th:id="${'receiver-name-' + sellerStat.index}"
											 >
											
											 <span class="error-message" style="color: red;" id="name-error"></span>
										
									</div>
								</div>
								
								<div class="row mb-3">
									<label  th:for="${'receiver-mobile-' + sellerStat.index}" class="col-sm-2 col-form-label ">*手機:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control mobile-input"
											 placeholder="09+末8碼"
											 style="width: 30%;" 
											 th:id="${'receiver-mobile-' + sellerStat.index}"
											 
											 
											 >
											 <span class="error-message" style="color: red;" id="mobile-error"></span>
											
											
											

									</div>
									<!-- <div class="row mb-3">
											<label for="inputPassword3" class="col-sm-2 col-form-label">*電子信箱:</label>
											<div class="col-sm-10">
												<input type="text" class="form-control " id="inputPassword3"
													style="width: 30%;" value="edog666@gmail.com">
											</div> -->

										
										<div class="row mb-3">
											<label th:for="${'receiver-address-' + sellerStat.index}" class="col-sm-2 col-form-label ">*地址:</label>
											<div class="col-sm-10">
												<input type="text" class="form-control address-input"
													 style="width: 30%;" 
													  placeholder="如：南京東路三段219號4樓403教室"
													  th:id="${'receiver-address-' + sellerStat.index}"
													 >
													
													 <span class="error-message" style="color: red;" id="address-error"></span>
													
											</div>
										</div>

										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- 					</form> -->
			</section>

			<div style="margin-top: 30px;"></div>
			<form>
				<div class="accordion accordion-flush" id="paymentAccordion"
					style="width: 1294.67px; margin: 0 auto;">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#paymentCollapse"
								aria-expanded="false" aria-controls="paymentCollapse"
								style="color: #41464b; background-color: #e2e3e5; border-color: #d3d6d8;">
								選擇付款方式</button>
						</h2>
						<div id="paymentCollapse" class="accordion-collapse collapse"
							data-bs-parent="#paymentAccordion">
							<div class="accordion-body">
								<div class="form-check-group">
									<div class="mb-3 form-check">
										<input type="radio" class="form-check-input"
											name="paymentMethod" id="creditCard" checked> <label
											class="form-check-label" for="creditCard">信用卡</label>
									</div>
									<div class="mb-3 form-check">
										<input type="radio" class="form-check-input"
											name="paymentMethod" id="atm"> <label
											class="form-check-label" for="atm">ATM轉帳</label>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</form>
			<div style="margin-top: 30px;"></div>
			<form>
				<div class="accordion accordion-flush" id="deliveryAccordion"
					style="width: 1294.67px; margin: 0 auto;">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#deliveryCollapse"
								aria-expanded="false" aria-controls="deliveryCollapse"
								style="color: #41464b; background-color: #e2e3e5; border-color: #d3d6d8;">
								選擇取貨方式</button>
						</h2>
						<div id="deliveryCollapse" class="accordion-collapse collapse"
							data-bs-parent="#deliveryAccordion">
							<div class="accordion-body">
								<div class="form-check-group">
									<!-- <div class="mb-3 form-check">
											<input type="radio" class="form-check-input"
												name="deliveryMethod" id="convenienceStore"
												value="convenienceStore"> <label
												class="form-check-label" for="convenienceStore">超商結帳</label>
										</div> -->
									<div class="mb-3 form-check">
										<input type="radio" class="form-check-input"
											name="deliveryMethod" id="homeDelivery" value="homeDelivery"
											checked> <label class="form-check-label"
											for="homeDelivery">宅配到府</label>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<section class="cart-pay-sticky px-5 mt-5"
					style="width: 1294.67px; margin: 0 auto;">


					<div class="row d-flex justify-content-end align-items-center">
						<div class="col-1-5">商品金額 NT$</div>
						<div class="col-2 product-total d-flex justify-content-end">
							<span class="total">0</span>元
						</div>
					</div>
					<div class="row d-flex justify-content-end align-items-center">
						<div class="col-1-5">運費 NT$</div>
						<div class="col-2 shipping-fee d-flex justify-content-end">
							<span class="fee">0</span>元
						</div>
					</div>
					<div class="row d-flex justify-content-end align-items-center">
						<div class="col-1-5">合計 NT$</div>
						<div class="col-2 cart-payment d-flex justify-content-end">
							<span class="payment">0</span>元
						</div>
					</div>

					<div class="row justify-content-end">
						<div class="col-auto">
							<button type="button" class="btn btn-primary" id="checkout-btn"
								style="width: 130px; height: 45px; font-size: 20px;">結帳</button>
						</div>
					</div>

				</section>


			</form>
		</div>
		
		
		<!-- 燈箱 -->
                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">通知</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        付款成功，訂單成立<br>詳情請見：買家中心 - 訂單管理
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="/">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">了解</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
		
		
		
		
		
		
		
		
		
		
		
		

		<!-- 	<section class="cart-pay-sticky px-5 mt-5">


			<div class="row d-flex justify-content-end align-items-center">
				<div class="col-1-5">商品金額 NT$</div>
				<div class="col-2 product-total d-flex justify-content-end">
					<span class="total">0</span>元
				</div>
			</div>
			<div class="row d-flex justify-content-end align-items-center">
				<div class="col-1-5">運費 NT$</div>
				<div class="col-2 shipping-fee d-flex justify-content-end">
					<span class="fee">0</span>元
				</div>
			</div>
			<div class="row d-flex justify-content-end align-items-center">
				<div class="col-1-5">合計 NT$</div>
				<div class="col-2 cart-payment d-flex justify-content-end">
					<span class="payment">0</span>元
				</div>
			</div>

			<div class="row justify-content-end">
				<div class="col-auto">
					<button class="btn btn-primary" id="checkout-btn">結帳</button>
				</div>
			</div> -->





				<!-- <script>
				    $(document).ready(function() {
				        // 綁定提交按鈕事件
				        $('#checkout-btn').click(function(event) {
				            event.preventDefault(); // 阻止按鈕的默認提交行為
				            
				
				       	   if (validateInput()) {
				        	   console.log('資料驗證通過，準備發送請求。');
				            	         
				            // 初始化購物車數據對象
				            let shoppingCartDTO = {
				                carts: []
				            };
				
				            // 假設你已經有了一種方式來區分不同的賣家和它們的產品信息
				            // 以下是一個示例過程，你需要根據自己的HTML結構進行調整
				            
				            // 遍歷每個賣家
				            $('.cart-seller').each(function() {
				                let sellerId = $(this).find('.get_sellerId').text(); // 賣家ID儲存在這裡
				                let receiver = $(this).find('.receiver-input').val(); // 收件人姓名輸入框的class
				                let mobile = $(this).find('.mobile-input').val(); // 收件人手機輸入框的class
				                let contactAddress = $(this).find('.address-input').val(); // 收件地址輸入框的class
				                
				              /*   alert(receiver);
				                alert(mobile); */
				               /*  alert(contactAddress); */
				                
				                // 組裝每個賣家的產品信息
				                let products = [];
				                $(this).find('.item-row-custom').each(function() {
				                    let productId = $(this).find('.cart-productId').text();
				                    let quantity = $(this).find('.cart-qty').text();
				                    products.push({
				                        productId: parseInt(productId),
				                        quantity: parseInt(quantity)
				                    });
				                });
				
				                // 將賣家信息添加到購物車數據對象
				                shoppingCartDTO.carts.push({
				                    sellerId: parseInt(sellerId),
				                    receiverInfo: {
				                        receiver: receiver,
				                        mobile: mobile,
				                        contactAddress: contactAddress
				                    },
				                    products: products
				                });
				            });
				            
				         // 在发送 POST 请求之前打印 shoppingCartDTO 的 JSON 字符串
				           /*  console.log(JSON.stringify(shoppingCartDTO)); */
				
				            // 使用fetch發送POST請求
				            fetch('create_orders', {
				                method: 'POST',
				                headers: {
				                    'Content-Type': 'application/json'
				                },
				                body: JSON.stringify(shoppingCartDTO)
				            })
				            .then(response => response.json())
				            
				            .then(data => {
				  							  console.log('Success:', data);  //data = "message", "Orders created successfully."
										   
				  							  
				  						     // 在这里处理成功的消息
										    // 这里你可以根据情况做一些操作，比如显示成功的提示信息等等
										    // 如果需要跳转页面，可以在这里执行跳转操作
				  							window.location.href = '/';
								})
							.catch(error => {
							    console.error('Error:', error);
							    // 在这里处理错误，比如显示错误信息给用户
							});
				            
				            }else {
				                console.log('資料驗證失敗，停止提交。');
				            }
				            
				            
				        });
				        
				        
				        
				        /* function validateInput() {
				            let isValid = true;
				            // 姓名驗證
				            const name = $('#receiver-name').val();
				            if (!/^[a-zA-Z\u4e00-\u9fa5]{1,10}$/.test(name)) {
				                $('#name-error').text('請輸入有效的姓名（最多10個字符，不含特殊字符）');
				                isValid = false;
				            } else {
				                $('#name-error').text('');
				            }
				
				            // 手機驗證
				            const mobile = $('.mobile-input').val();
				            if (!/^09\d{8}$/.test(mobile)) {
				                $('#mobile-error').text('請輸入有效的手機號碼（09開頭的10位數字）');
				                isValid = false;
				            } else {
				                $('#mobile-error').text('');
				            }
				
				            // 地址驗證
				            const address = $('.address-input').val();
				            if (!address.trim().length) { // 這裡只是一個簡單的例子，您可能需要更復雜的驗證
				                $('#address-error').text('請輸入有效的地址');
				                isValid = false;
				            } else {
				                $('#address-error').text('');
				            }
				
				            return isValid;
				        } */
				        
				        
				        function validateInput() {
				            let isValid = true;

				            // 遍歷每個賣家的收貨信息
				            $('.cart-seller').each(function() {
				                // 使用 .find() 來獲取當前賣家區塊內的輸入元素
				                const name = $(this).find('.receiver-input').val();
				                const mobile = $(this).find('.mobile-input').val();
				                const address = $(this).find('.address-input').val();

				                // 驗證姓名
				                if (!/^[a-zA-Z\u4e00-\u9fa5]{1,10}$/.test(name)) {
				                    $(this).find('#name-error').text('請輸入有效的姓名（最多10個字符，不含特殊字符）');
				                    isValid = false;
				                } else {
				                    $(this).find('#name-error').text('');
				                }

				                // 驗證手機
				                if (!/^09\d{8}$/.test(mobile)) {
				                    $(this).find('#mobile-error').text('請輸入有效的手機號碼（09開頭的10位數字）');
				                    isValid = false;
				                } else {
				                    $(this).find('#mobile-error').text('');
				                }

				                // 驗證地址
				                if (!address.trim().length) {
				                    $(this).find('#address-error').text('請輸入有效的地址');
				                    isValid = false;
				                } else {
				                    $(this).find('#address-error').text('');
				                }
				            });

				            return isValid;
				        }

				        
				        
				        
				        
				        
				        
				        
				        
				    });
				</script> -->
				
				
				
				
				
				
				<script>
    $(document).ready(function() {
        $('#checkout-btn').click(function(event) {
            event.preventDefault();

            if (validateInput()) {
                console.log('資料驗證通過，準備發送請求。');

                // 初始化購物車數據對象
	            let shoppingCartDTO = {
	                carts: []
	            };
	
	            // 假設你已經有了一種方式來區分不同的賣家和它們的產品信息
	            // 以下是一個示例過程，你需要根據自己的HTML結構進行調整
	            
	            // 遍歷每個賣家
	            $('.cart-seller').each(function() {
	                let sellerId = $(this).find('.get_sellerId').text(); // 賣家ID儲存在這裡
	                let receiver = $(this).find('.receiver-input').val(); // 收件人姓名輸入框的class
	                let mobile = $(this).find('.mobile-input').val(); // 收件人手機輸入框的class
	                let contactAddress = $(this).find('.address-input').val(); // 收件地址輸入框的class
	                
	              /*   alert(receiver);
	                alert(mobile); */
	               /*  alert(contactAddress); */
	                
	                // 組裝每個賣家的產品信息
	                let products = [];
	                $(this).find('.item-row-custom').each(function() {
	                    let productId = $(this).find('.cart-productId').text();
	                    let quantity = $(this).find('.cart-qty').text();
	                    products.push({
	                        productId: parseInt(productId),
	                        quantity: parseInt(quantity)
	                    });
	                });
	
	                // 將賣家信息添加到購物車數據對象
	                shoppingCartDTO.carts.push({
	                    sellerId: parseInt(sellerId),
	                    receiverInfo: {
	                        receiver: receiver,
	                        mobile: mobile,
	                        contactAddress: contactAddress
	                    },
	                    products: products
	                });
	            });
	            
	         // 在发送 POST 请求之前打印 shoppingCartDTO 的 JSON 字符串
	           /*  console.log(JSON.stringify(shoppingCartDTO)); */

                fetch('create_orders', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(shoppingCartDTO)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);

                    // 顯示模態框代替直接跳轉
                    $('#myModal').modal('show');
                    
                    // 在模態框關閉後進行頁面跳轉
                    $('#myModal').on('hidden.bs.modal', function (e) {
                        window.location.href = '/';
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                console.log('資料驗證失敗，停止提交。');
            }
        });

        function validateInput() {
            let isValid = true;
            
         // 遍歷每個賣家的收貨信息
            $('.cart-seller').each(function() {
                // 使用 .find() 來獲取當前賣家區塊內的輸入元素
                const name = $(this).find('.receiver-input').val();
                const mobile = $(this).find('.mobile-input').val();
                const address = $(this).find('.address-input').val();

                // 驗證姓名
                if (!/^[a-zA-Z\u4e00-\u9fa5]{1,10}$/.test(name)) {
                    $(this).find('#name-error').text('請輸入有效的姓名（最多10個字符，不含特殊字符）');
                    isValid = false;
                } else {
                    $(this).find('#name-error').text('');
                }

                // 驗證手機
                if (!/^09\d{8}$/.test(mobile)) {
                    $(this).find('#mobile-error').text('請輸入有效的手機號碼（09開頭的10位數字）');
                    isValid = false;
                } else {
                    $(this).find('#mobile-error').text('');
                }

                // 驗證地址
                if (!address.trim().length) {
                    $(this).find('#address-error').text('請輸入有效的地址');
                    isValid = false;
                } else {
                    $(this).find('#address-error').text('');
                }
            });

            return isValid;
            
            
            
            
            
            
            
        }
    });
</script>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				




		<!-- Content for All Orders Tab -->
		<!-- </div> -->
	</main>

	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout"> </footer>
	<!-- End Footer -->

	<!-- Local JS File -->
	<div th:replace="~{/fragment-js}"></div>
	<div th:replace="~{/fragment-footer}"></div>

	<!-- 前端處理顯示的結帳金額 -->
	<script>
					document
						.addEventListener(
							"DOMContentLoaded",
							function () {
								init();
			
								function init() {
									updateCheckoutAmount();
								}
			
								function handlesectionClick(event) {
									const currentClicked = this.checked;
									console.log(currentClicked);
			
									const overallSection = this
										.closest(".container-list-custom");
									const headerClicks = overallSection
										.querySelectorAll(".cart-header-click");
			
									headerClicks
										.forEach(
											function (headerClick) {
												if (currentClicked !== headerClick.checked) {
													headerClick.click();
												}
											}, this);
								}
			
								function handleItemClick(event) {
									event.stopPropagation();
			
									const secCart = this.closest(".cart-seller");
									const isAllItemClicked = secCart
										.querySelectorAll(".item-row-custom input:checked").length === secCart
											.querySelectorAll(".item-row-custom").length;
			
									secCart.querySelector(".cart-header-click").checked = isAllItemClicked;
									updateCheckoutAmount();
								}
			
								function handleHeaderClick(event) {
									event.stopPropagation();
			
									const secCart = this.closest(".cart-seller");
									const subClicks = secCart
										.querySelectorAll(".item-row-custom input");
			
									subClicks.forEach(function (subClick) {
										subClick.checked = this.checked;
									}, this);
			
									// Process overall click
									const overallSection = this
										.closest(".container-list-custom");
									const isAllHeaderClicked = overallSection
										.querySelectorAll(".header-row-custom input:checked").length === overallSection
											.querySelectorAll(".header-row-custom").length;
			
									overallSection
										.querySelector(".cart-overall-click").checked = isAllHeaderClicked;
									updateCheckoutAmount();
								}
			
								const itemClickEls = document
									.querySelectorAll(".cart-item-click");
								const headerClickEls = document
									.querySelectorAll(".cart-header-click");
								const sectionClickEl = document
									.querySelector(".cart-overall-click");
			
								itemClickEls.forEach(function (itemClickEl) {
									itemClickEl.addEventListener("click",
										handleItemClick);
								});
			
								headerClickEls.forEach(function (headerClickEl) {
									headerClickEl.addEventListener("click",
										handleHeaderClick);
								});
			
								sectionClickEl.addEventListener("click",
									handlesectionClick);
			
								function handleItemDelete(event) {
									event.stopPropagation();
			
									const rowItem = this
										.closest(".item-row-custom");
			
									if (!rowItem)
										return;
			
									const secCart = rowItem.parentElement;
			
									rowItem.remove();
			
									if (secCart
										&& secCart
											.querySelectorAll(".item-row-custom").length === 0) {
										secCart.remove();
									}
			
									updateCheckoutAmount();
								}
			
								const itemDeleteEls = document
									.querySelectorAll(".cart-item-delete");
			
								itemDeleteEls.forEach(function (itemDeleteEl) {
									itemDeleteEl.addEventListener("click",
										handleItemDelete);
								});
								
								function updateCheckoutAmount() {
							        let totalProductAmount = 0; // 用于存储商品总金额
							        let totalShippingFee = 0; // 用于存储总的运费
							        let totalAmount = 0; // 总金额，包括运费
			
							        // 遍历所有商品行
							        document.querySelectorAll(".cart-seller").forEach(function (seller) {
							            let sellerProductTotal = 0; // 单个卖家的商品总金额
							            seller.querySelectorAll(".item-row-custom").forEach(function (item) {
							                const priceElement = item.querySelector(".cart-price");
							                const price = parseFloat(priceElement.textContent);
			
							                const qtyElement = item.querySelector(".cart-qty");
							                const qty = parseFloat(qtyElement.textContent);
			
							                sellerProductTotal += (price * qty);
							            });
			
							            totalProductAmount += sellerProductTotal; // 累加到商品总金额
			
							            // 判断是否需要加运费
							            let shippingFee = 0;
							            if (sellerProductTotal < 999) {
							                shippingFee = 70; // 如果单个卖家的商品总金额没有超过999，加上运费70元
							                totalShippingFee += shippingFee; // 累加到总的运费
							            }
							        });
			
							        totalAmount = totalProductAmount + totalShippingFee; // 总金额等于商品金额加上运费
			
							        // 更新显示的商品金额、运费和总金额
							        document.querySelector(".product-total .total").textContent = totalProductAmount.toFixed(0);
							        document.querySelector(".shipping-fee .fee").textContent = totalShippingFee.toFixed(0);
							        document.querySelector(".cart-payment .payment").textContent = totalAmount.toFixed(0);
							    }
								
							
								
							});
				</script>

	<!-- <script>
function validateInput() {
    let isValid = true;

    // 姓名驗證
    const name = document.getElementById('receiver-name').value;
    const nameError = document.getElementById('name-error');
    if (!/^[a-zA-Z\u4e00-\u9fa5]{1,10}$/.test(name)) {
        nameError.textContent = '請輸入有效的姓名（最多10個字符，不含特殊字符）';
        isValid = false;
    } else {
        nameError.textContent = '';
    }

    // 手機驗證
    const mobile = document.getElementById('receiver-mobile').value;
    const mobileError = document.getElementById('mobile-error');
    if (!/^09\d{8}$/.test(mobile)) {
        mobileError.textContent = '請輸入有效的手機號碼（09開頭的10位數字）';
        isValid = false;
    } else {
        mobileError.textContent = '';
    }

    // 地址驗證
    const address = document.getElementById('receiver-address').value;
    const addressError = document.getElementById('address-error');
    if (!/^[\u4e00-\u9fa5a-zA-Z0-9\s,，]{1,100}$/.test(address)) {
        addressError.textContent = '請輸入有效的地址（最多50個字符，可包含中文、英文、數字、空格及逗號）';
        isValid = false;
    } else {
        addressError.textContent = '';
    }

    return isValid;
}

// 綁定表單提交事件
document.getElementById('checkout-btn').addEventListener('click', function(event) {
    event.preventDefault(); // 防止表單提交
    if (validateInput()) {
        // 如果驗證通過，執行提交邏輯
        console.log('提交資料');
    } else {
        console.log('驗證失敗');
    }
});
</script> -->











</body>

</html>