<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{/fragment-head}"></th:block>
</head>

<body>
	<header class="fixed-top">
		<nav class="navbar navbar-expand navbar-expand-sm navbar-light bg-user">
			<div class="container-fluid">
				<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
					<!-- Start NavBar  -->
					<!-- NavBar--LeftSide  -->
					<ul class="navbar-nav me-auto mb-2">
						<li class="nav-item d-flex align-items-center toggle-sidebar-btn">
							<i class="bi bi-list"></i> <a class="nav-link cancel-default-behavior" aria-current="page"
								href="#">選單</a>
						</li>

						<li class="nav-item d-flex align-items-center"><a class="nav-link active" aria-current="page"
								th:href="@{/}">電子商城</a>
						</li>
						<li class="nav-item"><a class="nav-link" th:href="@{/front/seller/main}">賣家中心</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/back/main}"
								style="color: red">後台中心(測試入口)</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/article/listAll}">論壇</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/front/buyer/main}"
								style="color: red">買家中心(測試入口)</a>
						</li>
					</ul>

					<!-- NavBar--RightSide  -->
					<ul class="navbar-nav ms-auto mb-2">
						<li class="nav-item" th:unless="${loggedIn}"><a class="nav-link" href="#" data-bs-toggle="modal"
								data-bs-target="#loginSelectGroup">登入或註冊</a></li>
						<li class="nav-item d-flex gap-3 align-items-center" th:if="${loggedIn}"><span
								th:if="${theName != null and theName != ''}" th:text="${theName}"></span><a
								class="nav-link" th:href="@{/logout}">登出</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End NavBar  -->


		<!-- Start SearchBar  -->
		<div class="container-fluid bg-user search-container-custom">
			<div class="row">
				<!-- Start SearchBar-Logo  -->
				<div
					class="col-auto d-none d-lg-block logo-container-height d-flex align-items-end">
					<img th:src="@{/image/Medium.png}" class="img-logo-custom" alt=""
						srcset="" />
				</div>
				<!-- End SearchBar-Logo  -->


				<!-- Start SearchBar-Input  -->
				<div
					class="col d-flex searchItem flex-column search-item-container-custom">
					<form class="form-inline w-100">
						<div class="row py-2 search-row-custom w-100 pe-2">
							<div class="col">
								<input class="form-control mr-sm-2 w-100 search-input-custom"
									type="search" placeholder="請在此進行商品檢索" aria-label="Search" />
							</div>
							<div class="col-auto">
								<button class="btn btn-user search-button-custom d-flex"
									type="submit">
									<i class="me-2 ri-search-line"></i>
									<div class="col-auto d-none d-md-block">Search</div>
								</button>
							</div>
						</div>
					</form>
<!-- 					<div class="my-2 keyword-container-custom"> -->
<!-- 						<span class="badge rounded-pill keyword-item-custom">寵物床</span> <span -->
<!-- 							class="badge rounded-pill keyword-item-custom">玩具</span> -->
<!-- 					</div> -->
				</div>
				<!-- End SearchBar-Input  -->

				<!-- Start SearchBar-Function  -->
				<div
					class="col-2 d-block col-sm-2 d-flex align-items-start justify-content-start cart-container-custom">
					<div
						class="baritem d-flex align-items-center justify-content-start cart-item-custom">
						<i class="ri-shopping-cart-2-line"></i>
						<div class="cart d-none d-lg-block ml-1">購物車</div>
					</div>
				</div>
				<!-- End SearchBar-Function  -->
			</div>
		</div>
		<!-- Start Banner  -->
		<div
			class="container-fluid justify-content-between align-items-center banner-container-custom">
			<div class="row">
				<div class="col banner-content text-center banner-content-custom">
					<p class="mb-1 mt-1 banner-para-custom">This is a sample
						horizontal full-width banner.</p>
				</div>
				<div
					class="col-auto buttona mb-0 d-flex justify-content-end banner-close-custom">
					<i class="mb-1 mt-1 ri-close-line banner-close"></i>
				</div>
			</div>
		</div>
		<!-- End Banner  -->
	</header>
	<!-- ======= Sidebar ======= -->
	<aside th:replace="front-end/buyer/aside-buyer-search.html"></aside>

	<main class="main main-layout">
		<!-- ## ListItems -->
		<div class="container mt-4">
			<h2 class="mb-4">搜尋結果</h2>

			<div class="row">
				<!-- Product 1 -->
				<div
					class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4 product-card-container"
					th:each="productVO : ${productIdList}">
					<a th:href="'/product/' + ${productVO.productId}">
						<div class="card product-card">
<!-- 							<div class="badge card-badge-custom">廣告</div> -->
<!-- 							<div class="card-status-custom">已售完</div> -->
							<img
								th:src="@{/seller/product/DBGifReader} + '?productId=' + ${productVO.productId}"
								class="card-img-top" alt="Product 1" />
							<div class="card-body d-flex flex-column justify-content-between">
								<h7 class="card-text" th:text="${productVO.productName}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h7>
								<p class="card-text" th:text=${productVO.productDetails} style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>
								<h5 class="price-tag">
									$ <span th:text=${productVO.price}></span>
								</h5>
							</div>
						</div>
					</a>
				</div>
	</main>
	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<div th:replace="@{fragment-footer}"></div>
	<div th:replace="@{fragment-js}"></div>

	<!-- Vendor & Main JS Files -->
	
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// 取得提交按鈕
			var formSubmitBtn = document.querySelector(".btn-search");
			let searchBtn = document.querySelector(".search-button-custom");

			searchBtn.addEventListener("click", handleSearchEvent)
			formSubmitBtn.addEventListener("click", handleSearchEvent)

			function handleSearchEvent(e) {
				e.preventDefault();
				e.stopPropagation();

				// 防止表單預設提交行為
				event.preventDefault();
				e.stopPropagation();


				console.log(document.querySelector(".search-input-custom"));
				// 收集表單資料
				var formData = {
					animalType: [],
					productCategory: [],
					ratings: [],
					priceFrom: document.getElementById("priceFrom").value,
					priceTo: document.getElementById("priceTo").value,
					keyword: document.querySelector(".search-input-custom").value,
				};

				console.log(formData.keyword);

				// 收集動物種類
				var animalCheckboxes = document.querySelector(".animalCheckboxes");
				var checkboxes = animalCheckboxes.querySelectorAll(
					"input[type='checkbox']"
				);

				checkboxes.forEach(function (checkbox) {
					if (checkbox.checked) {
						formData.animalType.push(checkbox.value);
					}
				});


				// 收集商品分類
				// 取得商品分類的 ul 元素
				var categoryList = document.querySelector(".categoryList");
				// 取得所有的 checkbox
				var checkboxes = categoryList.querySelectorAll(
					"input[type='checkbox']"
				);

				// 建立一個空陣列來存儲選中的值
				checkboxes.forEach((checkbox) => {
					if (checkbox.checked) {
						formData.productCategory.push(checkbox.value);
					}
				});

				// 收集商品評價
				var ratingCheckbox = document.querySelector(".ratingCheckbox");

				var checkboxes = ratingCheckbox.querySelectorAll(
					"input[type='checkbox']"
				);
				checkboxes.forEach((checkbox) => {
					if (checkbox.checked) {
						formData.ratings.push(checkbox.value);
					}
				});

				const queryString = Object.keys(formData)
					.map(key => `${encodeURIComponent(key)}=${encodeURIComponent(formData[key])}`)
					.join('&');


				alert(queryString);

				let url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;

				console.log(window.location.protocol);
				console.log(window.location.hostname);
				url += `/searchresult?${queryString}`;


				window.location.href = url;
			}



		});
	</script>

</body>
</html>
