<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>


</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/front-end/buyer/header-buyer}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{front-end/buyer/aside-buyer}"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>我的收藏</h1>

			<div class="container mt-3 container-list-custom">
				<div class="row sec-row-custom">
					<div class="col-5">商品圖片</div>
					<div class="col-3">商品名稱</div>
					<!-- 找其他網購好像不會特別寫存量這種小細節 -->
					<!--        <div class="col-2 d-flex justify-content-end">商品庫存</div> -->
					<div class="col-2 d-flex justify-content-end">價格</div>
					<div class="col d-flex justify-content-center">操作</div>
				</div>

				<!-- 如果你沒有任何收藏, 顯示這裡 -->
				<div class="col-12" th:if="${#maps.isEmpty(collectionClassfi) }">你還沒有任何收藏~</div>

				<!-- 先進行大迴圈, 區分 -->
				<section class="cart-seller mt-3"
					th:each="sellerCompany : ${collectionClassfi}">
					<div class="row header-row-custom">
						<div class="col">
							賣家名稱&nbsp;&nbsp;&nbsp; <span class="sellerName"> <b
								th:text="${sellerCompany.key}"></b>
							</span>
						</div>
					</div>

					<!-- 後套入小迴圈的資料 -->
					<div class="row item-row-custom"
						th:each="productVO : ${collectionClassfi[ sellerCompany.key ]}">
						<div class="col-1-5">
							<img
								th:src="@{/front/buyer/collection/DBGifReader} + '?productId=' + ${productVO.productId}"
								width="100px" />
						</div>
						<div class="col-3" th:text="${productVO.productName}"></div>
						<div class="col-2 d-flex justify-content-end cart-price"
							th:text="${productVO.price}"></div>
						<div
							class="col d-flex flex-column align-items-center justify-content-center">
							<button class="btn-func add-cart">加入購物車</button>
							<button class="btn-func check-product">查看商品</button>
							<!-- 						<a class="btn" -->
							<!-- 							th:href="@{switchState(memberId=9,productId=${productVO.productId})}">編輯</a> -->

							<button class="btn-func cart-item-delete"
								id="switchCollectionBTN" th:data-memberId="9"
								th:data-productId="${productVO.productId}">取消收藏</button>
							<!-- 用 Ajex 讓 BTN POST 送出請求 -->
							<script th:inline="javascript">
								/*<![CDATA[*/
								document
										.getElementById('switchCollectionBTN')
										.addEventListener(	'click',
												function() {
													var memberId = this
															.getAttribute('data-memberId');
													var productId = this
															.getAttribute('data-productId');
													var url = /*[[@{switchState}]]*/''; // 设置您的URL

													var xhr = new XMLHttpRequest();
													xhr.open('POST', url, true);
													xhr.setRequestHeader(
																	'Content-Type',
																	'application/x-www-form-urlencoded');
													xhr.onreadystatechange = function() {
														if (xhr.readyState === 4
																&& xhr.status === 200) {
															// 请求成功处理
															console.log(xhr.responseText);
														}
													};
													xhr.send('memberId='+ memberId + 
															 '&productId=' + productId);
												});
								/*]]>*/
							</script>

						</div>
					</div>
				</section>

			</div>
	</main>

	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	<div th:replace="fragment-js"></div>


	<!-- Local JS File -->

	<script>
// 		document
// 				.addEventListener(
// 						"DOMContentLoaded",
// 						function() {
// 							function handleItemDelete(event) {
// 								event.stopPropagation();

// 								const rowItem = this
// 										.closest(".item-row-custom");

// 								if (!rowItem)
// 									return;

// 								const secCart = rowItem.parentElement;

// 								rowItem.remove();

// 								if (secCart
// 										&& secCart
// 												.querySelectorAll(".item-row-custom").length === 0) {
// 									secCart.remove();
// 								}

// 								updateCheckoutAmount();
// 							}

// 							const itemDeleteEls = document
// 									.querySelectorAll(".cart-item-delete");

// 							itemDeleteEls.forEach(function(itemDeleteEl) {
// 								itemDeleteEl.addEventListener("click",
// 										handleItemDelete);
// 							});

// 							function updateCheckoutAmount() {
// 								let totalAmount = 0;

// 								// Iterate over all checked items
// 								document
// 										.querySelectorAll(
// 												".cart-item-click:checked")
// 										.forEach(
// 												function(item) {
// 													const rowItem = item
// 															.closest(".item-row-custom");
// 													console.log(rowItem);

// 													if (rowItem) {
// 														const priceElement = rowItem
// 																.querySelector(".cart-price");
// 														const price = parseFloat(priceElement.textContent);
// 														totalAmount += price;
// 													}
// 												});

// 								// Update the displayed total amount
// 								const totalAmountElement = document
// 										.querySelector(".cart-payment .payment");
// 								totalAmountElement.textContent = totalAmount
// 										.toFixed(2); // Assuming you want to display with 2 decimal places
// 							}
// 						});
	</script>
</body>
</html>
