<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>

</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/front-end/buyer/header-buyer}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{front-end/buyer/aside-buyer}"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>我的收藏</h1>

			<div class="container mt-3 container-list-custom">
				<div class="row sec-row-custom">
					<div class="col-3">商品圖片</div>
					<div class="col-3">商品名稱</div>
					<!-- 找其他網購好像不會特別寫存量這種小細節 -->
					<!--        <div class="col-2 d-flex justify-content-end">商品庫存</div> -->
					<div class="col-2 d-flex justify-content-end">價格</div>
					<div class="col d-flex justify-content-center">操作</div>
				</div>




                <!-- 未套入測試資料的假畫面 -->
				<section class="cart-seller mt-3">
					<div class="row header-row-custom">
						<div class="col">
							賣家名稱&nbsp;&nbsp;&nbsp;<span class="sellerName">ABC</span>
						</div>
					</div>

					<!-- Item 1 -->
					<div class="row item-row-custom">
						<div class="col-3">
							<img src="https://fakeimg.pl/100x100/" alt="" srcset="" />
						</div>
						<div class="col-3">AA</div>
						<div class="col-2 d-flex justify-content-end cart-qty">1</div>
						<div class="col-2 d-flex justify-content-end cart-price">23</div>
						<div
							class="col d-flex flex-column align-items-center justify-content-center">
							<button class="btn-func add-cart">加入購物車</button>
							<button class="btn-func check-product">查看商品</button>
							<button class="btn-func cart-item-delete">取消收藏</button>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="row item-row-custom">
						<div class="col-3">
							<img src="https://fakeimg.pl/100x100/" alt="" srcset="" />
						</div>
						<div class="col-3">BB</div>
						<div class="col-2 d-flex justify-content-end cart-qty">2</div>
						<div class="col-2 d-flex justify-content-end cart-price">78</div>
						<div
							class="col d-flex flex-column align-items-center justify-content-center">
							<button class="btn-func add-cart">加入購物車</button>
							<button class="btn-func check-product">查看商品</button>
							<button class="btn-func cart-item-delete">取消收藏</button>
						</div>
					</div>
				</section>

				<!-- Content for All Orders Tab -->
			</div>
	</main>

	<!-- End Main -->

	<!-- ======= Footer ======= -->
	<footer class="footer footer-layout">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-5 border-top footer-container-custom text-white">
			<div class="col d-none d-sm-block p-sm-2 px-5 px-sm-5 px-md-0"></div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">關於我們</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">人才招募</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">E狗簡介</a></li>
				</ul>
			</div>

			<div class="col p-sm-2 px-5 px-sm-5 px-md-0">
				<h5 class="mb-3">常見問題</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">聯絡E狗</a></li>
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-body-secondary">Q&A</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer-container-custom">
			<div class="col-3"></div>

			<div class="col-auto">
				<a href="/"
					class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
				</a>
				<p class="text-body-secondary">新加坡商CatTom有限公司台灣分公司 統一編號：00000000
					© 2023 CatTom.版權所有。</p>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	<div th:replace="fragment-js"></div>


	<!-- Local JS File -->

	<script>
		document
				.addEventListener(
						"DOMContentLoaded",
						function() {
							function handleItemDelete(event) {
								event.stopPropagation();

								const rowItem = this
										.closest(".item-row-custom");

								if (!rowItem)
									return;

								const secCart = rowItem.parentElement;

								rowItem.remove();

								if (secCart
										&& secCart
												.querySelectorAll(".item-row-custom").length === 0) {
									secCart.remove();
								}

								updateCheckoutAmount();
							}

							const itemDeleteEls = document
									.querySelectorAll(".cart-item-delete");

							itemDeleteEls.forEach(function(itemDeleteEl) {
								itemDeleteEl.addEventListener("click",
										handleItemDelete);
							});

							function updateCheckoutAmount() {
								let totalAmount = 0;

								// Iterate over all checked items
								document
										.querySelectorAll(
												".cart-item-click:checked")
										.forEach(
												function(item) {
													const rowItem = item
															.closest(".item-row-custom");
													console.log(rowItem);

													if (rowItem) {
														const priceElement = rowItem
																.querySelector(".cart-price");
														const price = parseFloat(priceElement.textContent);
														totalAmount += price;
													}
												});

								// Update the displayed total amount
								const totalAmountElement = document
										.querySelector(".cart-payment .payment");
								totalAmountElement.textContent = totalAmount
										.toFixed(2); // Assuming you want to display with 2 decimal places
							}
						});
	</script>
</body>
</html>
