<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragment-head}"></th:block>
    <th:block th:insert="~{/fragment-datatableCss}"></th:block>
  </head>

  <body>
    <header class="fixed-top">
    <th:block th:insert="~{/front-end/buyer/header-buyer}"></th:block>
    </header>

   <aside th:replace="@{front-end/seller/aside-seller}"></aside>

    <main class="main main-layout-seller">
      <div class="seller-container">
        <div class="pagetitle">
          <h1>訂單明細查詢</h1>
        </div>
        
        
              
        
       	  <div>
  			  <div th:text=" '訂單編號：' + ${Orderdetails[0].productOrderVO.orderId}"></div>
  			  <div th:text=" '訂單金額(含運費)：' + ${Orderdetails[0].productOrderVO.actualPay}+元"></div>
  			  <div th:text=" '訂單運費：' + ${Orderdetails[0].productOrderVO.memberPaysShipping}+元"></div>
  			 <!--  <div th:text=" '成立時間：' + ${Orderdetails[0].productOrderVO.orderTime}"></div> -->
  			  <div th:text=" '訂單建立時間：' + ${#dates.format(Orderdetails[0].productOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
<!--   			  <div th:text=" '訂單狀態：' + ${Orderdetails[0].productOrderVO.orderStatus}"></div>-->
<div th:switch="${Orderdetails[0].productOrderVO.orderStatus}">
    <span th:case="1">訂單狀態：賣家待確認</span>
    <span th:case="2">訂單狀態：訂單不成立（買家取消）</span>
    <span th:case="3">訂單狀態：訂單不成立（賣家取消）</span>
    <span th:case="4">訂單狀態：訂單成立</span>
    <span th:case="5">訂單狀態：賣家理貨中</span>
    <span th:case="6">訂單狀態：商品已出貨</span>
    <span th:case="7">訂單狀態：訂單完成</span>
    <span th:case="8">訂單狀態：付款成功</span>
    <span th:case="9">訂單狀態：付款失敗</span>
    <span th:case="10">訂單狀態：退貨</span>
    <!-- You can add more cases here for other statuses -->
    <span th:case="*">訂單狀態：未知</span> <!-- Default case if none of the above match -->
</div>

  			  <div th:text=" '收貨人姓名：' + ${Orderdetails[0].productOrderVO.receiver}"></div>
  			  <div th:text=" '聯絡電話：' + ${Orderdetails[0].productOrderVO.mobile}"></div>
  			  <div th:text=" '收貨地址：' + ${Orderdetails[0].productOrderVO.contactAddress}"></div>
  			  <div th:text=" '發票號碼：' + ${Orderdetails[0].productOrderVO.invoiceNumber}"></div>
		</div> 
		
		 
		
		
		
		
		
		
		
		
		<br>
		<br>
		<br>
		
        <div>品項內容：</div>
        
  <!-- 複合查詢表單 -->      
        <table
          id="example"
          class="table table-striped table-bordered "
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center">商品編號</th>
              <th class="text-center">商品名稱</th>
              <th class="text-center">商品價格</th>
              <th class="text-center">商品購買數量</th>
              <th class="text-center">合計</th>
              <th class="text-center">已評論</th>
              <th class="text-center">評分星數</th>
              <th class="text-center">評論時間</th>
              <th class="text-center">評論內容</th>
            </tr>
          </thead>
          
          
          <tbody>
            <th:block th:each="orderDetailsVO : ${Orderdetails}">
              <tr>
                <td class="text-center" th:text="${orderDetailsVO.productVO.productId}"></td>
                <td class="text-center" th:text="${orderDetailsVO.productVO.productName}"></td>
                <td class="text-center" th:text="'$'+${orderDetailsVO.productVO.price}"></td>
                <td class="text-center" th:text="${orderDetailsVO.purchaseQuantity}"></td>
                  <td class="text-center" th:text="${orderDetailsVO.productVO.price * orderDetailsVO.purchaseQuantity}+元"></td>
                <td class="text-center" th:text="${orderDetailsVO.isCommented == 1 ? '已評論' : '未評論'}"></td>
                <td class="text-center" th:text="${orderDetailsVO.stars != null ? orderDetailsVO.stars : '未評分'}"></td>
               <!--  <td class="text-center" th:text="${orderDetailsVO.commentedTime != null ? orderDetailsVO.commentedTime : '無'}"></td> -->
<td class="text-center" th:text="${orderDetailsVO.commentedTime != null ? #dates.format(orderDetailsVO.commentedTime, 'yyyy-MM-dd HH:mm:ss') : '無'}"></td>
                <td class="text-center" th:text="${orderDetailsVO.comments != null ? orderDetailsVO.comments : '無評論內容'}"></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </main>

    <!-- End Main -->

    

    <!-- ======= Footer, 後臺應該不需要footer ======= -->

    <!-- Vendor & Main JS Files -->
    <div th:replace="~{/fragment-footer}"></div>
    <div th:replace="~{/fragment-js}"></div>
    <div th:replace="~{/fragment-datatableJs}"></div>
    

    <!-- Include DataTables JavaScript library -->
    <!-- Include FixedColumns JavaScript library -->

    <!-- Your custom script to initialize the DataTable with fixed columns -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 初始化 DataTables

        let table = $("#example").DataTable({
          columnDefs: [
            {
              targets: -1,
              width: 150,
            }, // 調整最後一列寬度
          ],
          fixedColumns: true,
          paging: true,
          lengthMenu: [25, 50, 75, 100],
          language: {
            lengthMenu: "顯示 _MENU_ 筆資料",
          },
          pageLength: 25,
          scrollCollapse: true,
          scrollX: true,
          scrollY: 600,
          pagingType: "full_numbers",
          drawCallback: function () {
            var api = this.api();
            var rowCount = api
              .rows({
                page: "current",
              })
              .count();

            // Loop to add empty rows if needed
            for (
              var i = 0;
              i < api.page.len() - (rowCount === 0 ? 1 : rowCount);
              i++
            ) {
              var emptyRow = $("<tr><td>&nbsp;</td></tr>").addClass("empty"); // 添加 'white-bg' 類別
              $("#example tbody").append(emptyRow);
            }
          },
        });

        // 設定 DataTables 寬度為 100%
        window.onload = function () {
          table.columns.adjust().draw();
        };

        function resetTable() {
          table.clear().draw();
        }

        $(".btn-del").on("click", function () {
          let deleteId = $(this).data("delete-id");
          console.log("deleteId in Btn: " + deleteId);
          $("#confirmDeleteBtn").attr("data-delete-id", deleteId);
        });

        // Listen to the confirmDeleteBtn click event
        $("#confirmDeleteBtn").on("click", function () {
          // Retrieve the deleteId from data-delete-id attribute
          let deleteId = $(this).data("delete-id");
          console.log("deleteId in Modal: " + deleteId);

          let myModalEl = document.getElementById("deleteModal");
          let modal = bootstrap.Modal.getInstance(myModalEl);

          let currentLoc = window.location.href;
          currentLoc = currentLoc.substring(0, currentLoc.lastIndexOf("/"));
          console.log(currentLoc);

          // Your AJAX request for deletion
          $.ajax({
            url: currentLoc + "/delete?id=" + deleteId,
            method: "DELETE",
            success: function (response) {
              if (response.success) {
                alert(response.message);
                // true 表示強制從伺服器重新加載頁面，忽略緩存
                location.reload(true);
              } else {
                // 刪除失敗
                alert(response.message);
              }
            },
            error: function () {
              alert(response.message);
            },
            complete: function () {
              // This will be called regardless of success or error
              // Close the modal after the AJAX request is completed
              // Reload the DataTable
              modal.hide();
            },
          });
        });
      });
    </script>
  </body>
</html>
