<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/fragment-head}"></th:block>


</head>
<body>
	<!-- ======= Header ======= -->
	<header class="fixed-top">
		<th:block th:insert="~{/front-end/buyer/header-buyer}"></th:block>
	</header>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{front-end/buyer/aside-buyer}"></aside>

	<!-- ======= Main ======= -->
	<main class="main main-layout-seller">
		<div class="container-fluid seller-container">
			<h1>我的收藏</h1>

			<div class="container mt-3 container-list-custom">
				<div class="row sec-row-custom">
					<div class="col-5">商品圖片</div>
					<div class="col-3">商品名稱</div>
					<!-- 找其他網購好像不會特別寫存量這種小細節 -->
					<!--        <div class="col-2 d-flex justify-content-end">商品庫存</div> -->
					<div class="col-2 d-flex justify-content-end">價格</div>
					<div class="col d-flex justify-content-center">操作</div>
				</div>

				<!-- 如果你沒有任何收藏, 顯示這裡 -->
				<div class="col-12" th:if="${#maps.isEmpty(collectionClassfi) }">你還沒有任何收藏~</div>

				<!-- 先進行大迴圈, 區分 -->
				<section class="cart-seller mt-3"
					th:each="sellerCompany : ${collectionClassfi}">
					<div class="row header-row-custom">
						<div class="col">
							賣家名稱&nbsp;&nbsp;&nbsp; <span class="sellerName"> <b
								th:text="${sellerCompany.key}"></b>
							</span>
						</div>
					</div>

					<!-- 後套入小迴圈的資料 -->
					<div class="row item-row-custom"
						th:each="productVO : ${collectionClassfi[ sellerCompany.key ]}">
						<div class="col-1-5">
							<img
								th:src="@{/front/buyer/collection/DBGifReader} + '?productId=' + ${productVO.productId}"
								width="100px" />
						</div>
						<div class="col-3" th:text="${productVO.productName}"></div>
						<div class="col-2 d-flex justify-content-end cart-price"
							th:text="${productVO.price}"></div>
						<div
							class="col d-flex flex-column align-items-center justify-content-center">
							<button class="btn-func add-cart"
								th:data-productId="${productVO.productId}"
								onclick="addProductToCart(this)">加入購物車</button>
							<script>
								function addProductToCart(button) {
									var productId = button
											.getAttribute('data-productId');
									console.log("productId:" + productId);

									var data = {
										productId : productId
									}

									const formData = new FormData();
									for ( const key in data) {
										formData.append(key, data[key]);
									}
									$
											.ajax({
												url : '/front/buyer/collection/addToCart',
												type : 'POST',
												data : formData,
												contentType : false,
												processData : false,
												success : function(responseData) {
													alert('商品已加至購物車');
												},
												error : function(xhr, status,
														error) {
													console.error('Error:',
															error);
													console.log('Status:',
															status);
													console.log(
															'Response Text:',
															xhr.responseText);
												}
											});
								}
							</script>


							<a id="productLink"
								th:href="'/product/' + ${productVO.productId}"
								style="text-decoration: none; color: black" hover="color: red;">查看商品</a>
							<!-- 							<button class="btn-func check-product" th:data-memberId="9" -->
							<!-- 								th:data-productId="${productVO.productId}" -->
							<!-- 								onclick="checkProduct(this)">查看商品</button> -->
							<script>
								function checkProduct(button) {
									// 获取产品链接的<a>标签
									var productLink = document
											.getElementById('productLink');
									if (productLink) {
										// 模拟点击<a>标签
										productLink.click();
									}
								}

								// 								function checkProduct(button) {
								// 									var memberId = button
								// 											.getAttribute('data-memberId');
								// 									console.log("memberId:" + memberId);

								// 									var productId = button
								// 											.getAttribute('data-productId');
								// 									console.log("productId:" + productId);

								// 									var urlStr = "/front/buyer/collection/product/"
								// 											+ button
								// 													.getAttribute('data-productId');
								// 									console.log("urlStr:" + urlStr);

								// 									var data = {
								// 										memberId : memberId,
								// 										productId : productId
								// 									}

								// 									const formData = new FormData();
								// 									for ( const key in data) {
								// 										formData.append(key, data[key]);
								// 									}
								// 									console.log("AJAX門前");
								// 									$
								// 											.ajax({
								// 												url : urlStr,
								// 												type : 'GET',
								// 												data : formData,
								// 												contentType : false,
								// 												processData : false,
								// 												success : function(responseData) {

								// 													const pathname = location.pathname;
								// 													const b = pathname.split('/')
								// 													b.pop();

								// 													const productId = 123;
								// 													const targetUrl = b.join('/') + `/product/${productId}`

								// 													let scheme = responseData.scheme;
								// 													let port = responseData.port;
								// 													let domainName = responseData.domainName;

								// 													// 組合 URL
								// 													let redirectUrl = scheme
								// 															+ "://"
								// 															+ domainName;
								// 													if (port) {
								// 														redirectUrl += ":"
								// 																+ port
								// 																+ "/front-end/buyer/buyer-commidity"
								// 																+ "?productVO=productVO&&sellerVO=sellerVO";
								// 													}
								// 													// 這裡可以添加具體的路徑，如果有的話
								// 													// redirectUrl += "/path";

								// 													// 跳轉至組合後的 URL
								// 													window.location.href = targetUrl;
								// 												},
								// 												error : function(xhr, status,
								// 														error) {
								// 													console.error('Error:',
								// 															error);
								// 													console.log('Status:',
								// 															status);
								// 													console.log(
								// 															'Response Text:',
								// 															xhr.responseText);
								// 												}
								// 											});
								// 								}
							</script>


							<button class="btn-func cart-item-delete"
								th:id="'switchCollectionBTN_'+${productVO.productId}"
								th:data-productId="${productVO.productId}"
								onclick="cancelCollection(this)">取消收藏</button>
							<!-- 用 Ajex 讓 BTN POST 送出請求 -->
							<script>
								function cancelCollection(button) {
									var productId = button
											.getAttribute('data-productId');
									console.log("productId:" + productId);

									var data = {
										productId : productId
									}

									const formData = new FormData();
									for ( const key in data) {
										formData.append(key, data[key]);
									}
									$
											.ajax({
												url : '/front/buyer/collection/switchState',
												type : 'POST',
												data : formData,
												contentType : false,
												processData : false,
												success : function(responseData) {
												},
												error : function(xhr, status,
														error) {
													console.error('Error:',
															error);
													console.log('Status:',
															status);
													console.log(
															'Response Text:',
															xhr.responseText);
												}
											});
									console.log("已發出請求");
									var itemRow = button
											.closest('.item-row-custom');
									if (itemRow) {
										itemRow.style.display = 'none';
									}
								}
							</script>

						</div>
					</div>
				</section>

			</div>
		</div>
	</main>

	<!-- End Main -->

	<!-- ======= Footer ======= -->

	<!-- End Footer -->
	<div th:replace="~{/fragment-js}"></div>
	<div th:replace="~{/fragment-footer}"></div>


	<!-- Local JS File -->

	<script>
		// 		document
		// 				.addEventListener(
		// 						"DOMContentLoaded",
		// 						function() {
		// 							function handleItemDelete(event) {
		// 								event.stopPropagation();

		// 								const rowItem = this
		// 										.closest(".item-row-custom");

		// 								if (!rowItem)
		// 									return;

		// 								const secCart = rowItem.parentElement;

		// 								rowItem.remove();

		// 								if (secCart
		// 										&& secCart
		// 												.querySelectorAll(".item-row-custom").length === 0) {
		// 									secCart.remove();
		// 								}

		// 								updateCheckoutAmount();
		// 							}

		// 							const itemDeleteEls = document
		// 									.querySelectorAll(".cart-item-delete");

		// 							itemDeleteEls.forEach(function(itemDeleteEl) {
		// 								itemDeleteEl.addEventListener("click",
		// 										handleItemDelete);
		// 							});

		// 							function updateCheckoutAmount() {
		// 								let totalAmount = 0;

		// 								// Iterate over all checked items
		// 								document
		// 										.querySelectorAll(
		// 												".cart-item-click:checked")
		// 										.forEach(
		// 												function(item) {
		// 													const rowItem = item
		// 															.closest(".item-row-custom");
		// 													console.log(rowItem);

		// 													if (rowItem) {
		// 														const priceElement = rowItem
		// 																.querySelector(".cart-price");
		// 														const price = parseFloat(priceElement.textContent);
		// 														totalAmount += price;
		// 													}
		// 												});

		// 								// Update the displayed total amount
		// 								const totalAmountElement = document
		// 										.querySelector(".cart-payment .payment");
		// 								totalAmountElement.textContent = totalAmount
		// 										.toFixed(2); // Assuming you want to display with 2 decimal places
		// 							}
		// 						});
	</script>
</body>
</html>
