<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{/fragment-head}"></th:block>
</head>

<body>
	<header th:replace="~{/fragment-headerV2}"></header>

	<!-- 	這個Script產品專用 -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>

	<!-- ======= Sidebar ======= -->
	<aside th:replace="@{front-end/buyer/aside-buyer}"></aside>

	<main class="main main-layout">

		<div th:each="productImgVO, iterStat : ${productImageList}">
			<!-- 			<a -->
			<!-- 				th:href="@{'/front/seller/product/DBGifProductImgsReader?productImgId=' + ${productImgVO.productImgId}}">link</a> -->
		</div>

		<!-- ## ListItems -->
		<div class="container mt-4 container-commidity-custom py-4">
			<div class="row">
				<div class="col-6">
					<div class="container-fluid mt-2 mb-3">
						<div class="row">
							<div class="card commidity-card-custom">
								<ul id="lightSlider">
									<li
										th:data-thumb="@{/seller/product/DBGifReader} + '?productId=' + ${productVO.productId}">
										<img class="img-fluid"
											th:src="@{/seller/product/DBGifReader} + '?productId=' + ${productVO.productId}"
											style="max-width: 500px; max-height: 500px;"/>
									</li>
									<li th:each="productImgVO, iterStat : ${productImageList}"
										th:data-thumb="@{/seller/product/DBGifProductImgsReader(productImgId=${productImgVO.getProductImgId()})}">
										<img class="img-fluid"
											th:src="@{/seller/product/DBGifProductImgsReader(productImgId=${productImgVO.getProductImgId()})}"
											style="max-width: 500px; max-height: 500px;" />
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<h1 class="fw-bold" th:text=${productVO.productName}></h1>
					<section class="commidity-details-custom d-flex">
						<h2 class="fw-bold col-5">商品售價</h2>
						<h2 class="fw-bold col-7 text-userdark" id="price" th:text="'NT$'+${productVO.Price}"></h2>
					</section>

					<section class="commidity-details-custom d-flex">
						<h5 class="fw-bold col-5">庫存</h5>
						<h5 class="fw-bold col-7" id="stock" th:text=${productVO.productStockQuantity}>50件</h5>
					</section>

					<section class="commidity-details-custom d-flex">
						<h5 class="fw-bold col-5">數量</h5>
						<h5 class="fw-bold col-7" id="orderNum">
							<input type="number" class="form-control mx-2" id="quantityInput" value="1" min="1"
								style="width: 150px;">
						</h5>
					</section>

				

					<section class="commidity-details-custom d-flex">
						<h5 class="fw-bold col-5">運費</h5>
						<h5 class="fw-bold col-7" id="orderNum">NT$ 60</h5>
					</section>

					<section class="commidity-details-custom d-flex justify-content-start gap-3">
						<div class="col-auto d-flex">
							<button class="btn btn-collection-custom" onclick="switchFavoritesStatus()">
								<i class="ri-heart-line"></i><i class="ri-heart-fill"
									style="display:none;"></i>&nbsp;&nbsp;加入收藏
							</button>
							<script>
								// 定義一個函數, 每次操作加入收藏按鈕都切換收藏狀態
								function switchFavoritesStatus() {
									const addToFavoritesBtn = document.querySelector('.btn-collection-custom');
									// 如果按鈕存在
									if (addToFavoritesBtn) {
										// 獲取商品ID或其他需要的資訊
										const currentUrl = window.location.href;
										const productId = currentUrl.match(/\d+$/)[0]; // 從網址中抓商品ID
										console.log("我要更新收藏狀態的productId" + productId);

										// 建立 XMLHttpRequest 物件
										const xhr = new XMLHttpRequest();

										// 設定要發送的請求，包含商品ID參數
										xhr.open('GET', `/front/buyer/collection/switchState/${productId}`, true);

										// 設定請求成功後的回調函數
										xhr.onload = function () {
											if (xhr.status >= 200 && xhr.status < 300) {
												// 後端回傳該商品是否已經加入收藏
												// const responseData = JSON.parse(xhr.responseText);
												const responseData = xhr.responseText;
												console.log("!!這個現在很怪喔!responseData=" + responseData);
												if (responseData === "已將商品移出收藏" || responseData === "已將商品加入收藏") {
													alert(responseData);
												}
												else {
													alert("請登入會員以使用收藏與其他便利功能");
												}

												// 顯示跳窗提示回傳訊息
												// alert(responseData);
											} else {
												console.error('Request failed with status:', xhr.status);
												alert("收藏功能錯誤");
											}
										};

										// 設定請求失敗時的回調函數
										xhr.onerror = function () {
											console.error('Request failed');
										};

										// 發送請求
										xhr.send();
									};

								};


								// 定义一个函数，用于绑定事件和发送请求
								function checkFavoritesStatus() {
									// 找到加入收藏按钮
									const addToFavoritesBtn = document.querySelector('.btn-collection-custom');
									// 如果按鈕存在, 而且買家有登入
									if (addToFavoritesBtn && true) {
										// 獲取商品ID或其他需要的資訊
										const currentUrl = window.location.href;
										const productId = currentUrl.match(/\d+$/)[0]; // 從網址中抓商品ID
										console.log(productId);

										// 建立 XMLHttpRequest 物件
										const xhr = new XMLHttpRequest();

										// 設定要發送的請求，包含商品ID參數
										xhr.open('GET', `/front/buyer/collection/product/${productId}`, true);
										console.log("有走道發送請求這步");

										// 設定請求成功後的回調函數
										xhr.onload = function () {
											if (xhr.status >= 200 && xhr.status < 300) {
												// 後端回傳該商品是否已經加入收藏
												// const responseData = JSON.parse(xhr.responseText);
												const responseData = xhr.responseText;
												console.log("??還是你壞掉??responseData=" + responseData);
												// 根據回傳的狀態進行相應的處理
												if (responseData.trim() === "true") {
													// 商品已經加入收藏，顯示相應的提示或處理邏輯
													console.log('該商品已經在您的收藏清單中！');
													addToFavoritesBtn.innerHTML = '<i class="ri-heart-fill"></i>&nbsp;&nbsp;收藏中';
												} else {
													// 商品尚未加入收藏，可以執行加入收藏的動作
													// 這裡可以觸發加入收藏的相關邏輯
													console.log('商品不是你的收藏');
													addToFavoritesBtn.innerHTML = '<i class="ri-heart-line"></i>&nbsp;&nbsp;加入收藏';
												}
											} else {
												console.error('Request failed with status:', xhr.status);
											}
										};

										// 設定請求失敗時的回調函數
										xhr.onerror = function () {
											console.error('Request failed');
										};

										// 發送請求
										xhr.send();
									}
								}

								// 在頁面載入完成後自動執行一次
								document.addEventListener('DOMContentLoaded', checkFavoritesStatus);
							</script>

							<!-- <button class="btn btn-like-custom" style="display: none">
								<i class="ri-heart-fill"></i>&nbsp;&nbsp;取消收藏
							</button> -->
						</div>
						<div class="col-auto d-flex">
							<button class="btn btn-shopcart-custom" onclick="addIntoCart()">
								<i class="ri-shopping-cart-2-line"></i>&nbsp;&nbsp;放入購物車
							</button>
						</div>
						<script>
							// 定義一個函數, 每次操作加入購物車按鈕都依照所指定數量, 將該商品加入購物車(已有則疊加)
							function addIntoCart() {
								// 抓到按鈕, 還有數量設定的欄位
								const addToFavoritesBtn = document.querySelector('.btn-shopcart-custom');
								const quantityInput = document.getElementById('quantityInput');
								// 如果按鈕存在且設定數量欄位存在
								if (addToFavoritesBtn && quantityInput) {
									// 獲取商品ID或其他需要的資訊
									const currentUrl = window.location.href;
									const productId = currentUrl.match(/\d+$/)[0]; // 從網址中抓商品ID
									const productQty = quantityInput.value;
									console.log("我要加入購物車的是productId=" + productId + " ,productQty=" + productQty);

									// 構建要傳遞的資料
									const data = {
										productId: productId,
										productQty: productQty
									};

									// 發送 POST 請求
									fetch('/front/buyer/cart/addToCartFromProduct', {
										method: 'POST',
										headers: {
											'Content-Type': 'application/json'
										},
										body: JSON.stringify(data)
									})
										.then(response => response.json())
										.then(data => {
											console.log('加入購物車成功:', data);
											alert('已經加入購物車');
										})
										.catch(error => {
											console.error('加入購物車失敗:', error);
											alert('請登入會員以使用購物車與其他便利功能!');
										});
								};
							};
						</script>

						<div class="col-auto d-flex">
							<button class="btn btn-userdark text-white" id="buyItNow-btn">
								&nbsp;&nbsp;直接購買</button>
						</div>
						<script>
							$(document).ready(function () {
								$('#buyItNow-btn').click(function () {
									console.log("測試訊息:有綁到直接購買按鈕");
									// 將商品資訊封裝成資料, 轉成JSON字串
									let goingBuyProduct = new Map();
									let keyName = "keyName";
									const currentUrl = window.location.href;
									const urlReturn = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/front/buyer/order_checkout';
									let productId = currentUrl.match(/\d+$/)[0];
									let productQty = document.getElementById('quantityInput').value;
									goingBuyProduct.set(keyName, [{ "productId": productId, "productQty": productQty }]);
									console.log("測試訊息:goingBuyProduct=" + goingBuyProduct);
									const obj = Object.fromEntries(goingBuyProduct);
									const GoingBuyProductJsonStr = JSON.stringify(obj);
									console.log("測試訊息:GoingBuyProductJsonStr" + GoingBuyProductJsonStr);

									// 使用 jQuery AJAX 送出 POST 請求
									$.ajax({
										url: '/front/buyer/buyProductWithoutCart', // 替換成你的 POST 請求 URL
										type: 'POST',
										contentType: 'application/json', // 設置請求header
										data: GoingBuyProductJsonStr, // 資料轉JSON JSON 格式
										success: function (responseData) {
											window.location.href = urlReturn;
											console.log(responseData);
											console.log('POST 请求成功');
										},
										error: function (xhr, status,
											error) {
											// 请求失败处理
											console.error('POST 请求失败:',
												error);
											console.log('狀態:', status);
											console.log('回應內容:',
												xhr.responseText);
										}
									});
								});
							});
						</script>
					</section>
				</div>
			</div>
		</div>
		<div class="container mt-4 container-commidity-custom">
			<div class="row">
				<div class="col-12 bg-user">
					<h5 class="d-flex mb-0 py-2">商品描述</h5>
				</div>
			</div>

			<div class="row py-3">
				<div class="col-12 text-wrap commidity-desp-custom" id="description"
					th:text=${productVO.productDetails}></div>

				<div>⚠️為了讓各位有愉快的消費經驗 ⚠️購買前務必詳細閱讀 ◇◆◇◆◇◆◇◆◇下單須知◇◆◇◆◇◆◇◆◇
					🐻本賣場能下單的商品大部份都是現貨 如遇缺貨會即時告知 🐻商品有任何問題請先聊聊反應 我們會即時處理，切勿以評價作為溝通
					🐻出貨時間:周一至周五，六日及國定假日是店休日 🐻台灣出貨，非海外賣家，寄出3~4個工作天即到門市 🐻本賣場由蝦皮代開電子發票
					需要統編的朋友記得在結帳步驟中選填 有任何發票問題都可以直接詢問蝦皮客服</div>

			</div>
		</div>

		<div class="container mt-4 container-commidity-custom">
			<div class="row">
				<div class="col-12 bg-user">
					<h5 class="d-flex mb-0 py-2">商品評價</h5>
				</div>
			</div>

			<div class="row py-3">
				<div class="col-12 d-flex commidity-rate-custom" id="description">
					<div class="d-flex align-items-center justify-content-end user-icon">
						<i class="ri-user-fill" style="font-size: 30px">&nbsp;&nbsp;</i>
					</div>
					<div class="d-flex flex-column user-comment">
						<h5 class="comment-account fw-bold mb-0">account1</h5>
						<div class="comment-star d-flex">
							<i class="bi bi-star-fill text-userdark"></i> <i class="bi bi-star"></i> <i
								class="bi bi-star"></i> <i class="bi bi-star"></i> <i class="bi bi-star"></i>
						</div>
						<div class="comment-time">2023-01-1</div>
					</div>
					<div class="col-3 user-commentarea d-flex text-wrap">
						SSSSSSSSSSSS SSSSSSSSS</div>
				</div>
				<div class="col-12 d-flex commidity-rate-custom" id="description">
					<div class="d-flex align-items-center justify-content-end user-icon">
						<i class="ri-user-fill" style="font-size: 30px">&nbsp;&nbsp;</i>
					</div>
					<div class="d-flex flex-column user-comment">
						<h5 class="comment-account fw-bold mb-0">account1</h5>
						<div class="comment-star d-flex">
							<i class="bi bi-star-fill text-userdark"></i> <i class="bi bi-star"></i> <i
								class="bi bi-star"></i> <i class="bi bi-star"></i> <i class="bi bi-star"></i>
						</div>
						<div class="comment-time">2023-01-1</div>
					</div>
					<div class="col-3 user-commentarea d-flex text-wrap">
						SSSSSSSSSSSS SSSSSSSSS</div>
				</div>
			</div>
		</div>
	</main>

	<!-- End Footer -->
	<div th:replace="~{/fragment-footer}"></div>
	<div th:replace="~{/fragment-js}"></div>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			$("#lightSlider").lightSlider({
				gallery: true,
				item: 1,
				loop: true,
				slideMargin: 50,
				thumbItem: 6
			});
		});

		function decrementQuantity() {
			var quantityInput = document.getElementById("quantityInput");
			if (quantityInput.value > 1) {
				quantityInput.value--;
			}
		}

		function incrementQuantity() {
			var quantityInput = document.getElementById("quantityInput");
			quantityInput.value++;
		}
	</script>
</body>

</html>