<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragment-head}"></th:block>
  </head>
  <body>
  
    <!-- ======= Header ======= -->
    <header class="fixed-top">
      <th:block th:insert="~{/front-end/buyer/header-buyer}"></th:block>
    </header>

    <!-- ======= Sidebar ======= -->
    <aside th:replace="@{front-end/buyer/aside-buyer}"></aside>

    <!-- ======= Main ======= -->

    <main class="main main-layout-seller">
      <div class="special-text-container" style="margin-bottom: 300px;">
      
      
      
       <h2>結帳</h2>

        <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane show active" id="bordered-overall" role="tabpanel" aria-labelledby="overall-tab">
                <div class="container mt-3 container-list-custom">

                    <div class="row product-row-custom" style="padding-left: 0; padding-right: 0;">
                        <div class="col-1-5">商品序號</div>
                        <div class="col-1-5">商品名稱</div>
                        <div class="col-2">數量</div>
                        <div class="col-2">價格</div>
                        <div class="col-2">合計</div>
                        <div class="col-1">操作</div>
                    </div>

                    <div class="row item-row-custom">
                        <div class="col-1-5">1</div>
                        <div class="col-1-5">商品A</div>
                        <div class="col-2">100</div>
                        <div class="col-1-5">
                            <span>$1000</span>
                        </div>
                        <div class="col-1-5">$120,000</div>
                        
                        <div class="col-2">
                            <div class="d-flex flex-column align-items-center">

                                <form method="post" action="/front/seller/product/getOne_For_Update">
                                    <button type="submit" class="product align-self-start btn-func">確認商品</button>
                                    <input type="hidden" name="productId" value="1">
                                </form>


                                <form id="deleteForm${productVO.productId}" method="post"
                                    action="/front/seller/product/deleteStatus"
                                    onsubmit="return confirmDelete('${productVO.productId}');">
                                    <button type="submit" class="product align-self-start btn-func">刪除</button>
                                    <input type="hidden" name="productId" value="1">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row item-row-custom">
                        <div class="col-1-5">2</div>
                        <div class="col-1-5">商品D</div>
                        <div class="col-2">120</div>
                        <div class="col-1-5">
                            <span>$1000</span>
                        </div>
                        <div class="col-1-5">$120,000</div>
                        
                        <div class="col-2">
                            <div class="d-flex flex-column align-items-center">

                                <form method="post" action="/front/seller/product/getOne_For_Update">
                                    <button type="submit" class="product align-self-start btn-func">確認商品</button>
                                    <input type="hidden" name="productId" value="4">
                                </form>


                                <form id="deleteForm${productVO.productId}" method="post"
                                    action="/front/seller/product/deleteStatus"
                                    onsubmit="return confirmDelete('${productVO.productId}');">
                                    <button type="submit" class="product align-self-start btn-func">刪除</button>
                                    <input type="hidden" name="productId" value="4">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row item-row-custom">
                        <div class="col-1-5">3</div>
                        <div class="col-1-5">商品E</div>
                        <div class="col-2">200</div>
                        <div class="col-1-5">
                            <span>$1000</span>
                        </div>
                        <div class="col-1-5">$120,000</div>
                        
                        <div class="col-2">
                            <div class="d-flex flex-column align-items-center">

                                <form method="post" action="/front/seller/product/getOne_For_Update">
                                    <button type="submit" class="product align-self-start btn-func">確認商品</button>
                                    <input type="hidden" name="productId" value="5">
                                </form>


                                <form id="deleteForm${productVO.productId}" method="post"
                                    action="/front/seller/product/deleteStatus"
                                    onsubmit="return confirmDelete('${productVO.productId}');">
                                    <button type="submit" class="product align-self-start btn-func">刪除</button>
                                    <input type="hidden" name="productId" value="5">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 30px;"></div>

            <form>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #41464b;
                                background-color: #e2e3e5;
                                border-color: #d3d6d8;">
                                收件者資訊
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">同會員資訊</label>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">*姓名:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPassword3" style="width: 30%;">
                                        <div style="color: red;">
                                            *此為必填欄位
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">*手機:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPassword3"
                                            placeholder="09xx000xxx" style="width: 30%;">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">*電子信箱:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPassword3" style="width: 30%;">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">*地址:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPassword3" style="width: 30%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div style="margin-top: 30px;"></div>
            <form>
                <div class="accordion accordion-flush" id="paymentAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#paymentCollapse" aria-expanded="false" aria-controls="paymentCollapse"
                                style="color: #41464b; background-color: #e2e3e5; border-color: #d3d6d8;">
                                選擇付款方式
                            </button>
                        </h2>
                        <div id="paymentCollapse" class="accordion-collapse collapse"
                            data-bs-parent="#paymentAccordion">
                            <div class="accordion-body">
                                <div class="form-check-group">
                                    <div class="mb-3 form-check">
                                        <input type="radio" class="form-check-input" name="paymentMethod"
                                            id="creditCard">
                                        <label class="form-check-label" for="creditCard">信用卡</label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="radio" class="form-check-input" name="paymentMethod" id="atm">
                                        <label class="form-check-label" for="atm">ATM轉帳</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div style="margin-top: 30px;"></div>
            <form>
                <div class="accordion accordion-flush" id="deliveryAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#deliveryCollapse" aria-expanded="false"
                                aria-controls="deliveryCollapse"
                                style="color: #41464b; background-color: #e2e3e5; border-color: #d3d6d8;">
                                選擇取貨方式
                            </button>
                        </h2>
                        <div id="deliveryCollapse" class="accordion-collapse collapse"
                            data-bs-parent="#deliveryAccordion">
                            <div class="accordion-body">
                                <div class="form-check-group">
                                    <div class="mb-3 form-check">
                                        <input type="radio" class="form-check-input" name="deliveryMethod"
                                            id="convenienceStore" value="convenienceStore">
                                        <label class="form-check-label" for="convenienceStore">超商結帳</label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="radio" class="form-check-input" name="deliveryMethod"
                                            id="homeDelivery" value="homeDelivery">
                                        <label class="form-check-label" for="homeDelivery">宅配到府</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <div style="display: flex; justify-content: flex-end;">
                <div>
                    訂單金額:10,000<br>
                    運費:100<br>
                    結帳金額:10,100
                </div>
            </div>
            <div style="margin-top: 30px;"></div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success">結帳</button>
            </div>














      </div>
    </main>
  
    <!-- End Main -->
 

    <!-- ======= Footer ======= -->

    <div th:replace="@{fragment-footer}"></div>
    <div th:replace="@{fragment-js}"></div>
  

    <!-- Local JS File -->
  </body>
</html>
